/* css for date-time in form event */
@import "~ng-pick-datetime/assets/style/picker.min.css";

/* css  fullcalendar compnent open-time */
@import "~fullcalendar/dist/fullcalendar.min.css";
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-Regular.eot');
    src: url('/assets/fonts/Cabin-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Cabin-Regular.woff') format('woff'),
        url('/assets/fonts/Cabin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-Regular_1.eot');
    src: url('/assets/fonts/Cabin-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Cabin-Regular_1.woff') format('woff'),
        url('/assets/fonts/Cabin-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-Regular_2.eot');
    src: url('/assets/fonts/Cabin-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Cabin-Regular_2.woff') format('woff'),
        url('/assets/fonts/Cabin-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Yanone facefont */

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_1.eot');
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_1.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_1.woff') format('woff'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_2.eot');
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_2.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_2.woff') format('woff'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_3.eot');
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_3.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_3.woff') format('woff'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Cabin";
    /*background-color: #15062b;
    color: #fff;*/
}

p {
    font-family: "Cabin";
   /* font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;*/
}

h1.h1-title {
    margin-bottom: 30px;
}
/* START HEADER*/
#header-wrapper {
    background-color: #15062b;
}
#header-wrapper .logo {
    padding: 0px;
    height: 100px;
}
#header-wrapper .logo img{
    height: 100%;
    width: auto;
}
#header-wrapper .navbar-default.navbar-header-section {
    margin: 0px;
    background: none;
    border: 0px;
}
#header-wrapper .navbar-default .navbar-nav>li>a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
#header-wrapper .navbar-default .navbar-nav>.active>a, 
#header-wrapper .navbar-default .navbar-nav>.active>a:focus, 
#header-wrapper .navbar-default .navbar-nav>.active>a:hover {
    background: none;
    color: #fff;
}

/* END HEADER*/
/* START FOOTER*/
#footer-wrapper {
    color: #fff;
    background-image: linear-gradient(347deg, #07487b, #3c0034);
}
#footer-wrapper .menuwidget a:hover{
    color: #da139a;
    text-decoration: underline;
}
#footer-wrapper #email-contact{
    color: #fff;
}
#footer-wrapper #email-contact:hover{
    color: #da139a;
    text-decoration: underline;
}
.footer-contact {
    margin-bottom: 35px;
}

.box_footer {
    padding-top: 25px;
}

.footer-contact img {
    width: 160px;
}

.menuwidget.nav li {
    width: 100%;
} 
.menuwidget.nav li a {
    font-size: 18px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
}
.menuwidget.nav li a:hover {
    background: transparent;
}
.helio-footer-info p, 
.contact-text p {
    font-size: 14px;
}
/* END FOOTER*/
/* START BREADCRUMB */
.breadcrumb {
    background: none;
}
.breadcrumb>li+li:before {
    content: "\003e";
}
/* END BREADCRUMB */
/* CONTENT */
.container.main {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* START DATATABLE */

/* END DATATABLE */

@media (min-width: 768px) {
    /* START HEADER*/
    #header-wrapper .navbar-default .navbar-nav>li>a {
        padding: 40px 15px;
    }

    #header-wrapper .navbar-default .navbar-nav>li>a:last-child {
        padding-right: 0px;
    }
    /* END HEADER*/
}

/* Table */
.dataTables_paginate{
    margin-top: 20px;
}
.dataTables_filter, .dataTables_length{
    margin-bottom: 15px;
}
.dataTables_wrapper{
    margin-bottom: 20px;
}
.dataTable thead tr>th:first-child{
    background-image: none;
}
.custom_table thead tr>th:first-child{
    width: 60px;
}


/* 
    Custom button add
    author: Lam; 
*/
.custom-title .custom-button{
    color: black;
    background-color: #fff;
    border-color: black;
    margin-bottom: 10px;
}
.custom-title .icon-button {
    font-size: 14px;
    padding-right: 9px;
}
.custom-title{
    margin: 20px 0;
    border-bottom: 2px solid #111111;
}
.custom-title>div{
    padding-right: 0px;
    padding-left: 0px;
}

/* 
    custom multi select user
    author: Lam; 
*/
.multiselect_user{
    margin-top: 40px;
}
.multiselect_user .row-border{
    font-size: 12px;
}
.multiselect_user .datatable-content{
    width: 47%;
}
.multiselect_user .button-move{
    width: 6%;
    margin-top: 20%;
}
.multiselect_user .button-move button{
    margin-top: 10px;
    margin-left: 15px;
}
.multiselect_user #DataTables_Table_1_wrapper {
    overflow: auto !important;
}
.multiselect_user .dataTables_scrollBody{
    min-height: 433px;
}

/*
    Button change language
    author: Lam;
*/
.language button {
    width: 50px;
}
.language button.btn:focus {
    outline: none;
}
.alert h4{
    padding-left: 15px;
    font-size: 14px;
}

/*
    ToaString
    author: Lam;
*/
#toast-container{
    font-size: 16px;
}
@media only screen and (max-width : 768px) {
    .multiselect_user .datatable-content{
        width: 100%;
    }
    .multiselect_user .button-move{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
}
