<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/hot/list">Quản Lý Hot</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chỉnh Sửa Hot</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row mt-30 mb-30">
    <div class="col-xs-12 col-md-12">
        <h3>Chỉnh Sửa Hot</h3>
        <hr/>
    </div>
</div>
<form-hot *ngIf="hot" [hot]="hot"></form-hot>
