<div class="container">
	<div class=" form-group row">
		<p>Thêm Phí Giao Dịch</p>
	</div>
	<hr>
	<form [formGroup]="feeAddForm">
		<div class="form-group row">
	        <div class="col-sm-1">
	            <label>Phí</label>
	        </div>
	        <div class="col-sm-2">
	            <input type="number" class="form-control no-arrow" formControlName="fee">
            	<show-error-valid [control]="feeAddForm.get('fee')"></show-error-valid>
	        </div>
	       <select formControlName="fee_type" id="fee_type" class="form-control">
			  <option value="%" selected >%</option>
			  <option value="vnd">VND</option>
			</select>
	    </div>
		<div class="form-group row">
	        <div class="col-sm-1">
	            <label>Vị trí</label>
	        </div>
	        <div class="col-sm-6">
	            <input type="radio" value="tickets" formControlName="position">Phí Chuyển Ticket
				<input type="radio" value="deposit" formControlName="position"> Phí Nạp Tiền
	        </div>
	    </div>
	    <div class="form-group row">
	        <div class="col-sm-offset-1 col-sm-6">
	            <input type="checkbox" formControlName="is_apply">Áp Dụng Phí
            	<show-error-valid [control]="feeAddForm.get('is_apply')"></show-error-valid>
	        </div>
	    </div>

	    <button class="btn btn-primary col-md-offset-4" (click)="createFee(feeAddForm.value)" [disabled]="feeAddForm.invalid" routerLink="/fee">
        LƯU LẠI
    </button>
	</form>
</div>