<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li><a routerLink='/'>Trang Chủ</a></li>
		<li><a routerLink="/fee/list">Phí Giao Dịch</a></li>
		<li class="active" >Thêm Phí Giao Dịch</li>
	</ol>
</nav>
<div class="container">
	<div class="row mt-30 mb-30">
		<p class="title text-center">Thêm Phí Giao Dịch</p>
	    <hr/>
	</div>
	<ng-container *ngIf="errorMessage">
	<h4 *ngFor="let error of errorMessage | mapToIterable" class="error_msg">
	{{error.val}}
	</h4>
	</ng-container>
	<form [formGroup]="feeAddForm" (ngSubmit)="createFee(feeAddForm.value, feeAddForm.valid)">
		<div class="form-group row">
			<div class="col-sm-1">
				<label>Phí</label>
			</div>
			<div class="col-sm-2">
				<input type="number" class="form-control no-arrow" formControlName="fee"
				#fee  step="1" onkeydown="javascript: return event.keyCode == 69 ? false : true">
			</div>
			<select formControlName="fee_type" id="fee_type" class="form-control">
				<option value="%" selected >%</option>
				<option value="vnd">VNĐ</option>
			</select>
			<div *ngIf="(feeAddForm.controls.fee.pristine && submitted)" class="col-sm-offset-1 feeAddForm_error" >
					Trường này không được bỏ trống.
				</div>
				<div *ngIf="feeAddForm.controls.fee.invalid && (feeAddForm.controls.fee.dirty)" class="col-sm-offset-1 feeAddForm_error">
					<div *ngIf="feeAddForm.controls.fee.errors.max">
						Số ký tự cho phép tối đa là 10.
					</div>
					<div *ngIf="feeAddForm.controls.fee.errors.min">
						Gía trị phải lớn hơn 0.
					</div>
					<div *ngIf="feeAddForm.controls.fee.errors.required">
						Trường này không được bỏ trống.
					</div>
				</div>
		</div>
		
		<div class="form-group row">
			<div class="col-sm-1">
				<label>Vị Trí</label>
			</div>
			<div class="col-sm-6">
				<input type="radio" value="tickets" formControlName="position" id="tickets">
				<label for="tickets">Phí Chuyển Ticket</label>
				<input type="radio" value="deposit" formControlName="position" id="deposit">
				<label for="deposit"> Phí Nạp Tiền</label>
				<div [hidden]="feeAddForm.controls.position.valid || (feeAddForm.controls.position.pristine && !submitted)" class="position_error">
					Trường này không được bỏ trống.
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-offset-1 col-sm-6">
				<input type="checkbox" formControlName="is_apply" id="is_apply">
				<label for="is_apply">Áp Dụng Phí</label>
				<show-error-valid [control]="feeAddForm.get('is_apply')"></show-error-valid>
			</div>
		</div>
		<hr>
		<div class="col-md-12">
			<button class="pull-right btn btn-primary" >
			LƯU LẠI
			</button>
		</div>
	</form>
</div>