

#fee_type{
	width: 90px;
}
.feeAddForm_error{
	color: red;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
/* hidden arrow in number input */
.no-arrow::-webkit-inner-spin-button, 
.no-arrow::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
