*.DS_Store

*.pyc

logs/*

!public/
public/*

!public/media/
public/media/*

!public/media/hots/
!public/media/banners/
!public/media/events/
!public/media/games/
!public/media/posts/
!public/media/types/
