Django==1.10.5
mysql-python
django-modeltranslation
Pillow
django-allauth
django-rest-auth
django-rest-auth[with_social]
djangorestframework-jwt
django-grappelli
django-ckeditor
django-mssql
django-pymssql
uwsgi

#-e git+git://github.com/mvpdev/django-eav.git#egg=django-eav
