/*Begin title-ad*/
.title-adv {
	border-bottom: 2px solid black;
	margin: 10px 0 20px 0;
	padding: 10px 0;
}
p.title {
	font-size: 34px;
}
/*End title-ad*/
.form-adv-add {
	padding: 0 15px;
}
/*Begin content-adv*/
.content-adv {
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}
.errors {
	color: red;
}
/*End content-adv*/