/*Begin content link-card users*/
.checkbox-link-card {
	padding: 10px;
}
.title-link-card {
	margin: 20px 0;
	border-bottom: 2px solid #111111;
}
.icon-button {
	font-size: 18px;
	padding: 10px;
}
/*End contetn link-card users*/