table.dataTable tbody th,table.dataTable tbody td {
	padding: 10px 18px;
}
.title-link-card {
	margin: 20px 0;
	border-bottom: 2px solid #111111;
}
.icon-button {
	font-size: 18px;
	padding: 10px;
}
table.dataTable.no-footer {
	border-top: 2px solid #111111;
}