<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/promotions">Quản Lý Khuyến Mãi</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chi Tiết Khuyến Mãi</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center">
    <h1 class="h1-title">CHI TIẾT KHUYÊN MÃI</h1>
</div>
<div *ngIf="message_result" class="row">
    <div class="col-md-12">
        <div *ngIf="message_result" class="alert alert-success">
            {{ message_result }}
        </div>
    </div>
</div>
<div class="row mb-20 custom-title"  *ngIf="promotion">
    <div class="col-sm-6">
        <a class="btn custom-button mb-20" routerLink="/promotions">
            <i class="fa fas fa-arrow-left icon-button"></i>
            TRỞ VỀ QUẢN LÝ KHUYẾN MÃI
        </a>
        <div>
            <p><label>ID : </label> {{promotion.id}}</p>
            <p><label>Tên Khuyến Mãi : </label> {{promotion.name}}</p>
            <p><label>Tình Trạng : </label> {{ promotion.is_draft ? "Draft" : "Đã Triển Khai" }}</p>
            <p><label>Ngày Tạo : </label> {{promotion.created | date : 'dd/MM/yyyy'}}</p>
            <p><label>Người Triển Khai :</label> {{ promotion.user_implementer?.email }}</p>
            <p><label>Loại Khuyến Mãi : </label> {{ promotion.promotion_type?.name }}</p>
            <p><label>QR code : </label> <img src="{{api_domain}}{{promotion.QR_code}}" *ngIf="promotion.QR_code" height="50px" width="50px" /></p>
        </div>
        
    </div>
    <div class="col-sm-2 qr_code">
        <button *ngIf="! promotion.QR_code" class="btn custom-button btn-block text-right" (click)="generator_QR_code($event, promotion.id)"
            data-loading-text="<i class='fa fa-spinner fa-spin'></i>Tạo QR Code">Tạo QR Code</button>
    </div>
    <div class="col-sm-4 pull-right">
        <a *ngIf="!notification_id" class="btn custom-button btn-block" [routerLink]="['/notification/add', {promotion: promotion.id, lang: lang}]">
            <i class="fa fas fa-plus icon-button"></i>
            TẠO THÔNG BÁO CHO KHUYẾN MÃI
        </a>
        <a *ngIf="notification_id" class="btn custom-button btn-block" [routerLink]="['/notification/edit/', notification_id, {lang: lang}]">
            <i class="fa fas fa-pencil-square-oicon-button"></i>
            CẬP NHẬT THÔNG BÁO CHO KHUYẾN MÃI
        </a>
        <a class="btn custom-button btn-block" [routerLink]="['/promotions/report/', promotion.id, {lang: lang}]">TỔNG HỢP TRIỂN KHAI KHUYẾN MÃI</a>
    </div>
</div>

<app-user-multiselect 
	[user_list_left]="user_list_left" 
	[user_list_right]="user_list_right" 
	(save)="updateUserPromotion($event)">	
</app-user-multiselect>