<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/denomination-list">Mệnh Giá Nạp Tiền</a></li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class='title-denomi row'>
    <a class="pull-left" routerLink="/denomination-add">Thêm Mệnh Giá Nạp Tiền</a>
</div>
<form [formGroup]="denoForm" class="row form-add-denomi" accept-charset="utf-8" novalidate="">
    <div class="content-denomi">
        <div class="form-group row">
            <div class="col-sm-2">
                <label class="center-block">Tên Mệnh Giá Nạp Tiền:</label>
            </div>
            <div class="col-sm-6">
                <input class='form-control' name="denomination" 
                formControlName="denomination" id="denomination"
                placeholder="Tên Mệnh Giá Nạp Tiền"
                
                (click)="removeMessage(errorMessage)"
                (keyup) ="format_currency($event.target.value)"
                > 
                <show-error-valid [control]="denoForm.get('denomination')"></show-error-valid>
                <div class="errors" *ngIf='errorMessage'>
                    {{errorMessage}}
                </div>
            </div>
            <div class="col-md-2">
                <p class='dv-denom'>VNĐ</p>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class='col-sm-8'>
            <button (click)="addDenomination(denoForm.value)"
            class="pull-right btn btn-info">Lưu lại</button>
        </div>
    </div>  
</form>
