.mb-30{
    margin-bottom: 30px;
}
/deep/ .modal-dialog{
    width: 60%;
}
/deep/ .modal-dialog .row .col-sm-2{
    width: 20%;
    margin-left: 20px;
}
/deep/ .modal-dialog .row .col-sm-6{
    width: 60%;
}
/deep/ .modal-content{
    padding-bottom: 40px;
}