<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/notification/list">Quản Lý Thông Báo</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chi Tiết Thông Báo</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center">
    <h1>CHI TIẾT THÔNG BÁO</h1>
</div>
<div class="row mb-30 custom-title" *ngIf="noti_detail">
    <p>
        <a class="btn custom-button" routerLink="/notification/list">
            <i class="fa fas fa-arrow-left icon-button"></i>
            TRỞ VỀ TRANG QUẢN LÝ THÔNG BÁO
        </a>
    </p>
    <p>ID: {{noti_detail.id}}</p>
    <p>Tên thông báo: {{noti_detail.subject}}</p>
    <p *ngIf="noti_detail.sent_date">Trạng thái: Đã gửi</p>
    <p *ngIf="!noti_detail.sent_date">Trạng thái: Chưa gửi</p>
    <p>Ngày gửi: {{noti_detail.sent_date | date: 'dd/MM/yyyy'}}</p>
    <p>Người gửi: {{noti_detail.sent_user}}</p>
    <p>Ngày update: {{noti_detail.modified | date: 'dd/MM/yyyy'}}</p>
    <p *ngIf="user_current"><button class="btn custom-button" (click)="checkSendNotification()" 
            [disabled]="user_current.role !== 1 && noti_detail.sent_date"
        >
            <i class="fa fas fa-paper-plane icon-button"></i>
            <ng-container *ngIf="!noti_detail.sent_date">GỬI THÔNG BÁO</ng-container>
            <ng-container *ngIf="noti_detail.sent_date">
                GỬI LẠI THÔNG BÁO
            </ng-container>
        </button>
    </p>
    <p *ngIf="user_current">
        <input type="checkbox" (change)="isUpdateNoti($event)" [disabled]="user_current.role !== 1 && noti_detail.sent_date" /> 
        Sửa thông báo đã gửi (Chức năng này chỉ dành cho System Admin)
    </p>
    <p *ngIf="is_update">
        <button type="button" class="btn custom-button" data-toggle="modal" data-target="#UpdateNoti">
            <i class="fa fas fa-pencil-square-o icon-button"></i>
            SỬA THÔNG BÁO ĐÃ GỬI
        </button>
    </p>
</div>
<div class="row">
    <app-user-multiselect 
        [user_list_left]="user_list_left"
        [user_list_right]="user_list_right"
        (save)="update_user_noti($event)"
        [promotion_id]="promotion_id"
    >
    </app-user-multiselect>
</div>
<popup-edit-notification (update_noti)='updateNoti($event)'></popup-edit-notification>