<h1 class="text-center h1-title"> SITE QUẢN TRỊ HỆ THỐNG </h1>
<div class="row">
	<div class="col-md-6">
		<div class="list-group">
			<a routerLink="/advertisement-list" class="list-group-item list-group-item-action">Quảng Cáo</a>
			<a routerLink="/banner-list" class="list-group-item list-group-item-action">Banner</a>
			<a routerLink="/feedback-list" class="list-group-item list-group-item-action">Liên Hệ</a>
			<a routerLink="/event/list" class="list-group-item list-group-item-action">Sự Kiện</a>
			<a routerLink="/faq/list" class="list-group-item list-group-item-action">Câu Hỏi Thường Gặp</a>
			<a routerLink="/feedback-list" class="list-group-item list-group-item-action">Phản Hồi</a>
			<a routerLink="/game/list" class="list-group-item list-group-item-action">Trò Chơi</a>
			<a routerLink="/hot/list" class="list-group-item list-group-item-action">Hots </a>
			<a routerLink="/post/list" class="list-group-item list-group-item-action">Bài Viết</a>
			<a routerLink="/promotion-label/list" class="list-group-item list-group-item-action">Nhãn Khuyến Mãi</a>
			<a routerLink="/link-card-list" class="list-group-item list-group-item-action">Thẻ Liên Kết</a>
			<a routerLink="/notification/list" class="list-group-item list-group-item-action">Quản Lý Thông Báo</a>
			<a routerLink="/promotions" class="list-group-item list-group-item-action">Quản Lý Khuyến Mãi</a>

			<a routerLink="/fee/list" class="list-group-item list-group-item-action">Phí Giao Dịch</a>
			<a routerLink="/denomination-list" class="list-group-item list-group-item-action">Mệnh Giá Nộp Tiền</a>
			<a routerLink="/hot-advs-list" class="list-group-item list-group-item-action">Hots Ads</a>
			<a routerLink="/promotion-type-list" class="list-group-item list-group-item-action">Loại Khuyến Mãi</a>
			<a routerLink="/open-time" class="list-group-item list-group-item-action">Giờ Mở Cửa</a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="list-group">
			<a routerLink="/user-list" class="list-group-item">User</a>
			<a routerLink="/#" class="list-group-item list-group-item-action">Phân Quyền Cho Role</a>
			<a routerLink="/#" class="list-group-item list-group-item-action">Phân Quyền cho User</a>
		</div>
	</div>
</div>

