/*Begin content-denomination*/
.check-denomi {
	padding: 10px;
}
.title-denomination {
	margin: 15px 0px;
	border-bottom: 1px solid black;
}
.button-deno {
	margin-left: 10px;
}
/*End content-denomination*/
