<a class="pull-left" routerLink="">Chỉnh sửa Quảng Cáo</a>
<br>
<div *ngIf="adv">
	<div class ="row">
	  	<div class="col-md-7">
	  		<label>Tên:</label>
	      	<input class='form-control' 
	      	required="" 
	      	name ="name"
	      	#name = "ngModel"
	      	[(ngModel)]="adv.name" placeholder="Nhập Tên Quảng Cáo"/>
	      	
	      	<input type="checkbox" name="is_show" value="{{adv.is_show}}"
	      		[(ngModel)]="adv.is_show"
	      	>
	      	<label>Hiển thị</label>

	      	<div *ngIf="name.invalid && (name.dirty || name.touched)">
	            <em [ngStyle]="{'color': 'red'}" *ngIf="name.errors.required">
	            Trường không được bỏ trống.
	            </em>
        	</div>
	  	</div>
	</div>
	<br>
  	<div class="row">
    	<div class='col-md-7'>
    		<button (click)="EditAdv()"
    		[disabled]="name.invalid"
            class="btn btn-info">Lưu lại</button>
    	</div>
    </div>
</div>

