<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nhãn Khuyến Mãi</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center">
    <h1>Nhãn Khuyến Mãi</h1>
</div>
<div class="row mt-50 mb-30 custom-title">
    <div class="col-xs-6 col-sm-6">
        <a class="btn custom-button" routerLink="/">
            <i class="fa fas fa-arrow-left icon-button"></i>
            TRỞ VỀ TRANG QUẢN TRỊ
        </a>
    </div>
    <div class="col-xs-6 col-sm-6">
        <a class="btn custom-button pull-right" routerLink="/promotion-label/add">
            <i class="fa fas fa-plus icon-button"></i>
            TẠO MỚI NHÃN KHUYẾN MÃI
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 mt-15 messsage alert alert-danger" *ngIf="errorMessage">
        <h4>{{errorMessage}}</h4>
    </div>
    <div class="col-xs-12 col-sm-12 mt-15 messsage alert alert-success" *ngIf="message_result">
        <h4>{{message_result}}</h4>
    </div>
</div>
<div>
    <table datatable class="row-border hover" *ngIf="promotion_labels">
        <thead>
            <tr>
                <th><input type="checkbox" (change)="onSelectAll($event)"/></th>
                <th>Nhãn Khuyến Mãi</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let promotion_label of promotion_labels" id="del-{{promotion_label.id}}">
                <td><input type="checkbox" (change)="onSelectCKB($event, promotion_label)" [checked]="select_checked"/></td>
                <td><a routerLink="/promotion-label/edit/{{ promotion_label.id }}">{{ promotion_label.name }}</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row dels-promotion_label" *ngIf="promotion_labels">
    <div class="col-md-3">
        <select name="" class="form-control">
            <option value="1">Xóa các phản hồi được chọn</option>
        </select>
    </div>
    <div class="col-md-3">
        {{ promotion_labels_del.length }} của {{ promotion_labels.length }} được chọn 
        <button class="btn btn-danger" (click)="deletePormotionLabelEvent()">Thực hiện</button>
    </div>
</div>