/*LIST CAREERS ITEM */
.career-div {
	padding-top: 25px;
}
.carrer-item.thumbnail {
	margin-bottom: 0px;
	padding: 0px;
	border-radius: 0px;
	border: none;
	background-color: #372f60;
}

.carrer-item.thumbnail .caption {
	padding: 15px;
}

.carrer-item.thumbnail p {
	color: #fff;
}

.carrer-item.thumbnail p.carrer-name {
	cursor: default;
	font-size: 24px;
	font-family: "Yanone Kaffeesatz"
}
.carrer-item.thumbnail p.carrer-name:hover {
	color: #fec231;
}
.div-view-more {
	margin-top: 50px;
}
a.btn-custom-style.btn-custom-style-career {
    border-image-source: linear-gradient(16deg, #0095bb, #0095bb);
}
.active a.btn-custom-style.btn-custom-style-career:focus,
a.btn-custom-style.btn-custom-style-career:focus, 
a.btn-custom-style.btn-custom-style-career:hover {
    color: #0095bb;
    background-color: #fff;
    border-image-source: linear-gradient(16deg, #15062b, #15062b);
    background-image: none;
}
/*ITEM LG HEADER*/
.careers-lg {
	margin-top: 50px;
	margin-bottom: 50px;
}
.careers-lg .carrer-item.thumbnail {
	position: relative;
}

.careers-lg .carrer-item.thumbnail .caption {
	position: absolute;
	bottom: 0px;
	background-color: #372f60;
}