/*START HEADER EVENT DETAIL CSS*/
.page-title-detail {
	width: 70%;
    position: absolute;
    top: 50%;
    left: 10%;
}
.form-title {
	width: 70%;
}

.custom-icons {
	padding-top: 15px;
}
.custom-icons a {
	color: #fff;
	padding-left: 30px;
	text-decoration: none;
	font-size: 22px;
}

.style-icon i {
	padding-right: 10px;
}
/*END HEADER EVENT DETAIL CSS*/

/*START EVENT CONTENT CSS*/
.event-content {
	padding-top: 20PX;
}

.img-event-content {
	padding: 20px 0;
}
.event-content-p {
	margin: 0px 0px 30px;
}

.title-event-content {
	font-weight: bold;
	font-size: 20px;
	margin: 30px 0;
}

.author-post {
	text-align: right;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 50px;
}
.hr-custom {
	border-color: #802ca2;
	margin: 50px 0px;
}
div.block-post-title > div > h4 {
	padding-top: 20px;
}
.col-md-6-custom {
	padding-right: 0px;
    padding-left: 0px;
}
.block-post-title {
	margin: 0 0 20px;
}
/*START BUTON ALL CSS*/
a.btn-custom-style.btn-custom-style-kids {
    border-image-source: linear-gradient(16deg, #fff, #fff);
}
.active a.btn-custom-style.btn-custom-style-kids:focus,
a.btn-custom-style.btn-custom-style-kids:focus, 
a.btn-custom-style.btn-custom-style-kids:hover {
    color: #15062b;
    background-color: #fff;
    border-image-source: linear-gradient(16deg, #15062b, #fff);
    background-image: none;
}
.button-all {
	float: right;
}
/*END BUTTON ALL CSS*/
.thumbnail-custom {
	background-color: transparent;
	border: none;
	padding: 0px;
}
.style-post a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}
.style-post p {
	padding-top: 10px;
}
.custom-other-exp {
	padding: 10px 0px 80px;
}


@media (max-width: 992px) {
	.form-title {
		width: 100%;
	}
	.page-title-detail {
        position: static;
        margin-top: 50px;
        width: 100%;
    }
    .button-all {
    	float: left;
    }
    .custom-icons a {
		color: #fff;
		padding-left: 20px;
		text-decoration: none;
		font-size: 22px;
	}

	.style-icon i {
		padding-right: 5px;
	}
}