/*START CAROUSEL*/
.carousel-custom {
    position: relative;
    margin: 0px auto;
    height: 80%;
    border: none;
    overflow: visible;
}

ol.carousel-indicators-custom .active {
    width: 40px;
    height: 4px;
    margin: 0 5px;
    background-color: #fff;
    border-color: #fff;
}
ol.carousel-indicators-custom li {
    display: inline-block;
    width: 40px;
    height: 4px;
    margin: 0 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #bd197c;
    border-color: #bd197c;
    border-radius: 0px;
}
/*END CAROUSEL*/

/*EVENT COTENT CSS*/
.content-pull-right .item-content-text {
    background: url("../images/bg_events_left.png") no-repeat;
    background-size: 100% 100%;
}

.content-pull-left .item-content-text {
    background: url("../images/bg_events_right.png") no-repeat;
    background-size: 100% 100%;
}
a.btn-custom-style.btn-custom-style-events {
    border-image-source: linear-gradient(16deg, #fff, #fff);
}
.active a.btn-custom-style.btn-custom-style-events:focus,
a.btn-custom-style.btn-custom-style-events:focus, 
a.btn-custom-style.btn-custom-style-events:hover {
    color: #23194f;
    background-color: #fff;
    border-image-source: linear-gradient(16deg, #fff, #fff);
    background-image: none;
}
/*END GAME CONTENT CSS*/

/*START BUTTON VIEW MORE*/
.div-view-more {
    margin-top: 50px;
}
a.btn-custom-style.btn-custom-style-events-view-more {
    border-image-source: linear-gradient(16deg, #322cb8, #23194f);
}
.active a.btn-custom-style.btn-custom-style-events-view-more:focus,
a.btn-custom-style.btn-custom-style-events-view-more:focus, 
a.btn-custom-style.btn-custom-style-events-view-more:hover {
    color: #23194f;
    background-color: #fff;
    border-image-source: linear-gradient(16deg, #23194f, #fff);
    background-image: none;
}
/*END BUTTON VIEW MORE*/



.month-btn-prev,
.month-btn-next {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
}

@media (max-width: 767px) {
    .content-pull-left .item-content-text,
    .content-pull-right .item-content-text
    {
        background: #23194f;
    }
}


