@import url("https://fonts.google.com/specimen/Yanone+Kaffeesatz");
@import url("https://fonts.google.com/specimen/Cabin");


body {
    font-family: "Yanone Kaffeesatz";
	background-color: #15062b;
	color: #fff;
}
/*HEADER*/
.header {
    padding: 15px 0;
}
.well.logo-div {
    background-color: transparent;
    padding: 0px;
    border: none;
}
.well.logo-div img {
    height: 100%;
}
.navbar.navbar-default{
    margin-bottom: 0px;
}
.menu .col-sm-2, .menu .col-xs-2{
    padding-right:0px !important;
}  
.menu .col-sm-10, .menu .col-xs-10{
    padding-left:0px !important;
}
.row .well.logo-div {
    margin: 0;
    text-align: center;
}
.top_link{
    padding: 15px;
}
.navbar-default {
    background: transparent;
    border: none;
}

.main-menu .navbar-nav li a {
    font-size: 26px;
    font-weight: bold;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
}
.main-menu  .navbar-nav li {
    padding: 0 15px 0 0;
}
.main-menu .navbar-nav li.active a,
.main-menu .navbar-nav li a:focus, 
.main-menu .navbar-nav li a:hover {
    color: #da139a;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #e436aa, #2c1b76);
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.menu-language a.btn-custom-header {
    font-size: 14px;
    font-weight: bold;
    font-family: "Cabin";
    color: #fff;
    padding: 5px 15px;
}

.menu-language a.active, 
.menu-language a.btn-custom-header:focus, 
.menu-language a.btn-custom-header:hover {
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(10deg, #e436aa, #2c1b76);
  border-image-slice: 1;
  text-decoration: none;
}

@media (max-width:767px) {
    .navbar-toggle.pull-left {
        margin-left: 10px;
    }
    .menu-language {
        margin-left: 0px;
    }
}
/*END HEADER*/
p {
    font-family: "Cabin";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.time-wrapper p {
    font-family: "Cabin";
    font-size: 14px;
    color: #35bdeb;
    line-height: 18px;
    margin: 0px;
    text-align: right;
}

.page-title {
    width: 100%;
    position: absolute;
    bottom: -40px;
}
.page-header-img {
    position: relative;
    margin-bottom: 60px;
}
.page-title-text {
	color: #fff;
	background: #c0f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1f194a, #c0f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1f194a, #c0f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1f194a, #c0f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1f194a, #c0f); /* Standard syntax (must be last) */
    max-width: 700px;
}



.textwidget .fa {
	margin-right: 10px;
}


#footer-wrapper {
	color: #fff;
    background-image: linear-gradient(347deg, #07487b, #3c0034);
}

.box_footer {
	padding-top: 25px;
}

a.btn-custom-style {
    border-radius: 0px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "YanoneKaffeesatz";
    font-weight: bold;
    border-style: solid;
    color: #fff;
    border-width: 1px;
    border-image-source: linear-gradient(16deg, #e436aa, #2c1b76);
    border-image-slice: 1;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.active>a.btn-custom-style,
a.btn-custom-style:focus, 
a.btn-custom-style:hover {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(16deg, #e436aa, #2c1b76);
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(16deg, #e436aa, #2c1b76);
    border-image-slice: 1;
}

.btn-custom-group a.btn-custom-style {
    padding: 6px 5px;
}

.border-dot {
    border: 0px;
    border-bottom: 3px;
    border-top: 3px;
    border-style: dotted;
}

