@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
@import url("https://fonts.googleapis.com/css?family=Cabin");


body {
    font-family: "Cabin";
    background-color: #15062b;
    color: #fff;
}

p {
    font-family: "Cabin";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.big-font-size {
    font-size: 72px;
    font-family: "Yanone Kaffeesatz";
    line-height: 80px;
    letter-spacing: 3px;
    font-weight: bold;
}
.title-content {
    font-family: "Yanone Kaffeesatz";
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 50px;
}

/*HEADER*/
.header {
    padding: 15px 0;
    background: url("../images/bg_header.png") no-repeat;
    background-size: 100% 100%;
}
.well.logo-div {
    background-color: transparent;
    padding: 0px;
    border: none;
}
.well.logo-div img {
    height: 100%;
}
.navbar.navbar-default{
    margin-bottom: 0px;
}
.menu .col-sm-2, .menu .col-xs-2{
    padding-right:0px !important;
}  
.menu .col-sm-10, .menu .col-xs-10{
    padding-left:0px !important;
}
.row .well.logo-div {
    margin: 0;
    text-align: center;
}
.top_link{
    padding: 15px;
}
.navbar-default {
    background: transparent;
    border: none;
}

.main-menu .navbar-nav li a {
    font-size: 26px;
    font-weight: bold;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
}
.main-menu  .navbar-nav li {
    padding: 0 30px 0 0;
}
.main-menu .navbar-nav li.active a,
.main-menu .navbar-nav li.active a:hover,
.main-menu .navbar-nav li a:focus, 
.main-menu .navbar-nav li a:hover {
    color: #da139a;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #e436aa, #2c1b76);
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.menu-language a.btn-custom-header {
    font-size: 14px;
    font-weight: bold;
    font-family: "Cabin";
    color: #fff;
    padding: 5px 15px;
}

.menu-language a.active {
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(10deg, #e436aa, #2c1b76);
  border-image-slice: 1;
  text-decoration: none;
}

.menu-language a.btn-custom-header:focus, 
.menu-language a.btn-custom-header:hover {
  text-decoration: none;
  color: #e436aa;
}

@media (max-width:767px) {
    .navbar-toggle.pull-left {
        margin-left: 10px;
    }
    .menu-language {
        margin-left: 0px;
    }
}
/*END HEADER*/

.time-wrapper p {
    font-family: "Cabin";
    font-size: 14px;
    color: #35bdeb;
    line-height: 18px;
    margin: 0px;
    text-align: right;
}

.page-title {
    width: 100%;
    position: absolute;
    bottom: -110px;
    
}
.page-header-img {
    position: relative;
    margin-bottom: 60px;
}
p.page-title-text {
    font-family: "Yanone Kaffeesatz";
    font-size: 176px;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 8.8px;
    text-align: center;
    color: #ffffff;
}

.textwidget .fa {
    margin-right: 10px;
}


#footer-wrapper {
    color: #fff;
    background-image: linear-gradient(347deg, #07487b, #3c0034);
}

.footer-contact {
    margin-bottom: 35px;
}

.box_footer {
    padding-top: 25px;
}

a.btn-custom-style {
    border-radius: 0px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "Yanone Kaffeesatz";
    font-weight: bold;
    border-style: solid;
    color: #fff;
    border-width: 1px;
    border-image-source: linear-gradient(16deg, #e436aa, #2c1b76);
    border-image-slice: 1;
    padding: 6px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.active>a.btn-custom-style,
a.btn-custom-style:focus, 
a.btn-custom-style:hover {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(16deg, #e436aa, #2c1b76);
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(16deg, #e436aa, #2c1b76);
    border-image-slice: 1;
}

.border-dot {
    border: 0px;
    border-bottom: 3px;
    border-top: 3px;
    border-style: dotted;
}

@media (max-width: 992px) {
    .page-title {
        position: static;
        margin-top: 50px;
    }
    p.page-title-text {
        font-size: 72px;
        letter-spacing: 3px;
    }
    div.page-header-text {
        padding-top: 0px;
    }
    .page-header-img {
        margin-bottom: 0px;
    } 
}