/*GAME COTENT CSS*/
.image-div {
    background-size: 70% 100% !important;
    height: 450px;
    margin-top: 20px;
}

.image-text-head {
    background-color: #f0f0f0;
    color: #000;
    padding-left: 30px;
    margin-left: -30px;
    margin-top: 10px;
    margin-bottom: 10px;
    word-spacing: 1px;
    letter-spacing: 1px;
    width: 100%;
}
.image-text-head p {
    position: relative;
}
.content-pull-right .image-text-head p:after {
    content: "";
    position: absolute;
    z-index: 1000;
    border-left: 10px solid #f0f0f0;
    border-bottom: 24px solid transparent;
    right: -10px;
}
.img-font-size {
    font-size: 36px;
    font-family: "Yanone Kaffeesatz";
    line-height: 45px;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.img-text-description.short_description {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-slide, 
.pricing-btn-section {
    position: relative;
    width: 67.5%;
    margin: auto;
}

.content-pull-right .kids-content-text {
    background: url("../images/bg_kids_left.png") no-repeat;
    background-size: 100% 100%;
    min-height: 450px;
}
.content-pull-right .kids-content-image {
    min-height: 450px;
}
.content-pull-right.image-div {
    background-position: right !important;
}


.content-pull-left .kids-content-text {
    background: url("../images/bg_kids_right.png") no-repeat;
    background-size: 100% 100%;
    min-height: 450px;
}
.content-pull-left .kids-content-image {
    min-height: 450px;
}

.content-pull-left .image-text-head {
    transition: background 0.2s;
    transform: skew(-15deg);
    margin-left: -33px;
}
.content-pull-left .image-text-head p {
    transform: skew(15deg);
}
.content-pull-left.image-div {
    background-position: left;
}
a.btn-custom-style.btn-custom-style-kids {
    border-image-source: linear-gradient(16deg, #f4963a, #fff);
}
.active a.btn-custom-style.btn-custom-style-kids:focus,
a.btn-custom-style.btn-custom-style-kids:focus, 
a.btn-custom-style.btn-custom-style-kids:hover {
    color: #f4963a;
    background-color: #fff;
    border-image-source: linear-gradient(16deg, #f4963a, #fff);
    background-image: none;
}
/*END GAME CONTENT CSS*/

.pricing-div {
    margin-bottom: 50px;
    margin-top: 50px;
}
.kid-btn-group {
    margin-bottom: 50px;
    margin-right: -2px;
    margin-left: -2px;
}

.kids-content-text .image-text {
    padding-top: 40px;
}


.kid-btn-group li a.btn-custom-style:hover,
.kid-btn-group li a.btn-custom-style:focus,
.kid-btn-group li a {
    border: none;
    background-color: #8a642e;
    border-radius: 0px;
    background-image: none;
    font-size: 36px;
}
.kid-btn-group li {
    padding-bottom: 25px;
    padding-right: 2px;
    padding-left: 2px;
}
.kid-btn-group li.active a.btn-custom-style {
    background-image: none;
    background-color: #fec231;
    border: none;
}

.kid-btn-group li.active a.btn-custom-style:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-width: 20px 191px 0;
    border-style: solid;
    border-color: #fec231 transparent transparent transparent;
    padding-right: 0px;
    padding-left: 0px;
}
.short-description {
    margin-top: 50px;
}
.short-description .title-content.game-name {
    color: #fec231;
    text-transform: uppercase;
}
.image-hidden-sm-up {
    display: none;
}

.div-view-more {
    margin-top: 50px;
}

@media (max-width: 1199px) { 
    .kid-btn-group li.active a.btn-custom-style:after {
        content: none;
    }
    .carousel .prevButton,
    .carousel .nextButton {
        top: 178px;
    }
}

@media (max-width: 767px) {
    .image-div {
        background: none !important;
        height: auto;
    }
    .content-pull-left .kids-content-text,
    .content-pull-right .kids-content-text
    {
        background: url("../images/m_kids_text.png") no-repeat;
        background-size: 100% 100%;
        height: auto;
        /*min-height: 400px;*/
        /*width: 100%;*/
        padding-bottom: 35px;
    }
    .content-pull-left .kids-content-image,
    .content-pull-right .kids-content-image {
        min-height: auto;
    }

    .content-pull-left .image-text-head p:after {
        content: "";
        position: absolute;
        z-index: 1000;
        border-left: 10px solid #f0f0f0;
        border-bottom: 24px solid transparent;
        right: -10px;
    }
    .content-pull-left .image-text-head {
        transition: background 0.2s;
        transform: skew(0deg);
        margin-left: -30px;
    }
    .content-pull-left .image-text-head p {
        transform: skew(0deg);
    }
    .image-hidden-sm-up {
        display: block;
    }
}