
.wrap {
    overflow: hidden;
    margin: 2px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.box {
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 50%;
}

.box2 {
    float: right;
    position: relative;
    width: 50%;
    padding-bottom: 30%;
}
.box3 {
    float: right;
    position: relative;
    width: 25%;
    padding-bottom: 20%;
    right: 25%;
}
.box4 {
    float: right;
    position: relative;
    width: 25%;
    padding-bottom: 20%;
    left: 25%;
}

.box5 {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    
}
.box6 {
    float: right;
    position: relative;
    width: 75%;
    padding-bottom: 50%;
    
}
.box7 {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 25%;
}

.boxInner {
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    overflow: hidden;
}
 .boxInner img { 
 	width: 100%;
 	height: 100%;
}


