
.play-btn-section {
    width: 85%;
    position: relative;
    margin: auto;
}

.play-btn-group {
    margin-bottom: 50px;
    margin-top: 50px;
}

.play-btn-group li a.btn-custom-style:hover,
.play-btn-group li a.btn-custom-style:focus,
.play-btn-group li a {
    border: 1px solid #000;
    background-color: #25618a;
    border-radius: 0px;
    background-image: none;
}

.play-btn-group li.active a.btn-custom-style {
    background-image: none;
    background-color: #36bdeb;
    border: 1px solid #000;
}

.play-btn-group li.active a.btn-custom-style:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-width: 20px 150px 0;
    border-style: solid;
    border-color: #36bdeb transparent transparent transparent;
}

@media (max-width: 992px) {
    .play-btn-group li.active a.btn-custom-style:after {
        background-image: none;
        background-color: #36bdeb;
        border: none;
    }
}
    

.content-section {
    font-family: "Yanone Kaffeesatz";
}
