.card-description {
	color: #15062b;
	text-align: left;
	padding-top: 15px;
}

.card-description .powercard-name {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.44;
	text-transform: uppercase;
}
.card-info-section .panel-default {
	border: none;
	margin-top: 40px;
} 

.card-info-section .panel-default .powercard-content {
	border: none;
	overflow: hidden;
	min-height: 400px;
	padding-bottom: 50px;
}

.card-info-section .panel-default .card-description {
	overflow: hidden;
	min-height: 200px;
}

.powercard .panel-default>.panel-heading.card-header,
.powercard .panel-default .card-div-bottom  button {
	background-color: #23194f;
}
.member-card .panel-default>.panel-heading.card-header, 
.member-card .panel-default .card-div-bottom button {
	background-color: #e436aa;
}
.gold-card .panel-default>.panel-heading.card-header,
.gold-card .panel-default .card-div-bottom button {
	background-color: #fec231;
}

.panel-default>.panel-heading.card-header {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.64;
	letter-spacing: 1.1px;
	text-align: center;
	color: #fff;
}

.card-div-bottom {
	margin-bottom: -15px; 
}
.card-info-section .panel-default .panel-body {
	position: relative;
}
.card-info-section .panel-default .panel-body button {
	width: 100%;
	position: absolute;
	height: 48px; 
	bottom: 0px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.8px;
	text-align: center;
	padding-top: 8px;
}
.height-limit {
	max-height: 216px;
	overflow: hidden;
}

.faqs-section {
	margin-top: 40px;
}
.faqs-title p.big-font-size {
	color: #fec231;
}

.more-less {
    float: right;
    color: #fec231;
}
.faqs-section .panel-default,
.faqs-section .panel-default>.panel-heading,
.faqs-section .panel-default>.panel-heading+.panel-collapse>.panel-body {
	background: none;
	border: none;
	color: #fff;
}

.faqs-section .panel-default>.panel-heading .panel-title,
.faqs-section .panel-default>.panel-heading .panel-title p {
	font-size: 36px;
	font-weight: bold;
	line-height: 1.11;
	letter-spacing: 1.8px;
	text-align: left;
	color: #ffffff;
}
.faqs-section .panel-default,
.faqs-section .faqs-title {
	border-bottom: 3px dotted #fff;
}
.faqs-section .panel-default>.panel-heading {
	padding: 35px 0px 20px 0px;
}
.faqs-section .panel-default .panel-body {
	padding-top: 0px;
	width: 90%;
	margin: auto;
}

.app-banner {
	margin-top: 50px;
	margin-bottom: 80px;
}