/*START CAROUSEL*/
/*ol.carousel-custom {
    top: 80%;
}*/

.carousel-custom {
    position: relative;
    margin: 30px auto;
    height: 80%;
    border: none;
    overflow: visible;
}

ol.carousel-indicators-custom .active {
    width: 40px;
    height: 4px;
    margin: 0 5px;
    background-color: #fff;
    border-color: #fff;
}
ol.carousel-indicators-custom li {
    display: inline-block;
    width: 40px;
    height: 4px;
    margin: 0 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #bd197c;
    border-color: #bd197c;
    border-radius: 0px;
}

/*END CAROUSEL*/

/*GAME COTENT CSS*/
.image-div {
    background-size: 70% 100% !important;
    height: 450px;
    margin-top: 20px;
}

.image-text-head {
    background-color: #f0f0f0;
    color: #000;
    padding-left: 30px;
    margin-left: -30px;
    margin-top: 10px;
    margin-bottom: 10px;
    word-spacing: 1px;
    letter-spacing: 1px;
    width: 100%;
}
.image-text-head p {
    position: relative;
}
.content-pull-right .image-text-head p:after {
    content: "";
    position: absolute;
    z-index: 1000;
    border-left: 10px solid #f0f0f0;
    border-bottom: 24px solid transparent;
    right: -10px;
}
.img-font-size {
    font-size: 36px;
    font-family: "Yanone Kaffeesatz";
    line-height: 45px;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
}

.description-slide, 
.pricing-btn-section {
    position: relative;
    width: 85%;
    margin: auto;
}

.content-pull-right .kids-content-text {
    background: url("../images/bg_promotion_left.png") no-repeat;
    background-size: 100% 100%;
    min-height: 450px;
}
.content-pull-right .kids-content-image {
    min-height: 450px;
}
.content-pull-right.image-div {
    background-position: right !important;
}


.content-pull-left .kids-content-text {
    background: url("../images/bg_promotion_right.png") no-repeat;
    background-size: 100% 100%;
    min-height: 450px;
}
.content-pull-left .kids-content-image {
    min-height: 450px;
}

.content-pull-left .image-text-head {
    transition: background 0.2s;
    transform: skew(-15deg);
    margin-left: -33px;
}
.content-pull-left .image-text-head p {
    transform: skew(15deg);
}
.content-pull-left.image-div {
    background-position: left;
}
a.btn-custom-style.btn-custom-style-promotion {
    border-image-source: linear-gradient(16deg, #fff, #fff);
}
.active a.btn-custom-style.btn-custom-style-promotion:focus,
a.btn-custom-style.btn-custom-style-promotion:focus, 
a.btn-custom-style.btn-custom-style-promotion:hover {
    color: #c61d82;
    background-color: #fff;
    border-image-source: linear-gradient(16deg, #fff, #fff);
    background-image: none;
}
/*END GAME CONTENT CSS*/

/*START BUTTON GROUP CSS*/
.promotion-btn-group {
    margin-right: -2px;
    margin-left: -2px;
}

.kids-content-text .image-text {
    padding-top: 40px;
}


.promotion-btn-group li a.btn-custom-style:hover,
.promotion-btn-group li a.btn-custom-style:focus,
.promotion-btn-group li a {
    border: none;
    background-color: #7d1e6a;
    border-radius: 0px;
    background-image: none;
    font-size: 36px;
}
.promotion-btn-group li {
    padding-bottom: 25px;
    padding-right: 2px;
    padding-left: 2px;
}
.promotion-btn-group li.active a.btn-custom-style {
    background-image: none;
    background-color: #ed3aa7;
    border: none;
}

.promotion-btn-group li.active a.btn-custom-style:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-width: 20px 141px 0 141px;
    border-style: solid;
    border-color: #ed3aa7 transparent transparent transparent;
}
/*END BUTTON GROUP CSS*/

.image-hidden-sm-up {
    display: none;
}

/*START BUTTON VIEW MORE*/

.div-view-more {
    margin-top: 50px;
}

a.btn-custom-style.btn-custom-style-promotion-view-more {
    border-image-source: linear-gradient(16deg, #b82c8e, #c61d82);
}
.active a.btn-custom-style.btn-custom-style-promotion-view-more:focus,
a.btn-custom-style.btn-custom-style-promotion-view-more:focus, 
a.btn-custom-style.btn-custom-style-promotion-view-more:hover {
    color: #c61d82;
    background-color: #fff;
    border-image-source: linear-gradient(16deg, #c61d82, #fff);
    background-image: none;
}

/*END BUTTON VIEW MORE*/

@media (max-width: 1199px) { 
    .promotion-btn-group li.active a.btn-custom-style:after {
        content: none;
    }
    .carousel .prevButton,
    .carousel .nextButton {
        top: 178px;
    }
}

@media (max-width: 992px) {
    .image-div {
        background: none !important;
        height: auto;
    }
    .content-pull-left .kids-content-text,
    .content-pull-right .kids-content-text
    {
        background: url("../images/m_kids_text.png") no-repeat;
        background-size: 100% 100%;
        height: auto;
        /*min-height: 400px;*/
        /*width: 100%;*/
        padding-bottom: 35px;
    }
    .content-pull-left .kids-content-image,
    .content-pull-right .kids-content-image {
        min-height: auto;
    }

    .content-pull-left .image-text-head p:after {
        content: "";
        position: absolute;
        z-index: 1000;
        border-left: 10px solid #f0f0f0;
        border-bottom: 24px solid transparent;
        right: -10px;
    }
    .content-pull-left .image-text-head {
        transition: background 0.2s;
        transform: skew(0deg);
        margin-left: -30px;
    }
    .content-pull-left .image-text-head p {
        transform: skew(0deg);
    }
    .image-hidden-sm-up {
        display: block;
    }
    /*CAROUSEL PHONE SCREEN*/
    ol.carousel-indicators-custom .active {
        width: 20px;
        height: 3px;
        margin: 0 5px;
        background-color: #fff;
        border-color: #fff;
    }
    ol.carousel-indicators-custom li {
        display: inline-block;
        width: 20px;
        height: 3px;
        margin: 0 5px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #bd197c;
        border-color: #bd197c;
        border-radius: 0px;
    }
}
