/*START IMAGE GALLERY*/
.wrap {
    overflow: hidden;
    margin: 40px 0px 80px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.box1 {
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 50%;
}

.box2 {
    float: right;
    position: relative;
    width: 50%;
    padding-bottom: 30%;
}
.box3 {
    float: right;
    position: relative;
    width: 25%;
    padding-bottom: 20%;
    right: 25%;
}
.box4 {
    float: right;
    position: relative;
    width: 25%;
    padding-bottom: 20%;
    left: 25%;
}

.box5 {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 50%;
    
}
.box6 {
    float: right;
    position: relative;
    width: 75%;
    padding-bottom: 50%;
    
}

.box-inner {
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    overflow: hidden;
}
 .box-inner img { 
 	width: 100%;
 	height: 100%;
}
/*END IMAGE GALLERY*/

/*START FAQs SECTION*/
.faqs-title p.big-font-size {
    color: #fec231; 
}

.faqs-section {
    margin-top: 80px;
}
.faqs-title p.big-font-size {
    color: #fec231;
}

.more-less {
    float: right;
    color: #fec231;
}
.faqs-section .panel-default,
.faqs-section .panel-default>.panel-heading,
.faqs-section .panel-default>.panel-heading+.panel-collapse>.panel-body {
    background: none;
    border: none;
    color: #fff;
}

.faqs-section .panel-default>.panel-heading .panel-title,
.faqs-section .panel-default>.panel-heading .panel-title p {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 1.8px;
    text-align: left;
    color: #ffffff;
}
.faqs-section .panel-default {
    border-bottom: 3px dotted #fff;
}
.faqs-section .panel-default:first-child {
    border-top: 3px dotted #fff;
}
.faqs-section .panel-default>.panel-heading {
    padding: 35px 0px 20px 0px;
}
.faqs-section .panel-default .panel-body {
    padding-top: 0px;
    width: 90%;
    margin: auto;
}
/*END FAQs SECTION*/

/*START BUTTON VIEW MORE CSS*/
.div-view-more {
    padding-top: 30px;
}
a.btn-custom-style.btn-custom-style-faqs {
    border-image-source: linear-gradient(16deg, #f4963a, #f4963a);
}
.active a.btn-custom-style.btn-custom-style-faqs:focus,
a.btn-custom-style.btn-custom-style-faqs:focus, 
a.btn-custom-style.btn-custom-style-faqs:hover {
    color: #f4963a;
    background-color: #fff;
    border-image-source: linear-gradient(16deg, #f4963a, #f4963a);
    background-image: none;
}
/*END BUTTON VIEW MORE CSS*/

.faqs-section {
    margin-top: 60px;
}