.navbar-default .nav-custom ul {
    float: none;
    display: block;
}
.sidebar-nav .navbar-custom li {
    float: none;
    display: block;
}
.sidebar-nav .navbar-custom li:after {
    background-color: #15062b;
    color: #fff;
}

.navbar-default .nav-custom {
    border: none;
}

.nav-custom {
    text-align: right;
    padding: 70px 0px 20px;
}
.nav-custom .navbar-nav>.active>a, 
.nav-custom .navbar-nav>.active>a:focus, 
.nav-custom .navbar-nav>.active>a:hover, 
.nav-custom .navbar-nav>li>a:focus,
.nav-custom .navbar-nav>li>a:hover{
    color: #fec231;
    background-color: #15062b;
    font-family: "Yanone Kaffeesatz";
    font-size: 23px;
    letter-spacing: 2px;
}
.nav-custom .navbar-nav>li>a{
    color: #fff;
    font-family: "Yanone Kaffeesatz";
    font-size: 23px;
    letter-spacing: 2px;
}
.panel-custom-content {
    padding: 70px 0px 20px;
}

.panel-custom-content p {
    padding: 10px 0px;
}
p.page-title-text {
    max-width: 980px;
}