/*begin content user list*/
#table-user_wrapper {
	overflow: scroll;
}
.checkbox-user {
	padding: 10px;
}
.title-user {
	margin: 15px 0px;
	border-bottom: 1px solid black;
	padding: 0 0 10px 0px;
}
a.pull-left {
	color: #333333;
}
a.pull-left:hover {
	text-decoration: none;
}
p.title {
	font-size: 34px;
}
td.title-email a {
	text-decoration: none;
	color: black;
} 
td.title-email a:hover {
	color: red;
}
.button-user {
	margin-left: 30px;
}
/*end content user list*/