<a class="pull-left" routerLink="/promotion-label-add">Thêm Loại Khuyến Mãi</a>
<br>
<form #addPromotionLabelForm="ngForm" class="add-type-promotion" accept-charset="utf-8" novalidate="">
	<div class="row">
		<div class="col-md-7">
			<label>Tên Loại Khuyến Mãi:</label>
			<input class='form-control' name="name" 
            ngModel
            required 
            placeholder="Nhập Tên Loại Khuyến Mãi" 
            #name="ngModel" 
            #spy
            >
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <em [ngStyle]="{'color': 'red'}" *ngIf="name.errors.required">
                Trường không được bỏ trống.
                </em>
            </div>
		</div>
    </div>
    <br>
    <div class="row">
    	<div class='col-md-7'>
    		<button (click)="CreatePromotionLabel(name.value)"
            [disabled]="addPromotionLabelForm.invalid"
            class="btn btn-info">Lưu lại</button>
    	</div>
    </div>
</form>
