<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quảng Cáo</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center">
    <p class="title">Quảng Cáo</p>
</div>
<div class='row title-adv'>
	<a class="pull-right" routerLink="/advertisement-add">
		<div class="btn btn-primary">
			<span class="glyphicon glyphicon-plus"></span>
			Thêm Quảng Cáo
		</div>
	</a>
</div>
<br>
<div class="table card-list">
	<div class="alert alert-success" *ngIf="message_result">
        {{message_result}}
    </div>
	<table id="table-adv" datatable [dtOptions]='dtOptions' [dtTrigger]="dtTrigger" class='row-border hover'>
		<thead>
	      	<tr>
	      		<th class="checkbox-adv"><input type="checkbox" id="allAdvs" value="allAdvs" name="allAdvs" (change)="checkAllAdv($event)"></th>
	        	<th>Quảng Cáo</th>
	      	</tr>
    	</thead>
    	<tbody>
   			<tr *ngFor ="let adv of advs" id="delete{{adv.id}}" >
   				<td><input type="checkbox" [checked]="checkbox" id="{{adv.id}}" value="{{adv.id}}" name="" (change)="changeCheckboxAdv($event, adv)"></td>
        		<td><a routerLink="/advertisement-detail/{{adv.id}}" >{{ adv.name }}</a></td>
   			</tr>	
    	</tbody>
	</table>
	<hr>
	<div class='row'>
		<div class="col-md-3">
			<select name="" class="form-control">
				<option value="">Xóa các quảng cáo được chọn</option>
			</select>
		</div>
		<div class="col-md-3">
			{{advs_delete.length}} của {{advs.length}} được chọn
			<button (click)="confirmDelete()" type="button" class="button-adv btn btn-danger">Thực hiện</button>
		</div>
	</div>
</div>