/* Begin Content advertiment*/
.checkbox-adv {
	padding: 10px;
}
.title-adv {
	margin: 15px 0px;
	border-bottom: 2px solid #333;
}
p.title {
	font-size: 34px;
}
a.pull-left:hover {
	text-decoration: none;
}
a.pull-left {
	color: #333;
}
.title-adv a {
	padding: 5px 0;
}
.button-adv {
	margin-left: 10px;
}

/*End Content advertiment*/