/* Begin Content advertiment*/
.checkbox-adv {
	padding: 10px;
}
.title-adv {
	margin: 15px 0px;
	border-bottom: 1px solid black;
}
.title-adv a {
	font-size: 15px;
	padding: 5px 0;
}

/*End Content advertiment*/