<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/feedback-list">Phản hồi</a></li>
            <li class="breadcrumb-item"><a routerLink="/feedback-detail">{{feedback?.name}}</a></li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->

<div class=' row area-form-feedback' >
    <div class='row edit-feedback'>
    	<a class="pull-left title-feedback">Chỉnh sửa phản hồi</a>
    </div>
    <div *ngIf='feedback'>
        <form [formGroup]="feedbackForm" novalidate>
            <div class="row form-feedback">
                <div class="col-md-8 ">
                	<div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Họ tên:</label>
                        </div>
                        <div class="col-sm-8">
                			<input class='form-control' name="name" 
                			formControlName="name"
                            [readonly]="true"
                			>
                        </div>
                	</div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Email:</label>
                        </div>
                        <div class='col-sm-8'>
                            <input class='form-control' name="email" 
                            formControlName="email"
                            [readonly]="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Số điện thoại:</label>
                        </div>
                        <div class="col-sm-8">
                            <input class='form-control' name="phone" 
                            formControlName="phone"
                            [readonly]="true"
                            >
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Chủ đề:</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea rows=3 class='form-control' name="subject" 
                            formControlName="subject"
                            [readonly]="true"
                            >
                            </textarea> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class='col-sm-3'>
                            <label class="center-block">Nội dung:</label>
                        </div>
                        <div class='col-sm-8'>
                            <textarea rows=3 class='form-control' name="message" 
                            formControlName="message"
                            [readonly]="true"
                            >
                            </textarea> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class='col-sm-3'>
                            <label class="center-block"> Loại:</label>
                        </div>
                        <div class="col-sm-8">
                             <input  class='form-control' name="feedback_type" 
                            formControlName="feedback_type"
                            [readonly]="true"
                            >
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="center-block"> Ngày nhận:</label>
                        </div>
                        <div class="col-md-8">
                           <input type='date' class='form-control' name="sent_date" 
                            formControlName="sent_date"
                            [readonly]="true"
                            > 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="center-block"> Rating:</label>
                        </div>
                        <div class='col-md-8'>
                            <input class='form-control' name="rate" 
                            formControlName="rate"
                            [readonly]="true"
                            >
                        </div> 
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="center-block"> Trạng thái xử lý:</label>
                        </div>
                        <div class="col-md-8">
                            <select class='form-control' name="status" 
                            formControlName="status">
                                <option *ngFor="let status of status" [ngValue]="status" [selected]="status === feedback.status">
                                    {{status}}
                                </option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class='col-md-3'>
                            <label class="center-block"> Câu trả lời:</label>
                        </div>
                        <div class="col-md-8">
                             <textarea rows=5 class='form-control' name="answer" 
                            formControlName="answer"
                            >
                            </textarea>
                            <show-error-valid [control]="feedbackForm.get('answer')"></show-error-valid>
                            <div *ngIf="errorMessage">
                                <em [ngStyle]="{'color': 'red'}">
                                    {{ errorMessage.answer}}
                                </em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-feedback">
                <div class="col-md-12">
                    <button type="submit" class=' pull-right btn btn-info' (click)="updateFeedback()">Lưu lại</button>
                    <button type="submit" class='pull-left btn btn-danger' (click)="confirmDeleteFeedback(feedback)" >Xóa </button>
                </div>
            </div>
        </form>
    </div>
</div>