<div class=' row area-form-feedback' >
    <div class='row edit-feedback'>
    	<a class="pull-left title-feedback">Chỉnh sửa phản hồi</a>
    </div>
    <div *ngIf='feedback'>
        <form [formGroup]="feedbackForm" novalidate>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                	<div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Họ tên:</label>
                        </div>
                        <div class="col-sm-8">
                			<input class='form-control' name="name" 
                			formControlName="name"
                            [(ngModel)]="feedback.name"
                            [readonly]="true"
                			>
                        </div>
                	</div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Email:</label>
                        </div>
                        <div class='col-sm-8'>
                            <input class='form-control' name="email" 
                            formControlName="email"
                            [(ngModel)]="feedback.email"
                            [readonly]="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Số điện thoại:</label>
                        </div>
                        <div class="col-sm-8">
                            <input class='form-control' name="phone" 
                            formControlName="phone"
                            [(ngModel)]="feedback.phone"
                            [readonly]="true"
                            >
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Chủ đề:</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea rows=3 class='form-control' name="subject" 
                            formControlName="subject"
                            [readonly]="true"
                            [(ngModel)]="feedback.subject">
                            </textarea> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class='col-sm-3'>
                            <label class="center-block">Nội dung:</label>
                        </div>
                        <div class='col-sm-8'>
                            <textarea rows=3 class='form-control' name="message" 
                            formControlName="message"
                            [readonly]="true"
                            [(ngModel)]="feedback.message">
                            </textarea> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class='col-sm-3'>
                            <label class="center-block"> Loại:</label>
                        </div>
                        <div class="col-sm-8">
                             <input  class='form-control' name="feedback_type" 
                            formControlName="feedback_type"
                            [readonly]="true"
                            [(ngModel)]="feedback.feedback_type">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="center-block"> Ngày nhận:</label>
                        </div>
                        <div class="col-md-8">
                           <input type='date' class='form-control' name="sent_date" 
                            formControlName="sent_date"
                            [readonly]="true"
                            [(ngModel)]="feedback.sent_date"
                            > 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="center-block"> Rating:</label>
                        </div>
                        <div class='col-md-8'>
                            <input class='form-control' name="rate" 
                            formControlName="rate"
                            [readonly]="true"
                            [(ngModel)]="feedback.rate"
                            >
                        </div> 
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="center-block"> Trạng thái xử lý:</label>
                        </div>
                        <div class="col-md-8">
                            <select class='form-control' name="status" 
                            formControlName="status" [(ngModel)]="feedback.status">
                                <option *ngFor="let status of status" [ngValue]="status" [selected]="status === feedback.status">
                                    {{status}}
                                </option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class='col-md-3'>
                            <label class="center-block"> Câu trả lời:</label>
                        </div>
                        <div class="col-md-8">
                             <textarea rows=5 class='form-control' name="answer" 
                            formControlName="answer"
                            [(ngModel)]="feedback.answer"
                            >
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-feedback">
                <div class="col-md-8 col-md-offset-2">
                    <button [disabled] = "feedbackForm.pristine" type="submit" class=' pull-right btn btn-info' (click)="updateFeedback()">Lưu lại</button>
                    <button type="submit" class='pull-left btn btn-danger' data-toggle="modal" data-target="#myModal" >Xóa </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Bạn có chắc chắn </h4>
        </div>
        <div class="modal-body">
          <p>Bạn muốn xóa phản hồi này.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
          <button type="button" (click)="deleteFeedback(feedback)" class=" pull-left btn btn-danger" data-dismiss="modal">Xóa </button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>