/*Begin feedback detail content*/
.edit-feedback {
	margin: 10px 15px;
	border-bottom: 2px solid black;
}
.form-feedback {
	margin-left: 15px;
}
p.title {
	font-size: 34px;
}
a.title-feedback {
	padding: 5px 0px;
	color: black;
	font-size: 15px;
}
.area-feedback ul, li {
	list-style: none;
	text-decoration: none;
}
.button-feedback {
	margin: 10px 15px;
	padding-top: 10px;
	border-top: 2px solid black;
}
/*End feedback detail content*/