<h4>{{ errorMessage }}</h4>
<form [formGroup]="formEvent" novalidate>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Tên</label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="name"/>
            <show-error-valid [control]="formEvent.get('name')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row noti-image">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Hình Ảnh</label>
        </div>
        <div class="col-sm-8">
            <input type="file" class="form-control" accept="image/*"
            (change)="onFileChange($event)" #inputImage/>
            <button type="button" class="btn btn-sm btn-danger" (click)="clearFile()">clear file</button>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Mô Tả</label>
        </div>
        <div class="col-sm-8">
            <textarea rows="3" class="form-control" formControlName="short_description"></textarea>
            <show-error-valid [control]="formEvent.get('short_description')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Nội Dung</label>
        </div>
        <div class="col-sm-8">
            <ckeditor formControlName="content"></ckeditor>
            <show-error-valid [control]="formEvent.get('content')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Ngày Bắt Đầu</label>
        </div>
        <div class="col-sm-6 input-group">
            <span class="input-group-addon" [owlDateTimeTrigger]="dt1">
                <i class="fa fa-calendar"></i>
            </span>
            <input type="text" class="form-control event-date" formControlName="start_date"
                [owlDateTime]="dt1" [max]="formEvent.value.end_date" 
            />         
            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
            <show-error-valid [control]="formEvent.get('start_date')"></show-error-valid>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Ngày Kết Thúc</label>
        </div>
        <div class="col-sm-6 input-group">
            <span class="input-group-addon" [owlDateTimeTrigger]="dt2">
                <i class="fa fa-calendar"></i>
            </span>
            <input type="text" class="form-control event-date" formControlName="end_date"
                [owlDateTime]="dt2" [min]="formEvent.value.start_date"
            />         
            <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
            <show-error-valid [control]="formEvent.get('end_date')"></show-error-valid>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Thời Gian Bắt Đầu</label>
        </div>
        <div class="col-sm-6 input-group">
            <span class="input-group-addon" [owlDateTimeTrigger]="dt3">
                <i class="fa fa-clock-o"></i>
            </span>
            <input type="text" class="form-control event-date" formControlName="start_time"
                [owlDateTime]="dt3"
            />         
            <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
            <show-error-valid [control]="formEvent.get('start_time')"></show-error-valid>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Thời Gian Kết Thúc</label>
        </div>
        <div class="col-sm-6 input-group">
            <span class="input-group-addon" [owlDateTimeTrigger]="dt4">
                <i class="fa fa-clock-o"></i>
            </span>
            <input type="text" class="form-control event-date" formControlName="end_time"
                [owlDateTime]="dt4"
            />         
            <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
            <show-error-valid [control]="formEvent.get('end_time')"></show-error-valid>
        </div>
    </div>

    <hr/>
    <button class="btn btn-primary" (click)="onDelete()" *ngIf="type_http == 'put'">
        XÓA
    </button>
    <button class="btn btn-primary pull-right" (click)="onSubmit()" [disabled]="formEvent.invalid">
        LƯU LẠI
    </button>
</form>