{% extends "layout.html" %}
{% block extrastylesheet %}
<link href="{{ STATIC_URL }}assets/websites/css/helio_custom.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .group-combo {
        margin-top: 18px;
    }
    .combo-thumbnail {
        padding: 0px;
    }
</style>



{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Member & Pricing</a></li>
    <li class="active">Product & Pricing</li>
{% endblock %}

{% block main_content %}
<div class="tabs-left" style="padding-top: 150px; padding-bottom: 150px;">
    <h1>Product & Pricing</h1>
    <hr class="line">
    <ul class="nav nav-tabs">
        <li><a href="#game_pricing" data-toggle="tab">Game Pricing</a></li>
        <li><a href="#kids_pricing" data-toggle="tab">Kids Pricing</a></li>
        <li><a href="#card_product" data-toggle="tab">Cards Product</a></li>
        <li class="active"><a href="#combo_product" data-toggle="tab">Combo Product</a></li>
    </ul>
    <div class="tab-content">
        <div class="row tab-pane active" id="combo_product">
            <div class="col-md-12" style="padding-bottom: 15px;">
                <h2 class="title">Combo Product</h2>
                <hr class="line">
                <fieldset>
                    <legend>Combo 99k</legend>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="group-combo">
                                <div class="col-md-12"> 
                                    <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops. On mobile phones, the columns will automatically stack. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="group-games">
                                <img src="{{ STATIC_URL }}assets/images/img1.jpg" class="img-responsive" style="width:100%; padding: 20px;" alt="Image">
                            </div>
                           
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Combo Kids 123</legend>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="group-combo">
                                <div class="col-md-12"> 
                                    <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops. On mobile phones, the columns will automatically stack. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="group-games">
                                <img src="{{ STATIC_URL }}assets/images/img1.jpg" class="img-responsive" style="width:100%; padding: 20px;" alt="Image">
                            </div>
                           
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Combo Tourism</legend>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="group-combo">
                                <div class="col-md-12"> 
                                    <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops. On mobile phones, the columns will automatically stack. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="group-games">
                                <img src="{{ STATIC_URL }}assets/images/img1.jpg" class="img-responsive" style="width:100%; padding: 20px;" alt="Image">
                            </div>
                           
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Combo N</legend>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="group-combo">
                                <div class="col-md-12"> 
                                    <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops. On mobile phones, the columns will automatically stack. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="group-games">
                                <img src="{{ STATIC_URL }}assets/images/img1.jpg" class="img-responsive" style="width:100%; padding: 20px;" alt="Image">
                            </div>
                           
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>
        <div class="row tab-pane" id="game_pricing">
            <div class="col-md-12">
                <h2>Game Pricing</h2>
                <hr class="line">
                <fieldset>
                    <legend>What's hot?</legend>
                
                        <p>Helio Kids là mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
                        <p>Đến với Helio Kids, bạn và con trẻ sẽ được trải nghiệm những mô hình vui chơi hoàn toàn mới lạ với hàng trăm trò chơi hấp dẫn.Với tổng diện tích lên đến hơn 2.700 m2, gồm 42 khu vực chơi, có sức chứa gần 1.000 người; Helio Kids thực sự là một khu vui chơi trong nhà và ngoài trời có quy mô hoành tráng nhất hiện nay dành cho trẻ em từ 2 - 9 tuổi tại Đà Nẵng.</p> 
                        
                   
                </fieldset>
                <fieldset>
                    <legend>What's hot?</legend>
                        <div class="footer-contact"> 
                        <p>Trung tâm giải trí phức hợp Helio Center</p> 
                        <p>Khu công viên Đông Nam Đài tưởng niệm, Đường 2/9, Phường Hòa Cường Bắc, Quận Hải Châu, TP Đà Nẵng</p> 
                        <p><span>Tel</span>(0236) 3 630 888</p> 
                        <p><span>Email: </span><a href="mailto:contact@helio.vn">contact@helio.vn</a> </p> 
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row tab-pane" id="kids_pricing">
            <div class="col-md-12">
                <h2>Kids Pricing</h2>
                <hr class="line">
                <fieldset>
                    <legend>What's hot?</legend>
                
                        <p>Helio Kids là mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
                        <p>Đến với Helio Kids, bạn và con trẻ sẽ được trải nghiệm những mô hình vui chơi hoàn toàn mới lạ với hàng trăm trò chơi hấp dẫn.Với tổng diện tích lên đến hơn 2.700 m2, gồm 42 khu vực chơi, có sức chứa gần 1.000 người; Helio Kids thực sự là một khu vui chơi trong nhà và ngoài trời có quy mô hoành tráng nhất hiện nay dành cho trẻ em từ 2 - 9 tuổi tại Đà Nẵng.</p> 
                        
                   
                </fieldset>
                 <fieldset>
                    <legend>What's hot?</legend>
                
                        <p>Trung tâm giải trí phức hợp Helio Center</p> 
                        
                   
                </fieldset>
            </div>
        </div>
        <div class="row tab-pane" id="card_product">
            <div class="col-md-12">
                <h2>Cards Product</h2>
                <hr class="line">
                <fieldset>
                    <legend>What's hot?</legend>
                
                        <p>Helio Kids là mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
                        <p>Đến với Helio Kids, bạn và con trẻ sẽ được trải nghiệm những mô hình vui chơi hoàn toàn mới lạ với hàng trăm trò chơi hấp dẫn.Với tổng diện tích lên đến hơn 2.700 m2, gồm 42 khu vực chơi, có sức chứa gần 1.000 người; Helio Kids thực sự là một khu vui chơi trong nhà và ngoài trời có quy mô hoành tráng nhất hiện nay dành cho trẻ em từ 2 - 9 tuổi tại Đà Nẵng.</p> 
                        
                   
                </fieldset>
                <fieldset>
                    <legend>What's hot?</legend>
                        <div class="footer-contact"> 
                        <p>Trung tâm giải trí phức hợp Helio Center</p> 
                        <p>Khu công viên Đông Nam Đài tưởng niệm, Đường 2/9, Phường Hòa Cường Bắc, Quận Hải Châu, TP Đà Nẵng</p> 
                        <p><span>Tel</span>(0236) 3 630 888</p> 
                        <p><span>Email: </span><a href="mailto:contact@helio.vn">contact@helio.vn</a> </p> 
                    </div>
                </fieldset>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
