{% extends "layout.html" %}
{% block extrastylesheet %}

 <style type="text/css">  
	.center-div {
		margin: 50px auto;
		width: 50%;
	}
	.input-contact {
		margin-top: 20px;
		width: 100%;
	}
	.button-contact {
		margin-top: 20px;
	}
	label.error {
		color:red;
		float: left;
		font-size: 15px;
	}
</style>
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/jquery.validate.min.js"></script>

	<script>
  	$(document).ready(function() {
	    $("#form_contact").validate({
	    	rule: {
	    		name: "required",
	    		email: {
	    			required: true,
					email: true
	    		},
	    		subject: "required"
	    	},
	    	messages: {
	    		name: "Vui long nhap ho ten",
	    		email: {
                	required: "Vui long nhap Email",
                	email: "Vui long nhap dung dia chi email. (ex. abc@adc.abc)",
            	},
	    		subject: "Vui long nhap chu de"
	    	}
	    });
	});

  </script>
{% endblock %}
{% block main_content %} 
<div class="container">
	<!-- FAQs PAGE DESCRIPTION -->
	<div class="page-top">
		<div class="page-header-img">
		    <div>
		        <img src="{{ STATIC_URL }}assets/websites/images/faqs_header.png" width="100%">
		    </div>
		    <div class="page-title" align="center">
		        <div class="col-md-12">
		            <p class="page-title-text"> LIÊN HỆ VỚI CHÚNG TÔI</p>
		        </div>
		    </div>
		</div>
	    <div align="center" class="page-header-text">
	        <div class="form-title">
	            <p class="text-description">Những câu hỏi thường gặp sẽ giúp bạn có những trải nghiệm tốt hơn khi đến Helio Center.Những câu hỏi thường gặp sẽ giúp bạn có những trải nghiệm tốt hơn khi đến Helio Center</p>
	        </div>
	    </div>
	</div>

	<!-- CONTACT FORM #TO DO CUSTOM-->
	<div class="center-div form-group" align="center">
		<form id="form_contact" class="form-contact">
			<input class="form-control input-contact" type="text" name="name" placeholder="Nhap ho ten*" required>
			<input class="form-control input-contact" type="email" name="email" placeholder="Nhap email*" required>
			<input class="form-control input-contact" type="text" name="subject" placeholder="Nhap chu de" required>
			<textarea class="form-control input-contact" rows="5" name="message" placeholder="Tin nhan cua ban"></textarea>
			<button type="submit" class="btn btn-default button-contact">GUI</button>
		</form>
	</div>
</div>
	
{% endblock %}
