{% extends "layout.html" %}

{% block title %}Event content{% endblock %}
{% block extrastylesheet %}
<style type="text/css">
	.textwrap {
		float: left;
		width: 50%;
		margin-right: 18px;
	}
	hr.style14 { 
	  border: 0; 
	  height: 3px; 
	  background-image: -webkit-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
	  background-image: -moz-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
	  background-image: -ms-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
	  background-image: -o-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0); 
	}
</style>

{% endblock %}
{% block main_content %} 
<div style="padding-left: 150px;  margin: 8px;">
	<ul class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">News & Event</a></li>
	  <li class="active">Event</li>
	</ul>
</div>
<div>
	<h2>Event Name </h2>
	<hr class="style14">
	<img src="{{ STATIC_URL }}assets/websites/images/img1.jpg" class="textwrap">
	<p>Diễn ra từ 16h đến 22h ngày 29,30/10, Phiên 4 của Ngày hội Ẩm thực hoang dại và ma mị với chủ đề “Bữa tiệc ma”. Bạn có thể đắm mình trong Khu đồng giá 20.000, quẹo lựa Khu tự do, khám phá điều kì bít tại Khu bói bài tarot, vẽ Henna và rảo bước dưới ánh sao của đêm ma quái đầy không khí. “Bữa tiệc ma” với sự tham gia của Foody và đêm nhạc Halloween cùng những món ăn đường phố mới toanh chắc chắn sẽ không làm bạn thất vọng</p>
	<p>THalloween này, đừng bở lỡ khu Go Kart race với “Đua xe cùng ma tốc độ”. Từ 21/10 đến 31/10, mỗi ngày trong các khung giờ 19h30, 20h15 và 21h, thử thách sẽ đặt ra cho những ai dám đua xe cùng Ma tốc độ, nếu thắng cuộc bạn sẽ nhận được những phần quà giá trị. Đặc biệt trong 2 đêm 29 và 30/10,  trước mỗi khung giờ diễn ra, nhân viên Go kart race sẽ trình diễn những màn drift xe đỉnh của đỉnh mãn nhãn.</p>
	<p>Sau khi trình diễn màn flashmob đêm hội, đoàn ma sẽ mở hội Đại náo Game Center tại Khu Gamezone 2. Tham gia chơi game cùng những nhân vật Cosplay này, bạn sẽ có cơ hội nhận được những phần quà hấp dẫn.</p>
	<p>Từ 19h00 đến 20h30 ngày 29,30/10, mỗi lượt nạp thẻ trị giá trên 500.000 tại Helio Center, quý khách sẽ nhận được một phiếu hóa trang mặt ma độc đáo và hấp dẫn. Bạn có thể tự biến mình thành công chúa, hoàng tử quỷ dự vũ hội, zombie, chú hề,… hay dành phần quà đó cho nhóc quỷ nhà mình.</p>
	<p>Sau khi trình diễn màn flashmob đêm hội, đoàn ma sẽ mở hội Đại náo Game Center tại Khu Gamezone 2. Tham gia chơi game cùng những nhân vật Cosplay này, bạn sẽ có cơ hội nhận được những phần quà hấp dẫn.</p>
	<p>Từ 19h00 đến 20h30 ngày 29,30/10, mỗi lượt nạp thẻ trị giá trên 500.000 tại Helio Center, quý khách sẽ nhận được một phiếu hóa trang mặt ma độc đáo và hấp dẫn. Bạn có thể tự biến mình thành công chúa, hoàng tử quỷ dự vũ hội, zombie, chú hề,… hay dành phần quà đó cho nhóc quỷ nhà mình.</p>
	<p>Không hóa trang xin kẹo thì không gọi là Halloween. Mùa Lễ hội quỷ này, Hellio Kids có nhiều chương trình hấp dẫn như “Cho kẹo hay bị ghẹo”, diễn kịch, game hoạt náo. Bố mẹ có thể ngắm nhìn bé vui chơi hoặc cùng tham gia trò vui cùng bé</p>
	<p>Bạn thấy đó, cả một lễ hội ma hoành tráng đang chờ bạn đến khám phá, chuẩn bị xinh đẹp và Helio thôi! </p>
</div>
{% endblock %}