{% extends "layout.html" %}

{% block extrastylesheet %}
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/event_detail.css">
{% endblock %}
{% block main_content %} 
<div class="page-top">
    <div class="page-header-img">
        <div>
            <img src="{{ STATIC_URL }}assets/websites/images/event_detail_header.png" width="100%">
        </div>
        <div class="page-title-detail">
            <div class="col-md-12">
                <p class="big-font-size">NGẮM CÁC SIÊU CẦU NỔI TIẾNG TRONG VÀ NGOÀI NƯỚC</p>
            </div>
            <div class="col-md-12">
            	<div class="form-title">
            		<p class="text-description page_description">Các cây cầu ở Đà Nẵng được đánh giá rất cao và vẻ đẹp cho đến việc đầu tư, ý tưởng. Đã được nhiều tổ chức trong nước và thế giới công nhận và vinh danh.</p>
            	</div>
            </div>
            <div class="col-md-12">
		        <div class="custom-icons">
		        	<a href="#" class="style-icon"><i class="glyphicon glyphicon-heart" aria-hidden="true"></i> Like</a>
		        	<a href="#" class="style-icon"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</a>
		        </div>
	        </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="event-content">
		<p class="event-content-p">Các cây cầu ở Đà Nẵng được đánh giá rất cao và vẻ đẹp cho đến việc đầu tư, ý tưởng. Đã được nhiều tổ chức trong nước và thế giới công nhận và vinh danh. Đà Nẵng là thành phố nổi tiếng với những cây cầu đặc biệt, là điểm nhấn du lịch của thành phố. Nếu như cầu sông Hàn là cầu quay duy nhất ở Việt Nam tính đến thời điểm hiện tại thì cầu Rồng lại là cầu phun lửa đầu tiên.</p>
		<div>
			<img class="img-event-content" src="{{ STATIC_URL }}assets/websites/images/event_detail_header.png" width="100%">
			<p class="title-event-content">Cầu quay Sông Hàn</p>
			<p class="event-content-p">Các cây cầu ở Đà Nẵng được đánh giá rất cao và vẻ đẹp cho đến việc đầu tư, ý tưởng. Đã được nhiều tổ chức trong nước và thế giới công nhận và vinh danh. Đà Nẵng là thành phố nổi tiếng với những cây cầu đặc biệt, là điểm nhấn du lịch của thành phố. Nếu như cầu sông Hàn là cầu quay duy nhất ở Việt Nam tính đến thời điểm hiện tại thì cầu Rồng lại là cầu phun lửa đầu tiên.</p>
			<p class="event-content-p">Các cây cầu ở Đà Nẵng được đánh giá rất cao và vẻ đẹp cho đến việc đầu tư, ý tưởng. Đã được nhiều tổ chức trong nước và thế giới công nhận và vinh danh. Đà Nẵng là thành phố nổi tiếng với những cây cầu đặc biệt, là điểm nhấn du lịch của thành phố. Nếu như cầu sông Hàn là cầu quay duy nhất ở Việt Nam tính đến thời điểm hiện tại thì cầu Rồng lại là cầu phun lửa đầu tiên.</p>
		</div>
		<div>
			<img class="img-event-content" src="{{ STATIC_URL }}assets/websites/images/event_detail_header.png" width="100%">
			<p class="title-event-content">Cầu Thuận Phước – Cầu treo dây võng dài nhất Việt Nam</p>
			<p class="event-content-p">Các cây cầu ở Đà Nẵng được đánh giá rất cao và vẻ đẹp cho đến việc đầu tư, ý tưởng. Đã được nhiều tổ chức trong nước và thế giới công nhận và vinh danh. Đà Nẵng là thành phố nổi tiếng với những cây cầu đặc biệt, là điểm nhấn du lịch của thành phố. Nếu như cầu sông Hàn là cầu quay duy nhất ở Việt Nam tính đến thời điểm hiện tại thì cầu Rồng lại là cầu phun lửa đầu tiên.</p>
		</div>
		<p class="author-post">Helio Center.</p>
	</div>
	<hr class="hr-custom">
	<div class="block-post-involved">
	    <div class="row block-post-title">
	      	<div class="col-md-6 col-md-6-custom">
	        	<h4> TRẢI NGHIỆM KHÁC</h4>
	      	</div>
	      	<div class="col-md-6 col-md-6-custom">
	        	<a class="btn button-all btn-custom-style btn-custom-style-kids" href="#" role="button">TẤT CẢ TRẢI NGHIỆM<span class="glyphicon glyphicon-menu-right"></span></a>
	      	</div>
	    </div>
	    <div class="row custom-other-exp">
	      	<div class="item col-md-4 col-xs-12">
	        	<div class="style-post">
	          		<span><a href="#" class="thumbnail thumbnail-custom"><img src="{{ STATIC_URL }}assets/websites/images/event_detail_1.png"></a></span>
	          		<a href="#">VÒNG QUAY SUNWHELL</a>
	          		<p>Sunwhell - Một trong 10 đu quay cao nhất thế giới được đặt tại Đà Nẵng đã vô cùng nổi tiếng vs thu hút cực nhiều du khách tham quan.</p>
	        	</div>
	      	</div>
	      	<div class="item col-md-4 col-xs-12">
		        <div class="style-post">
		          	<span><a href="#" class="thumbnail thumbnail-custom"><img src="{{ STATIC_URL }}assets/websites/images/event_detail_2.png"></a></span>
		          	<a href="#">SKY BAR CAO NHẤT VIỆT NAM</a>
		          	<p>Đây là quán bar được công nhận là cao nhất Việt Nam khi nào ở độ cao 166m. Nơi này cực kỳ thích hợp để ngắm toàn cảnh Đà Nẵng vào buổi đêm</p>
		        </div>
	      	</div>
	      	<div class="item col-md-4 col-xs-12	">
		        <div class="style-post">
		          	<span><a href="#" class="thumbnail thumbnail-custom"><img src="{{ STATIC_URL }}assets/websites/images/event_detail_3.png"></a></span>
		          	<a href="#">A LA CARTE HOLTEL</a>
		          	<p>Nội thất tinh tế kiểu Tây với gam màu trắng chủ đạo. DDaqcj biệt là hồ bơi tràn biển với góc nhìn trực tiếp ra bãi biển cát trắng đẹp đến ngỡ ngàng</p>
		        </div>
	      	</div>
	    </div>
  	</div>

</div>

{% endblock %}