{% extends "layout.html" %}
{% load i18n %} 
{% block extrastylesheet %}
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/helio_item.css">
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/events.css">
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src = "{{ STATIC_URL }}assets/websites/js/events.js"></script>
{% endblock %}
{% block main_content %} 
<!-- Page Header -->
<div class="container">
    <!-- CARD PAGE DESCRIPTION -->
    <div class="page-top">
        <div class="page-header-img">
            <div id="eventsCarousel" class="carousel slide carousel-custom" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators carousel-indicators-custom">
                    <li data-target="#eventsCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#eventsCarousel" data-slide-to="1"></li>
                    <li data-target="#eventsCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{{ STATIC_URL }}assets/websites/images/power_card_header.png" alt="Helio">
                    </div>
                    <div class="item">
                        <img src="{{ STATIC_URL }}assets/websites/images/power_card_header.png" alt="Helio">
                    </div>
                    <div class="item">
                        <img src="{{ STATIC_URL }}assets/websites/images/power_card_header.png" alt="Helio">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if result.events_map %}
    <div class="row layer-coursel-btn">
        <div class="col-md-6">
            {% for key, values in result.events_map.items %}
                <h4 class="event-month">{{key}}</h4>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <button class="month-btn-prev" href="#month_coursel" data-slide="prev"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <button class="month-btn-next" href="#month_coursel" data-slide="next"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="row events-list layer-coursel-item">
        <div class="carousel slide month-carousel carousel-fade" id="month_coursel">
            <div class="carousel-inner">
            {% for key, values in result.events_map.items %}
                <div class="item events-list-by-month">
                    <div class="carousel slide events-courcel" id="event_coursel_{{forloop.counter}}">
                        <div class="carousel-inner">
                            {% for x, datas in values.items %}
                                <div class="item event-item col-xs-12">
                                {% for event in datas %}
                                    <div class="col-7 col-xs-2">
                                        <div class="events-name-div">
                                            <p class="events-name">{{event.name}}</p>
                                        </div>
                                        <div class="events-date-div">
                                            <p class="events-date">
                                                {{ event.start_date | date:"d/m" }} - 
                                                {{ event.start_date | date:"l" }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div align="center" class="col-md-12 event-coursel-btn-group">
                            <button class="event-btn-prev" href="#event_coursel_{{forloop.counter}}" data-slide="prev"><i class="fa fa-caret-left" aria-hidden="true"></i>Trước</button>
                            <button class="event-btn-next" href="#event_coursel_{{forloop.counter}}" data-slide="next">Sau <i class="fa fa-caret-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>
    {% endif %}

    {% if result.events %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="events_content">
            <div class="row view-more-div">
                <!--  KID GAME CONTENT -->
                <div class="kids-game-content col-md-12">
                    {% for event in result.events %}
                    {% if forloop.counter|divisibleby:2 %} 
                    <div class="item-line content-pull-left col-md-12" style="display: none;">
                        <div class="row">
                            <div class="item-content-text col-md-5 pull-right">
                                <div class="col-md-9 image-text pull-right">
                                    <div class="image-text-head">
                                        <p>CHUONG TRINH HE <span class="glyphicon glyphicon-play"></span></p>
                                    </div>
                                    <p class="item-name">{{event.name}}</p>
                                    <p class="item-description short_description">{{event.short_description}}</p>
                                    <a class="btn btn-custom-style btn-custom-style-events" href="#" role="button">{% trans "btn.click_now" %}<span class="glyphicon glyphicon-menu-right"></span></a>
                                </div>
                            </div>
                            <div class="item-content-image col-md-9">
                                <div class="row"><img src="{{ MEDIA_URL }}{{event.image}}" width="100%" height="100%"></div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="item-line content-pull-right col-md-12" style="display: none;">
                        <div class="row">
                            <div class="item-content-text col-md-5">
                                <div class="col-md-9 image-text">
                                    <div class="image-text-head">
                                        <p>CHUONG TRINH HE <span class="glyphicon glyphicon-play"></span></p>
                                    </div>
                                    <p class="item-name">{{event.name}}</p>
                                    <p class="item-description short_description">{{event.short_description}}</p>
                                    <a class="btn btn-custom-style btn-custom-style-events" href="#" role="button">{% trans "btn.click_now" %}<span class="glyphicon glyphicon-menu-right"></span></a>
                                </div>
                            </div>
                            <div class="item-content-image col-md-9 ">
                                <div class="row">
                                    <img src="{{ MEDIA_URL }}{{event.image}}" width="100%" height="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="btn-read-more div-view-more col-md-12" align="center">
                    <a class="btn-view-more btn-custom-style btn-custom-style-events-view-more" role="button">{% trans "btn.view_more" %}</a>
                </div>
            </div>
            
        </div>
    </div>
    {% endif %}

    <!-- DOWNLOAD APP BANNER -->
    <div class="app-banner">
        <a href="#"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a>
    </div>
</div>

{% endblock %}