{% extends "layout.html" %}

{% block extrastylesheet %}
<style type="text/css">

	hr.style14 { 
	  border: 0; 
	  height: 3px; 
	  background-image: -webkit-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
	  background-image: -moz-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
	  background-image: -ms-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
	  background-image: -o-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0); 
	}
	.li {
		font-size: 25px;
		font-weight: : bold;
	}
	ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #fff;
    font-size: 17px;
	}
	ul.breadcrumb li {display: inline;}
	ul.breadcrumb li+li:before {
	    padding: 8px;
	    color: black;
	    content: ">";
	}
	ul.breadcrumb li a {
	    color: #0275d8;
	    text-decoration: none;
	}
	ul.breadcrumb li a:hover {
	    color: #01447e;
	    text-decoration: underline;
	}
</style>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Enjjoy Fun</a></li>
    <li class="breadcrumb-item"><a href="{% url 'helio_play' %}">Helio Play</a></li>
    <li class="active">Game name N</li>
{% endblock %}
{% block main_content %} 
<div class="row">
	<div class="col-md-12" >
		<h1>Game name N</h1>
		<hr class="style14">
				<p>Bootstrap includes a powerful mobile-first flexbox grid system for building layouts of all shapes and sizes. It’s based on a 12 column layout and has multiple tiers, one for each media query range. You can use it with Sass mixins or our predefined classes.</p>
				<p>Bootstrap includes a powerful mobile-first flexbox grid system for building layouts of all shapes and sizes. It’s based on a 12 column layout and has multiple tiers, one for each media query range. You can use it with Sass mixins or our predefined classes.</p>
				<p>Bootstrap includes a powerful mobile-first flexbox grid system for building layouts of all shapes and sizes. It’s based on a 12 column layout and has multiple tiers, one for each media query range. You can use it with Sass mixins or our predefined classes.</p>
				<p>Bootstrap includes a powerful mobile-first flexbox grid system for building layouts of all shapes and sizes. It’s based on a 12 column layout and has multiple tiers, one for each media query range. You can use it with Sass mixins or our predefined classes.</p>
	</div>
</div>
<div style="padding: 30px 0px 30px 0px;">
	<span class="glyphicon glyphicon-play-circle" style="font-size: 30px;">  Clip
	</span>
</div>
<div class="row"">
	
	<div class="col-md-12" style="text-align: center;">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/_ehtOCrIbQM" frameborder="0"></iframe>	
	</div>
</div>
<div style="padding: 30px 0px 30px 0px;">
	<span class="glyphicon glyphicon-flag" style="font-size: 30px;">  Position
	</span>
</div>
<div class="col-md-12" style="text-align: center;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.562563375484!2d108.22225385096235!3d16.03627114452417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219e8cb37e161%3A0xb2f5c4a784d34c60!2zVHJ1bmcgdMOibSBHaeG6o2kgdHLDrSBQaOG7qWMgaOG7o3AgSGVsaW8gQ2VudGVy!5e0!3m2!1sen!2s!4v1488335913354" width="80%"  frameborder="0" style="border:0"></iframe>
</div>





{% endblock %}