{% extends "layout.html" %}
{% block extrastylesheet %}
<link href="{{ STATIC_URL }}assets/websites/css/helio_custom.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .game-group-content {
        border: 1px solid #ddd;
    }
    .group-games {
        margin-top: 18px;
    }
    .game-thumbnail {
        padding: 0px;
    }
</style>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
var HelioPlayFunction = (function ($) {
    var helio_play = function () {
        var _self = this;
        this.initHelioPlayEvent = function () {
            $('.game_filter').click(function() {
                _self.helioPlayFilter();
            });
        }

        this.helioPlayFilter = function () {
            var selected = [];
            $('input[type=checkbox]').each(function() {
               if ($(this).is(":checked")) {
                   selected.push($(this).attr('value'));
               }
            });
            console.log(JSON.stringify(selected))
            var param = {
                game_filter: JSON.stringify(selected)
            }
            $.ajax({
                type: 'POST',
                url: '/vi/helio/helio-play/',
                data: param,
                success: function (data) {
                    $("#play_content").html(data); 
                },
                error: function(err) {
                    console.log(err)
                
                }
            });
        }
    }
    return helio_play;
})(jQuery);

(function (helio_play, $) {
    $(document).ready(function(){
        helio_play.initHelioPlayEvent();

    });
})(new HelioPlayFunction(), jQuery);
    
</script>
    

{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'helio_play' %}">Helio Play</a></li>
{% endblock %}

{% block main_content %}
    <div id="helio-page" class="tabs-left" style="padding-top: 150px; padding-bottom: 150px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#play" data-toggle="tab">Helio Play</a></li>
            <li><a href="#play_map" data-toggle="tab">Helio Play Map</a></li>
        </ul>
        <div class="tab-content">
            <div class="row tab-pane active" id="play">
                <div class="col-md-12" style="padding-bottom: 15px;">
                    <h2 class="title">Helio Play</h2>
                    <hr class="line">
                    <fieldset>
                        <legend>Filter</legend>
                        <div class="col-md-12">
                            {% if game_filters %}
                                {% for game_filter in game_filters %}
                                <div class="col-md-3">
                                    <input type="checkbox" class="game_filter" name="game_filter" value="{{game_filter.id}}">{{game_filter.name}}
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div id="play_content">
                    {% if games %}
                        {% for game_type, game_group in games.items %}
                        <fieldset>
                            <legend>{{game_type}}</legend>
                            <div class="col-md-12">
                            {% for game in game_group %}
                            <div class="row game-group-content">
                                <div class="group-games">
                                    <div class="col-md-2 game-thumbnail">
                                        <div class="thumbnail">
                                            <img src="{{ STATIC_URL }}assets/images/img1.jpg" class="img-responsive" style="width:100%" alt="Image">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h3 class="name">{{game.name}} </h3>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p style="font-weight: bold;">Description: </p>
                                            </div>
                                            <div class="col-md-9">
                                                {{game.short_description | safe}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p style="font-weight: bold;">Appropriate for: </p>
                                            </div>
                                            <div class="col-md-9">
                                                <p>Trung tâm giải trí phức hợp Helio Center</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="line row">
                            {% endfor %}
                            </div>
                        </fieldset>
                        {% endfor %}
                    {% endif %}   
                    </div>
                    
                </div>
            </div>
            <div class="row tab-pane" id="play_map">
                <div class="col-md-12">
                    <h2>Helio Play Map</h2>
                    <hr class="line">
                    <div>
                        <img src="{{ STATIC_URL }}assets/images/img1.jpg" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}
