{% extends "layout.html" %}
{% block extrastylesheet %}
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/font-awesome/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/slide.css">

<style type="text/css">

  .cate-intro-img {
    width: 100%;
    height: auto;
    overflow: visible;
    position: relative;
    margin-bottom: 60px;
  }
  .avatar {
    width: 100%;
    height: auto;
    max-height: 700px;
    overflow: hidden;
    position: relative;
  }
  img {
    display: block;
    width: 100%;
  }
  .title-helio-play {
    width: 100%;
    position: absolute;
    bottom: -40px;
  }
  .form-title {
    width: 70%;
    background-color: #fff;
    border-style: 15px solid #000;
  }
  .text-description {
    text-align: justify;
    margin: 10px;
  }

  p {
    color: #000;
  }
    .style-hr { 
    border: 0; 
    height: 3px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0); 
    /*margin-left: 100px;
    margin-right: 100px;*/
    margin: 50px 100px;
  }
  .style-post {
    margin-left: 100px;
    display: inline;
  }
  .corner-bottom-right-bevel {
    height: 0;
    width: 500px;
    padding-right: 20px;
    z-index: 2;
    position: absolute;
    left: 180px;
    display: block;
    padding-bottom: 20px;
  }
  .style-img {
    z-index: 1;
    position: relative;
    width: 75%;
    left: 440px;
    padding-bottom: 20px;
  }
  .style-img2 {
    z-index: 1;
    position: relative;
    width: 75%;
    left: 88px;
    padding-bottom: 20px;
  }
  .corner-bottom-left-bevel {
    height: 0;
    width: 500px;
    padding-right: 20px;
    z-index: 2;
    position: absolute;
    left: 653px;
    display: block;
    padding-bottom: 20px;
  }


    
</style>
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/jquery.carousel-1.1.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

    function initCoursel() {
        $('.carousel').html($('.carousel1').html());
        var w = $( window ).width();
        var w2 = $(".container").width();
        w2 =  w > 1650 ? w2 : (w2 * 90 /100);
        $('.carousel').carousel({
            carouselWidth: w,
            carouselHeight: 400,
            directionNav:true,    
            shadow:false, 
            description:true,
            frontWidth:w2,
            frontHeight:400,
            hMargin: 0.1,
            vMargin: 0.8

        });
    }

    initCoursel();
    $( window ).resize(function() {
        initCoursel();
    });

});
</script>
{% endblock %}
{% block main_content %} 

<!-- Page Header -->
<div class="page-header-img">
    <div>
        <img src="{{ STATIC_URL }}assets/websites/images/slide1.jpg" width="100%">
    </div>
    <div class="page-title" align="center">
        <div class="col-xs-12">
            <fieldset class="page-title-text"><h1>HELIO PLAY TITLE INTRO</h1></fieldset>
        </div>
    </div>
</div>
<!-- Page description -->
<div class="container">
    <div align="center">
        <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops. On mobile phones, the columns will automatically stack.</p>
    </div>

  </div>
  <!-- Nav tabs nav-pills-->
    <ul class="row nav btn-custom-group">
            <li role="nav-item" class="col-md-4 active">
                <a href="#redemption-game" role="tab" data-toggle="tab">TRO CHOI DOI QUA</a>
            </li>
            <li role="nav-item" class="col-md-4">
                <a href="#vidieo-game" role="tab" data-toggle="tab">VIDEO GAMES</a>
            </li>
            <li role="nav-item" class="col-md-4">
                <a href="#ride-game" role="tab" data-toggle="tab">TRO CHOI VAN DONG</a>
            </li>
    </ul>
  <div class="carousel">
      <div class="slides"> <!-- BEGIN CAROUSEL -->
        <div class="slideItem"> <!-- SLIDE ITEM -->
            <a href="#">
                <img src="{{ STATIC_URL }}assets/websites/images/slide1.jpg" >
            </a>
        </div>


    <!-- Nav tabs nav-pills-->
    <ul class="row nav btn-custom-group">
            <li role="nav-item" class="col-md-4 active">
                <a href="#redemption-game" role="tab" data-toggle="tab">TRO CHOI DOI QUA</a>
            </li>
            <li role="nav-item" class="col-md-4">
                <a href="#vidieo-game" role="tab" data-toggle="tab">VIDEO GAMES</a>
            </li>
            <li role="nav-item" class="col-md-4">
                <a href="#ride-game" role="tab" data-toggle="tab">TRO CHOI VAN DONG</a>
            </li>
    </ul>
</div>

        <div class="slideItem">
            <a href="#">
                <img src="{{ STATIC_URL }}assets/websites/images/slide1.jpg">
            </a>
        </div>
        <div class="slideItem">
            <a href="#">
                <img src="{{ STATIC_URL }}assets/websites/images/img1.jpg">
            </a>
        </div>
        <div class="slideItem">
            <a href="#">
                <img src="{{ STATIC_URL }}assets/websites/images/slide1.jpg">
            </a>
        </div>
    </div>
    <div class="nextButton"><img src="{{ STATIC_URL }}assets/websites/images/next_button.png"></div>
    <div class="prevButton"><img src="{{ STATIC_URL }}assets/websites/images/prev_button.png"></div>
    <div class="description" style="position: relative; margin: 0 auto; width: 400px;"> <!-- BEGIN DESCRIPTION -->
        <div> <!-- DESCRIPTION ITEM -->
            <h2>Description 1</h2>
            <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, 
            tristique sed odio. Praesent ut interdum elit. Sed in sem mauris. Aenean a commodo mi. Praesent augue lacus.
            </p>
        </div>


<div class="tab-content" style="padding-top: 50px;">
    <div role="tabpanel" class="tab-pane active" id="redemption-game">
        <!-- Games slider -->
        <div class="carousel" >
            
        </div>
        <div class="description container" style="position: relative;"> <!-- BEGIN DESCRIPTION -->
            <div> <!-- DESCRIPTION ITEM -->
                <h2>Description 1</h2>
                <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, 
                tristique sed odio. Praesent ut interdum elit. Sed in sem mauris. Aenean a commodo mi. Praesent augue lacus.
                </p>
            </div>

            <div>
                <h2>Description 2</h2>
                <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, 
                tristique sed odio. Praesent ut interdum elit. Sed in sem mauris. Aenean a commodo mi. Praesent augue lacus.
                </p>
            </div>

            <div>
                <h2>Description 3</h2>
                <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, 
                tristique sed odio. Praesent ut interdum elit. Sed in sem mauris. Aenean a commodo mi. Praesent augue lacus.
                </p>
            </div>

            <div>
                <h2>Description 4</h2>
                <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, 
                tristique sed odio. Praesent ut interdum elit. Sed in sem mauris. Aenean a commodo mi. Praesent augue lacus.
                </p>
            </div>

            <div>
                <h2>Description 5</h2>
                <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, 
                tristique sed odio. Praesent ut interdum elit. Sed in sem mauris. Aenean a commodo mi. Praesent augue lacus.
                </p>
            </div>
        </div>

        <div class="carousel1" hidden="true" >
            <div class="slides"> <!-- BEGIN CAROUSEL -->
                <div class="slideItem"> <!-- SLIDE ITEM -->
                    <a href="#">
                         <img src="{{ STATIC_URL }}assets/websites/images/slide1.jpg" >
                    </a>
                </div>

                <div class="slideItem">
                    <a href="#">
                        <img src="{{ STATIC_URL }}assets/websites/images/img1.jpg">
                    </a>
                </div>

                <div class="slideItem">
                    <a href="#">
                        <img src="{{ STATIC_URL }}assets/websites/images/img1.jpg">
                    </a>
                </div>
                <div class="slideItem">
                    <a href="#">
                        <img src="{{ STATIC_URL }}assets/websites/images/img1.jpg">
                    </a>
                </div>
                <div class="slideItem">
                    <a href="#">
                        <img src="{{ STATIC_URL }}assets/websites/images/img1.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>

  </div>
  <hr class="style-hr">
<!--   <div class="style-post"> -->
    <div class="corner-bottom-right-bevel">
      <img style="width: 500px; height: 360px;" src="{{ STATIC_URL }}assets/websites/images/img2.png">
    </div>
    <!-- <div class="style-content-post">
      <h4  style="text-decoration: underline;">KHUYEN MAI GAME</h4>
      <h3>POWER TAPS<sup>TM</sup><br>CHI VOI 200 NGHIN</h3>
      
      <p class="post-p">To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave.</p>
      <button class="button">TIM HIEU THEM   ></button>
    </div> -->
    <div class="style-img"><img style="width: 620px; height: 360px;" src="{{ STATIC_URL }}assets/websites/images/slide1.jpg"></div>

    <div class="corner-bottom-left-bevel">
      <img style="width: 500px; height: 360px;" src="{{ STATIC_URL }}assets/websites/images/img3.png">
    </div>
    <div class="style-img2"><img style="width: 620px; height: 360px;" src="{{ STATIC_URL }}assets/websites/images/slide1.jpg"></div>
    
    <div class="corner-bottom-right-bevel">
      <img style="width: 500px; height: 360px;" src="{{ STATIC_URL }}assets/websites/images/img2.png">
    </div>
    <div class="style-img"><img style="width: 620px; height: 360px;" src="{{ STATIC_URL }}assets/websites/images/slide1.jpg"></div>
<!--   </div> -->


    <div role="tabpanel" class="tab-pane active" id="vidieo-game">
    </div>

    <div role="tabpanel" class="tab-pane active" id="ride-game">
    </div>

</div>
    
{% endblock %}