{% extends "layout.html" %}
{% block extrastylesheet %}
    <link href="{{ STATIC_URL }}assets/websites/css/helio_intro.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block extrascript %}
   <!--  <script src = "{{ STATIC_URL }}assets/websites/js/powercard.js"></script> -->
{% endblock %}
{% block main_content %} 

<div class="container">
    <!-- CARD PAGE DESCRIPTION -->
    <div class="page-top">
        <div class="page-header-img">
            <div>
                <img src="{{ STATIC_URL }}assets/websites/images/helio-about-header.png" width="100%">
            </div>
            <div class="page-title" align="center">
                <div class="col-md-12">
                    <p class="page-title-text">HELIO CENTER</p>
                </div>
            </div>
        </div>
    </div>
    <!-- button -->
    <ul class="nav btn-custom-group button-custom">
        <li role="nav-item" class="col-md-4 col-md-4-custom active">
            <a href="#helio-about" role="tab" data-toggle="tab" class="btn-custom-style">VE HELIO</a>
        </li>
        <li role="nav-item" class="col-md-4 col-md-4-custom">
            <a href="#helio_philosophy" role="tab" data-toggle="tab" class="btn-custom-style">TRIET LY HELIO</a>
        </li>
        <li role="nav-item" class="col-md-4 col-md-4-custom">
            <a href="#overview" role="tab" data-toggle="tab" class="btn-custom-style">TONG QUAN</a>
        </li>
    </ul>
    
    <!-- CONTENT -->
    <div class="content-section">
        <div class="tab-content" style="padding-top: 50px;">
            <div role="tabpanel" class="tab-pane active" id="helio-about">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading helio-chudao" role="tab" id="heading1">
                            <h3 class="panel-title">                        
                                </a>
                                <p class="helio-chudao">HELIO - CHU DAO</p>
                            </h3>
                        </div>
                        <div>
                            <div class="panel-body">
                                <!-- <div class="media">
                                    <div class="media-left media-img-custom">
                                        <img src="{{ STATIC_URL }}assets/websites/images/helio-chudao.png"" class="media-object" style="width:100px">
                                    </div>
                                    <div class="media-body media-body-custom">
                                        <p>Hãy thử đọc nhanh tên của chúng tôi, bạn nghe thấy gì? Có quen thuộc không?</p>
                                        <p>Helio trước tiên là một lời chào - Hello. Khi chúng tôi nói “Helio chào mừng bạn”, điều đó cũng có nghĩa là “Hello, chào mừng bạn”. Chúng tôi mong muốn bạn sẽ luôn cảm thấy tự nhiên và thoái mái nhất có thể khi đến với Helio Center, với những dịch vụ thân thiện và chu đáo của chúng tôi.</p>
                                        <p>Helio mong muốn đáp ứng và chăm sóc những niềm vui của từng khách hàng. Trên cơ sở đó, chúng tôi thiết kế các sản phẩm và dịch vụ mang tính cá thể hóa, dựa vào việc nghiên cứu kỹ lưỡng về tâm lý hành vi của từng nhóm tuổi.</p>

                                    </div>
                                </div> -->
                                <img src="{{ STATIC_URL }}assets/websites/images/helio-chudao.png" class="textwrap" style="width: 100px;">
                                <div class="description-helio-about">
                                    <p>Hãy thử đọc nhanh tên của chúng tôi, bạn nghe thấy gì? Có quen thuộc không?</p>
                                    <p>Helio trước tiên là một lời chào - Hello. Khi chúng tôi nói “Helio chào mừng bạn”, điều đó cũng có nghĩa là “Hello, chào mừng bạn”. Chúng tôi mong muốn bạn sẽ luôn cảm thấy tự nhiên và thoái mái nhất có thể khi đến với Helio Center, với những dịch vụ thân thiện và chu đáo của chúng tôi.</p>
                                    <p>Helio mong muốn đáp ứng và chăm sóc những niềm vui của từng khách hàng. Trên cơ sở đó, chúng tôi thiết kế các sản phẩm và dịch vụ mang tính cá thể hóa, dựa vào việc nghiên cứu kỹ lưỡng về tâm lý hành vi của từng nhóm tuổi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading helio-vuinhon" role="tab" id="heading2">
                            <h4 class="panel-title">
                                <p class="helio-vuinhon">HELIO - VUI NHON</p>
                            </h4>
                        </div>
                        <div>
                            <div class="panel-body">
                                <!-- <div class="media">
                                    <div class="media-left media-img-custom">
                                        <img src="{{ STATIC_URL }}assets/websites/images/helio-vuinhon.png"" class="media-object" style="width:100px">
                                    </div>
                                    <div class="media-body media-body-custom">
                                        <p>Nhắc đến Helio, bạn liên tưởng đến điều gì? Một chất khí? Một vị thần Hy Lạp? Hay cả hai?</p>
                                        <p>Cái tên Helio lấy cảm hứng từ chữ Heli – một nguyên tố hóa học, và chữ Heli cũng có nguồn gốc từ tên của vị thần Mặt Trời Helios trong thần thoại Hy Lạp. Hãy thử hít một ít khí Helio có trong quả bóng bay và nói chuyện với một ai đó, họ sẽ rất buồn cười vì giọng nói hệt như một chú sóc chuột của bạn. Cái tên Helio chứa đựng khí Heli, cũng là chứa đựng sự vui nhộn.
                                        </p>
                                        <p>Helio cam kết mang đến cho khách hàng những trò chơi mới nhất, hiện đại nhất, và đặc biệt vui nhộn nhất hiện nay, được tham khảo và chọn lọc từ rất nhiều hội chợ triển lãm trò chơi do IAAPA – Hiệp hội các khu vui chơi giải trí quốc tế lớn nhất thế giới tổ chức.</p>

                                    </div>
                                </div> -->
                                <img src="{{ STATIC_URL }}assets/websites/images/helio-vuinhon.png" class="textwrap" style="width: 100px;">
                                <div class="description-helio-about">
                                    <p>Nhắc đến Helio, bạn liên tưởng đến điều gì? Một chất khí? Một vị thần Hy Lạp? Hay cả hai?
                                    </p>
                                    <p>Cái tên Helio lấy cảm hứng từ chữ Heli – một nguyên tố hóa học, và chữ Heli cũng có nguồn gốc từ tên của vị thần Mặt Trời Helios trong thần thoại Hy Lạp. Hãy thử hít một ít khí Helio có trong quả bóng bay và nói chuyện với một ai đó, họ sẽ rất buồn cười vì giọng nói hệt như một chú sóc chuột của bạn. Cái tên Helio chứa đựng khí Heli, cũng là chứa đựng sự vui nhộn.
                                    </p>
                                    <p>Helio cam kết mang đến cho khách hàng những trò chơi mới nhất, hiện đại nhất, và đặc biệt vui nhộn nhất hiện nay, được tham khảo và chọn lọc từ rất nhiều hội chợ triển lãm trò chơi do IAAPA – Hiệp hội các khu vui chơi giải trí quốc tế lớn nhất thế giới tổ chức.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading helio-sangtao" role="tab" id="heading2">
                            <h4 class="panel-title">
                                <p class="helio-sangtao">HELIO - SANG TAO</p>
                            </h4>
                        </div>
                        <div>
                            <div class="panel-body">
                                <!-- <div class="media">
                                    <div class="media-left media-img-custom">
                                        <img src="{{ STATIC_URL }}assets/websites/images/helio-sangtao.png" class="media-object" style="width:100px">
                                    </div>
                                    <div class="media-body media-body-custom">
                                        <p>Hãy nhìn vào logo Helio, bạn thấy điều gì? Bạn có thấy một chiếc hộp đang mở tràn vô số những ý tưởng? Bạn có thấy sự tươi mới và tràn đầy sức sống từ những màu sắc vui tươi?</p>
                                        <p>Helio Center được thai ngén từ những năm 2008, với định hướng mang đến cho người dân Đà Nẵng một mô hình dịch vụ mới, mang tính đột phá trong lĩnh vực vui chơi giải trí. Chúng tôi cam kết những trò chơi tại Helio là những trò chơi mới nhất, sáng tạo nhất, mà bạn không thể tìm thấy ở bất kỳ khu vui chơi nào khác tại Việt Nam hiện nay.</p>
                                    </div>
                                </div>  -->     
                                <img src="{{ STATIC_URL }}assets/websites/images/helio-sangtao.png" class="textwrap" style="width: 100px;">
                                <div class="description-helio-about">
                                    <p>Hãy nhìn vào logo Helio, bạn thấy điều gì? Bạn có thấy một chiếc hộp đang mở tràn vô số những ý tưởng? Bạn có thấy sự tươi mới và tràn đầy sức sống từ những màu sắc vui tươi?</p>
                                    <p>Helio Center được thai ngén từ những năm 2008, với định hướng mang đến cho người dân Đà Nẵng một mô hình dịch vụ mới, mang tính đột phá trong lĩnh vực vui chơi giải trí. Chúng tôi cam kết những trò chơi tại Helio là những trò chơi mới nhất, sáng tạo nhất, mà bạn không thể tìm thấy ở bất kỳ khu vui chơi nào khác tại Việt Nam hiện nay.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="helio_philosophy">
                <div class="title-philosophy">
                    <h1>HELIO MANG TRONG MÌNH NIỀM VUI <br> VÀ MONG MUỐN LAN TỎA ĐẾN TẤT CẢ MỌI NGƯỜI.</h1>
                </div>
                <div>
                    <p>Chúng tôi tâm niệm rằng việc có được những niềm vui không phải là một điều diễn ra tự nhiên trong cuộc sống, đó là do chính bản thân mỗi người sắp đặt và tận hưởng nó. Cuộc sống ban tặng cho chúng ta vô số những điều thú vị, thế giới dâng tặng cho ta rất nhiều thứ, quá nhiều cái đẹp, quá nhiều cái vui, chỉ có điều chúng ta có biết khai thác nó không mà thôi.</p>
                    <p>Cũng như các bạn, chúng tôi có 365 ngày một năm; nhưng Helio không chọn mặt trời làm trục quay mà tất cả mọi hoạt động đều lấy tiếng cười làm tâm điểm. Chúng tôi mong muốn tất cả mọi người khi đến đây đều vui vẻ, thoải mái, và chúng tôi cũng lấy đó làm tiêu chí để tồn tại và phát triển. Helio mang đến một không khí vui vẻ của những trò chơi, những sự kiện, những nhân viên với nụ cười rạng rỡ… để tạo động lực cho mọi người đến đây tìm thấy niềm vui của riêng mình và tận hưởng niềm vui ấy.</p>
                    <p>Helio mang trong mình niềm vui, và mong muốn lan tỏa đến tất cả mọi người.</p>
                    <img src="{{ STATIC_URL }}assets/websites/images/philosophy_smile.jpg" width="100%" class="imgage-philosophy">
                    <p>Bạn muốn những phút giây sảng khoái hết cỡ với bạn bè trên những trò chơi mạo hiểm hay các máy game hấp dẫn? Bạn muốn những giây phút gia đình quây quần bên nhau bằng các trò chơi cùng con trẻ? Hay bạn muốn một ngày hạnh phúc cùng người yêu thương cùng những hoạt động vui nhộn?</p>
                    <p>Chúng tôi mong muốn đáp ứng được những mong muốn đó của bạn, mang lại cho bạn những giây phút hạnh phúc nhất trong cuộc sống, và thông qua bạn để lan tỏa thêm niềm vui đó đến mọi người xung quanh.</p>
                    <p>Đó cũng chính là tôn chỉ hoạt động của chúng tôi!</p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="overview">
            HELIO OVERVIEW
            </div>
        </div>
        <div class="content-image-section">
            <div class="image-section">
                <img src="{{ STATIC_URL }}assets/websites/images/img-section.png">
            </div>
            
        </div>
    </div>
        
        

        

    <!-- DOWNLOAD APP BANNER -->
    <div class="app-banner">
        <a href="#"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a>
    </div>
</div>

{% endblock %}