{% extends "layout.html" %}
{% block extrastylesheet %}
    <link href="{{ STATIC_URL }}assets/websites/css/helio_tcs.css" rel="stylesheet" type="text/css" />

{% endblock %}
{% block extrascript %}
   <!--  <script src = "{{ STATIC_URL }}assets/websites/js/powercard.js"></script> -->
{% endblock %}
{% block main_content %} 

<div class="container">
    <!-- CARD PAGE DESCRIPTION -->
    <div class="page-top">
        <div class="page-header-img">
            <div>
                <img src="{{ STATIC_URL }}assets/websites/images/tcs-header.png" width="100%">
            </div>
            <div class="page-title" align="center">
                <div class="col-md-12">
                    <p class="page-title-text">ĐIỀU KIỆN & <br> ĐIỀU KHOẢN</p>
                </div>
            </div>
        </div>
    </div>
    <!-- button -->
    <div class="col-xs-4 col-md-4">
        <div class="sidebar-nav">
            <div class="navbar navbar-default " role="navigation">
                <div class="navbar-collapse nav-custom sidebar-navbar-collapse">
                  <ul class="nav navbar-nav navbar-custom">
                    <li class="active">
                        <a class="list-custom-style" role="tab" data-toggle="tab" href="#term_of_use">ĐIỀU KHOẢN SỬ DỤNG</a>
                    </li>
                    <li>
                        <a class="list-custom-style" role="tab" data-toggle="tab" href="#privacy_policy">CHÍNH SÁCH BẢO MẬT</a>
                    </li>
                    <li>
                        <a class="list-custom-style" role="tab" data-toggle="tab" href="#cookie_policy">CHÍNH SÁCH COOKIE</a>
                    </li>
                    <li>
                        <a class="list-custom-style" role="tab" data-toggle="tab" href="#license">BẢN QUYỀN</a>
                    </li>
                    <li>
                        <a class="list-custom-style" role="tab" data-toggle="tab" href="#term_of_use_image">ĐIỀU KHOẢN SỬ DỤNG HÌNH ẢNH</a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-8 col-md-8">
        <div class="content-section">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="term_of_use">
                <div class="panel-custom-content">
                    <p>ĐIỀU KHOẢN SỬ DỤNG</p>
                    <p><i>Cập nhật mới nhất: 26-9-2016</i></p>
                    <p>
                        Helio Center là một Trung tâm giải trí phức hợp đa dịch vụ đầu tiên tại thành phố Đà Nẵng. Với diện tích sử dụng hơn 35.000 m2 và nằm tại trung tâm thành phố, Helio Center mang đến cho người dân Đà Nẵng và khách du lịch một lựa chọn hoàn hảo nhất để vui chơi giải trí cùng bạn bè và gia đình mỗi ngày.
                    </p>
                    <p>
                        Helio Center bao gồm ba sản phẩm chính là Helio Kids, Helio Play, và Helio Food & Beverage, cùng với hàng chục sự kiện được tổ chức hoành tráng mỗi năm.
                    </p>
                    <p>
                        Helio Kids là mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.
                    </p>
                    <p>
                        Đến với Helio Kids, bạn và con trẻ sẽ được trải nghiệm những mô hình vui chơi hoàn toàn mới lạ với hàng trăm trò chơi hấp dẫn.Với tổng diện tích lên đến hơn 2.700 m2, gồm 42 khu vực chơi, có sức chứa gần 1.000 người; Helio Kids thực sự là một khu vui chơi trong nhà và ngoài trời có quy mô hoành tráng nhất hiện nay dành cho trẻ em từ 2 - 9 tuổi tại Đà Nẵng.
                    </p>
                    <p>
                        Helio Kids có khu vực chơi trong nhà với số lượng trò chơi lên hàng trăm trò, và có thể mở rộng ra đến hàng nghìn cách chơi, dựa trên sự sáng tạo của trẻ. Tuyệt vời hơn! Bé còn được hòa mình cùng thiên nhiên trong một khu vui chơi ngoài trời có diện tích lên tới hơn 750 m2, bao gồm các khu khám phá, biễu diễn, vận động… Helio Kids mang lại cho trẻ một môi trường hoàn hảo cho sự phát triển cả về thể chất lẫn tinh thần.
                    </p>
                    <p>
                        Helio Kids còn là khu vui chơi cho trẻ em với các hạng mục lần đầu tiên xuất hiện tại Việt Nam. Ví dụ như các Khu giả lập với những đồ chơi kích thước thật, các Khu vận động chuyên biệt dành cho các bé dưới 2 tuổi, Khu khảo cổ xương khủng long, Khu trò chơi tương tác với tính sáng tạo cao... Tất cả đều được thiết kế theo tiêu chuẩn cao nhất từ các chuyên gia hàng đầu của Mỹ.
                    </p>
                    <p>
                        Helio Play - tập hợp những hững mô hình game thú vị, hiện đại nhất trên thế giới, đảm bảo mang lại cho bạn những giây phút vui chơi đầy sôi động và hào hứng.
                    </p>
                    <p>
                        Các khu trò chơi bao gồm: Boating School – Học lái thuyền, Bumper Boat – Thuyền điện đụng, Mini digger – Lái xe xúc, Ice Skating – Sân trượt băng, Duckpin Bowling – Bowling trái nhỏ, Bumper Car – Xe điện đụng, Tornado – Vòi rồng , Himalaya – Vòng quay tốc độ , Ballocity – Nhà banh  và đặc biệt là Go Kart – Trường đua F1.
                    </p>
                    <p>
                        Chưa hết, Helio Play còn có một phòng Game hoành tráng diện tích gần 1.000m2  với những máy game thùng hấp dẫn và hệ thống Wii – PlayStation. Helio Play chắc chắn là lựa chọn không thể bỏ qua cho các game thủ.
                    </p>
                    <p>
                        Điểm đặc biệt của Helio Play chính là hệ thống thanh toán tối tân : Power Card. Bạn có thể nạp tiền trước, quẹt thẻ để chi trả nhanh chóng hoặc kiểm tra quản lý số dư của mình. Tất cả các dịch vụ tại Helio đều được thanh toán thông qua thẻ: từ ăn bánh uống café đến đua xe bắn súng, chơi bowling hay cả mua vé chơi trọn tháng. Chỉ cần quẹt thẻ, và cuộc vui bắt đầu!
                    </p>
                    <h4>
                        HELIO FOOD & BEVERAGE - KHÔNG GIAN ẨM THỨC ĐA DẠNG & ĐẶC SẮC.
                    </h4>
                    <p>
                        Với một hệ thống Foodcourt và quán cà phê hiện đại, Helio Center mang đến cho bạn những dịch vụ tốt nhất trong quá trình vui chơi giải trí tại đây.
                    </p>
                    <p>
                        Khu vực Foodcourt với hàng trăm món ăn và thức uống từ các nền ẩm thực châu Á, chia thành các quầy như: Quầy Nhật với ẩm thực Nhật Bản, Quầy Hàn với ẩm thức xứ Kim Chi, Quầy Thái & Malay với nét ẩm thực Đông Nam Á của hai quốc gia Thái Lan và Malaysia, và 2 quầy Cơm Việt chuyên về ẩm thực Việt Nam.
                    </p>
                    <p>
                        Helio Bakery và Helio Coffee cũng là những điểm dừng chân thú vị cho khách hàng sau những giờ phút vui chơi thả ga cùng bạn bè.
                    </p>
                    <p>
                        Helio Center cũng cung cấp một dịch vụ tiệc chuyên nghiệp, với trang thiết bị hiện đại và đội ngũ nhân viên thân thiện, đáp ứng nhu cầu của mọi khách hàng ở mọi lứa tuổi.
                    </p>
                    <p>
                        Cùng với hàng chục sự kiện lớn nhỏ được tổ chức thường nhật và vào các dịp lễ Tết, Helio Center hứa hẹn sẽ trở thành một địa điểm dạo chơi thú vị nhất cho giới trẻ Đà Nẵng và khách du lịch.
                    </p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="privacy_policy">
                <!-- CONTENT HELIO PHILOSOPHY -->
                <div class="panel-custom-content">
                    <p>CHÍNH SÁCH BẢO MẬT</p>
                    <p>Chúng tôi tâm niệm rằng việc có được những niềm vui không phải là một điều diễn ra tự nhiên trong cuộc sống, đó là do chính bản thân mỗi người sắp đặt và tận hưởng nó. Cuộc sống ban tặng cho chúng ta vô số những điều thú vị, thế giới dâng tặng cho ta rất nhiều thứ, quá nhiều cái đẹp, quá nhiều cái vui, chỉ có điều chúng ta có biết khai thác nó không mà thôi.</p>
                    <p>Cũng như các bạn, chúng tôi có 365 ngày một năm; nhưng Helio không chọn mặt trời làm trục quay mà tất cả mọi hoạt động đều lấy tiếng cười làm tâm điểm. Chúng tôi mong muốn tất cả mọi người khi đến đây đều vui vẻ, thoải mái, và chúng tôi cũng lấy đó làm tiêu chí để tồn tại và phát triển. Helio mang đến một không khí vui vẻ của những trò chơi, những sự kiện, những nhân viên với nụ cười rạng rỡ… để tạo động lực cho mọi người đến đây tìm thấy niềm vui của riêng mình và tận hưởng niềm vui ấy.</p>
                    <p>Helio mang trong mình niềm vui, và mong muốn lan tỏa đến tất cả mọi người.</p>
                    <p>Bạn muốn những phút giây sảng khoái hết cỡ với bạn bè trên những trò chơi mạo hiểm hay các máy game hấp dẫn? Bạn muốn những giây phút gia đình quây quần bên nhau bằng các trò chơi cùng con trẻ? Hay bạn muốn một ngày hạnh phúc cùng người yêu thương cùng những hoạt động vui nhộn?</p>
                    <p>Chúng tôi mong muốn đáp ứng được những mong muốn đó của bạn, mang lại cho bạn những giây phút hạnh phúc nhất trong cuộc sống, và thông qua bạn để lan tỏa thêm niềm vui đó đến mọi người xung quanh.</p>
                    <p>Đó cũng chính là tôn chỉ hoạt động của chúng tôi!</p>
                </div>
            </div>
            
            <div role="tabpanel" class="tab-pane active" id="cookie_policy">
                <div class="panel-custom-content">
                    <p>CHÍNH SÁCH COOKIE</p>
                    <p>Helio trước tiên là một lời chào - Hello. Khi chúng tôi nói “Helio chào mừng bạn”, điều đó cũng có nghĩa là “Hello, chào mừng bạn”. Chúng tôi mong muốn bạn sẽ luôn cảm thấy tự nhiên và thoái mái nhất có thể khi đến với Helio Center, với những dịch vụ thân thiện và chu đáo của chúng tôi.</p>
                    <p>Helio mong muốn đáp ứng và chăm sóc những niềm vui của từng khách hàng. Trên cơ sở đó, chúng tôi thiết kế các sản phẩm và dịch vụ mang tính cá thể hóa, dựa vào việc nghiên cứu kỹ lưỡng về tâm lý hành vi của từng nhóm tuổi.
                    </p> <p>Helio trước tiên là một lời chào - Hello. Khi chúng tôi nói “Helio chào mừng bạn”, điều đó cũng có nghĩa là “Hello, chào mừng bạn”. Chúng tôi mong muốn bạn sẽ luôn cảm thấy tự nhiên và thoái mái nhất có thể khi đến với Helio Center, với những dịch vụ thân thiện và chu đáo của chúng tôi.</p>
                    <p>Helio mong muốn đáp ứng và chăm sóc những niềm vui của từng khách hàng. Trên cơ sở đó, chúng tôi thiết kế các sản phẩm và dịch vụ mang tính cá thể hóa, dựa vào việc nghiên cứu kỹ lưỡng về tâm lý hành vi của từng nhóm tuổi.
                    </p> <p>Helio trước tiên là một lời chào - Hello. Khi chúng tôi nói “Helio chào mừng bạn”, điều đó cũng có nghĩa là “Hello, chào mừng bạn”. Chúng tôi mong muốn bạn sẽ luôn cảm thấy tự nhiên và thoái mái nhất có thể khi đến với Helio Center, với những dịch vụ thân thiện và chu đáo của chúng tôi.</p>
                    <p>Helio mong muốn đáp ứng và chăm sóc những niềm vui của từng khách hàng. Trên cơ sở đó, chúng tôi thiết kế các sản phẩm và dịch vụ mang tính cá thể hóa, dựa vào việc nghiên cứu kỹ lưỡng về tâm lý hành vi của từng nhóm tuổi.</p>
                </div>         
            </div>
            <div role="tabpanel" class="tab-pane" id="license">
                <div class="panel-custom-content">
                    <p>BẢN QUYỀN</p>
                    <p>Cuộc sống ban tặng cho chúng ta vô số những điều thú vị, thế giới dâng tặng cho ta rất nhiều thứ, quá nhiều cái đẹp, quá nhiều cái vui, chỉ có điều chúng ta có biết khai thác nó không mà thôi.</p>
                    <p>Cũng như các bạn, chúng tôi có 365 ngày một năm; nhưng Helio không chọn mặt trời làm trục quay mà tất cả mọi hoạt động đều lấy tiếng cười làm tâm điểm. Chúng tôi mong muốn tất cả mọi người khi đến đây đều vui vẻ, thoải mái, và chúng tôi cũng lấy đó làm tiêu chí để tồn tại và phát triển. Helio mang đến một không khí vui vẻ của những trò chơi, những sự kiện, những nhân viên với nụ cười rạng rỡ… để tạo động lực cho mọi người đến đây tìm thấy niềm vui của riêng mình và tận hưởng niềm vui ấy.</p>
                    <p>Helio mang trong mình niềm vui, và mong muốn lan tỏa đến tất cả mọi người.</p>
                    <p>Bạn muốn những phút giây sảng khoái hết cỡ với bạn bè trên những trò chơi mạo hiểm hay các máy game hấp dẫn? Bạn muốn những giây phút gia đình quây quần bên nhau bằng các trò chơi cùng con trẻ? Hay bạn muốn một ngày hạnh phúc cùng người yêu thương cùng những hoạt động vui nhộn?</p>
                    <p>Chúng tôi mong muốn đáp ứng được những mong muốn đó của bạn, mang lại cho bạn những giây phút hạnh phúc nhất trong cuộc sống, và thông qua bạn để lan tỏa thêm niềm vui đó đến mọi người xung quanh.</p>
                    <p>Đó cũng chính là tôn chỉ hoạt động của chúng tôi!</p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="term_of_use_image">
                <div class="panel-custom-content">
                    <p>ĐIỀU KHOẢN SỬ DỤNG HÌNH ẢNH</p>
                    <p>Cũng như các bạn, chúng tôi có 365 ngày một năm; nhưng Helio không chọn mặt trời làm trục quay mà tất cả mọi hoạt động đều lấy tiếng cười làm tâm điểm. Chúng tôi mong muốn tất cả mọi người khi đến đây đều vui vẻ, thoải mái, và chúng tôi cũng lấy đó làm tiêu chí để tồn tại và phát triển. Helio mang đến một không khí vui vẻ của những trò chơi, những sự kiện, những nhân viên với nụ cười rạng rỡ… để tạo động lực cho mọi người đến đây tìm thấy niềm vui của riêng mình và tận hưởng niềm vui ấy.</p>
                    <p>Helio mang trong mình niềm vui, và mong muốn lan tỏa đến tất cả mọi người.</p>
                    <p>Bạn muốn những phút giây sảng khoái hết cỡ với bạn bè trên những trò chơi mạo hiểm hay các máy game hấp dẫn? Bạn muốn những giây phút gia đình quây quần bên nhau bằng các trò chơi cùng con trẻ? Hay bạn muốn một ngày hạnh phúc cùng người yêu thương cùng những hoạt động vui nhộn?</p>
                    <p>Chúng tôi mong muốn đáp ứng được những mong muốn đó của bạn, mang lại cho bạn những giây phút hạnh phúc nhất trong cuộc sống, và thông qua bạn để lan tỏa thêm niềm vui đó đến mọi người xung quanh.</p>
                    <p>Đó cũng chính là tôn chỉ hoạt động của chúng tôi!</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    

        
        

        

    <!-- DOWNLOAD APP BANNER -->
    <div class="app-banner">
        <a href="#"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a>
    </div>
</div>

{% endblock %}