{% extends "layout.html" %}
{% block extrastylesheet %}
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/font-awesome/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/slide.css">
<style type="text/css">
    /*GAME COTENT CSS*/
    .image-div {
        background: url("http://localhost:8000/static/assets/websites/images/game_1.png") no-repeat;
        background-size: 70% 100%;
        height: 450px;
        margin-top: 20px;
    }

    .image-text-head {
        background-color: #f0f0f0;
        color: #000;
        padding-left: 30px;
        margin-left: -30px;
        margin-top: 10px;
        margin-bottom: 10px;
        word-spacing: 1px;
        letter-spacing: 1px;
        width: 100%;
    }
    .image-text-head p {
        position: relative;
    }
    .content-pull-right .image-text-head p:after {
        content: "";
        position: absolute;
        z-index: 1000;
        border-left: 10px solid #f0f0f0;
        border-bottom: 24px solid transparent;
        right: -10px;
    }
    .img-font-size {
        font-size: 40px;
        font-family: "Yanone Kaffeesatz";
        line-height: 60px;
        letter-spacing: 4px;
        font-weight: bold;
    }

    .description-slide, 
    .pricing-btn-section {
        position: relative;
        width: 85%;
        margin: auto;
    }

    .content-pull-right .kids-content-text {
        background: url("http://localhost:8000/static/assets/websites/images/bg_kids_left.png") no-repeat;
        background-size: 100% 100%;
        min-height: 450px;
    }
    .content-pull-right .kids-content-image {
        min-height: 450px;
    }
    .content-pull-right.image-div {
        background-position: right;
    }


    .content-pull-left .kids-content-text {
        background: url("http://localhost:8000/static/assets/websites/images/bg_kids_right.png") no-repeat;
        background-size: 100% 100%;
        min-height: 450px;
    }
    .content-pull-left .kids-content-image {
        min-height: 450px;
    }

    .content-pull-left .image-text-head {
        transition: background 0.2s;
        transform: skew(-15deg);
        margin-left: -33px;
    }
    .content-pull-left .image-text-head p {
        transform: skew(15deg);
    }
    .content-pull-left.image-div {
        background-position: left;
    }
    a.btn-custom-style.btn-custom-style-kids {
        border-image-source: linear-gradient(16deg, #f4963a, #fff);
    }
    .active a.btn-custom-style.btn-custom-style-kids:focus,
    a.btn-custom-style.btn-custom-style-kids:focus, 
    a.btn-custom-style.btn-custom-style-kids:hover {
        color: #f4963a;
        background-color: #fff;
        border-image-source: linear-gradient(16deg, #f4963a, #fff);
        background-image: none;
    }
    /*END GAME CONTENT CSS*/

    .pricing-div {
        margin-bottom: 50px;
        margin-top: 50px;
    }


    .description-slide .title-content.game-name {
        color: #fec231;
    }

    .description-slide {
        margin-bottom: 50px;
        min-height: 100px;
    }


    .kids-content-text .image-text {
        padding-top: 40px;
    }

    @media (max-width: 992px) {
        .image-div {
            background: none;
            height: auto;
        }
        .content-pull-left .kids-content-text,
        .content-pull-right .kids-content-text
        {
            background: url("http://localhost:8000/static/assets/websites/images/m_kids_text.png") no-repeat;
            background-size: 100% 100%;
            height: auto;
            min-height: 400px;
            /*width: 100%;*/
        }
        .content-pull-left .kids-content-image,
        .content-pull-right .kids-content-image {
            background: url("http://localhost:8000/static/assets/websites/images/game_1.png") no-repeat;
            background-size: 100% 100%;
            height: 250px;
            /*width: 100%;*/
        }

        .content-pull-left .kids-content-text {
            float: right;
        }

        .content-pull-left .image-text-head p:after {
            content: "";
            position: absolute;
            z-index: 1000;
            border-left: 10px solid #f0f0f0;
            border-bottom: 24px solid transparent;
            right: -10px;
        }
        .content-pull-left .image-text-head {
            transition: background 0.2s;
            transform: skew(0deg);
            margin-left: -30px;
        }
        .content-pull-left .image-text-head p {
            transform: skew(0deg);
        }
    }
</style>
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.carousel-1.1.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

    function initCoursel() {
        // $('.carousel').html($('.carousel1').html());
        var content_width = $(".container").width()
        var w2 = content_width * 0.85;
        $('.carousel').carousel({
            carouselWidth: content_width,
            carouselHeight: 400,
            directionNav:true,    
            shadow:false, 
            description:true,
            frontWidth:w2,
            frontHeight:400,
            hMargin: 0.1,
            vMargin: 0.8

        });
    }

    initCoursel();
    // $( window ).resize(function() {
    //     initCoursel();
    // });

});
</script>
{% endblock %}
{% block main_content %} 

<!-- Page Header -->
<div class="container">
    <!-- CARD PAGE DESCRIPTION -->
    <div class="page-top">
        <div class="page-header-img">
            <div>
                <img src="{{ STATIC_URL }}assets/websites/images/power_card_header.png" width="100%">
            </div>
            <div class="page-title" align="center">
                <div class="col-md-12">
                    <p class="page-title-text">HELIO KIDS</p>
                </div>
            </div>
        </div>
        <div align="center" class="page-header-text">
            <div class="form-title">
                <p class="text-description">Đến Helio Center, bạn được trải nghiệm một hình thức thanh toán hoàn toàn mới, không cần tiền mặt, không cần xu, chỉ cần quẹt thẻ Power Card và trải nghiệm cuộc vui. Thật dễ dàng đúng không !!! Chưa hết, toàn bộ thông tin tài khoản thẻ Helio Power Card của bạn: số dư, số ticket, khuyến mãi và nhiều tiện ích khác đều có thể dễ dàng tra cứu được. Quá tiện!</p>
            </div>
        </div>
    </div>

    
    <div class="pricing-btn-section">
        <!-- PRICING -->
        <!-- <div class="table-custom-around">
            <table class="table table-bordered table-custom borderless">
                <thead>
                    <tr>
                        <th colspan="2" class="table-title-price">BANG GIA</th>
                        <th class="th-style-card"><div class="table-blue-card">THE XANH</div></th>
                        <th class="th-style-card"><div class="table-pink-card">THE HONG</div></th>
                        <th class="th-style-card"><div class="table-yellow-card">THE VANG</div></th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                        <td rowspan="2">Be cao < 90cm</td>
                        <td>Thu 2 den thu 6</td>
                        <td class="table-content-blue-card">40,000</td>
                        <td class="table-content-pink-card">40,000</td>
                        <td class="table-content-yellow-card">30,000</td>
                    </tr>
                    <tr class="table-active">
                        <td>Thu 7, CN, Ngay le <span class="note">*</span></td>
                        <td class="table-content-blue-card">40,000</td>
                        <td class="table-content-pink-card">40,000</td>
                        <td class="table-content-yellow-card">30,000</td>
                    </tr>
                    <tr>
                        <td rowspan="2">Be cao < 90cm</td>
                        <td>Thu 2 den thu 6</td>
                        <td class="table-content-blue-card">40,000</td>
                        <td class="table-content-pink-card">40,000</td>
                        <td class="table-content-yellow-card">30,000</td>
                    </tr>
                    <tr class="table-active">
                        <td>Thu 7, CN, Ngay le <span class="note">*</span></td>
                        <td class="table-content-blue-card">40,000</td>
                        <td class="table-content-pink-card">40,000</td>
                        <td class="table-content-yellow-card">30,000</td>
                    </tr>
                    <tr>
                        <td>Nguoi di kem thu II</td>
                        <td>Tat ca cac ngay trong tuan</td>
                        <td colspan="3">25,000</td>
                    </tr>
                 </tbody>
            </table>
            <span class="note">* Cac ngay nghi le theo quy dinh cua Nha nuoc.</span>
        </div> -->

        <div class="pricing-div">
            <img src="{{ STATIC_URL }}assets/websites/images/kids_pricing.png" width="100%">
        </div>

        <!-- BUTTON GROUP -->
        <ul class="nav nav-pills nav-justified">
            <li class="active">
                <a href="#phong-choi" role="tab" data-toggle="tab" class="btn-custom-style">PHONG CHOI</a>
            </li>
            <li>
                <a href="#may-choi" role="tab" data-toggle="tab" class="btn-custom-style">MAY CHOI</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <!-- MAY CHOI SECTION -->
        <div role="tabpanel" class="tab-pane active" id="phong-choi">
            <!-- Games slider -->
            <div class="carousel" >
                <div class="slides"> <!-- BEGIN CAROUSEL -->
                    <div class="slideItem"> <!-- SLIDE ITEM -->
                        <a href="#">
                            <img src="{{ STATIC_URL }}assets/websites/images/img1.jpg">
                        </a>
                    </div>
                    <div class="slideItem">
                        <a href="#">
                            <img src="{{ STATIC_URL }}assets/websites/images/img1.jpg">
                        </a>
                    </div>
                    <div class="slideItem">
                        <a href="#">
                            <img src="{{ STATIC_URL }}assets/websites/images/img1.jpg">
                        </a>
                    </div>
                    <div class="slideItem">
                        <a href="#">
                            <img src="{{ STATIC_URL }}assets/websites/images/img1.jpg">
                        </a>
                    </div>
                    <div class="slideItem">
                        <a href="#">
                            <img src="{{ STATIC_URL }}assets/websites/images/img1.jpg">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Game Description -->
            <div class="description description-slide">
                <div>
                    <p class="title-content game-name">GAME 1</p>
                    <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci.
                    </p>
                </div>
                <div>
                    <p class="title-content game-name">GAME 2</p>
                    <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, 
                    tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.
                    </p>
                </div>
                <div>
                    <p class="title-content game-name">GAME 3</p>
                    <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, 
                    tristique sed odio. Praesent ut interdum elit.
                    </p>
                </div>
                <div>
                    <p class="title-content game-name">GAME 4</p>
                    <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, 
                    tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.
                    </p>
                </div>
                <div>
                    <p class="title-content game-name">GAME 5</p>
                    <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, 
                    tristique sed odio. Praesent ut interdum elit.
                    </p>
                </div>
            </div>

            <!-- line -->
            <hr>

           <!--  KID GAME CONTENT -->
            <div class="kids-game-content">
                <div class="image-div content-pull-right">
                    <div class="kids-content-text col-md-5">
                        <div class="col-md-9 image-text">
                            <div class="image-text-head">
                                <p>CHUONG TRINH HE <span class="glyphicon glyphicon-play"></span></p>
                            </div>
                            <p class="img-font-size">HE SAC MAU CUNG HELIO KIDS</p>
                            <p class="img-text-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a class="btn btn-custom-style btn-custom-style-kids" href="#" role="button">TÌM HIỂU NGAY <span class="glyphicon glyphicon-menu-right"></span></a>
                        </div>
                    </div>
                    <div class="kids-content-image col-md-7">
                    </div>
                </div>

                <div class="image-div content-pull-left">
                    <div class="kids-content-image col-md-7">
                    </div>
                    <div class="kids-content-text col-md-5">
                        <div class="col-md-3"></div>
                        <div class="col-md-9 image-text">
                            <div class="image-text-head">
                                <p>CHUONG TRINH HE <span class="glyphicon glyphicon-play"></span></p>
                            </div>
                            <p class="img-font-size">HE SAC MAU CUNG HELIO KIDS</p>
                            <p class="img-text-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a class="btn btn-custom-style btn-custom-style-kids" href="#" role="button">TÌM HIỂU NGAY <span class="glyphicon glyphicon-menu-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- <div class="game-content container">
                <div class="btn-read-more" align="center">
                    <a class="btn-custom-style" href="#" role="button">Read More</a>
                </div>
            </div> -->
        </div>

        <!-- MAY CHOI SECTION -->
        <div role="tabpanel" class="tab-pane active" id="may-choi">
        </div>
    </div>

    <!-- DOWNLOAD APP BANNER -->
    <div class="app-banner">
        <a href="#"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a>
    </div>
</div>

{% endblock %}