{% extends "layout.html" %}
{% load i18n %} 
{% block extrastylesheet %}
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/slide.css">
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/helio_kids.css">

{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.carousel-1.1.min.js"></script>
<script type="text/javascript" src = "{{ STATIC_URL }}assets/websites/js/helio_kids.js"></script>
{% endblock %}
{% block main_content %} 
<!-- Page Header -->
<div class="container">
    <!-- CARD PAGE DESCRIPTION -->
    <div class="page-top">
        <div class="page-header-img">
            <div>
                <img src="{{ STATIC_URL }}assets/websites/images/power_card_header.png" width="100%">
            </div>
            <div class="page-title" align="center">
                <div class="col-md-12">
                    <p class="page-title-text">HELIO KIDS</p>
                </div>
            </div>
        </div>
        <div align="center" class="page-header-text">
            <div class="form-title">
                <p class="text-description">Đến Helio Center, bạn được trải nghiệm một hình thức thanh toán hoàn toàn mới, không cần tiền mặt, không cần xu, chỉ cần quẹt thẻ Power Card và trải nghiệm cuộc vui. Thật dễ dàng đúng không !!! Chưa hết, toàn bộ thông tin tài khoản thẻ Helio Power Card của bạn: số dư, số ticket, khuyến mãi và nhiều tiện ích khác đều có thể dễ dàng tra cứu được. Quá tiện!</p>
            </div>
        </div>
    </div>

    {% if result.kids_types %}
    
    <div class="pricing-btn-section">
        <!-- PRICING -->
        <div class="pricing-div">
            <img src="{{ STATIC_URL }}assets/websites/images/kids_pricing.png" width="100%">
        </div>

        <!-- BUTTON GROUP -->
        <ul class="nav btn-custom-group kid-btn-group">
            {% for type in result.kids_types %}
            <li  class="col-md-6">
                <a href="#{{ type.sub_url|cut:'/helio-kids/#' }}" role="tab" data-toggle="tab" class="btn-custom-style {{ type.sub_url | cut:'/helio-kids/#' }}">{{type.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="tab-content">
        {% for type, games in result.kids_types.items %}
        <div role="tabpanel" class="tab-pane {{ type.sub_url|cut:'/helio-kids/#' }}" id="{{ type.sub_url|cut:'/helio-kids/#' }}">
            <!-- Games slider -->
            <div class="carousel" >
            </div>
            {% if games %}
            <div class="carousel-tmp hidden">
                <div class="slides"> <!-- BEGIN CAROUSEL -->
                    {% for game in games %}
                    <div class="slideItem"> <!-- SLIDE ITEM -->
                        <a href="#">
                            <img src="{{ MEDIA_URL }}{{game.image}}">
                        </a>
                        <div class="short-description">
                            <p class="title-content game-name">{{game.name}}</p>
                            <p>{{game.short_description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- line -->
            <hr>
            <div class="row view-more-div">
                <!--  KID GAME CONTENT -->
                <div class="kids-game-content col-md-12">
                    {% for game in games %}
                    {% if forloop.counter|divisibleby:2 %} 
                    <div class="image-div content-pull-right col-md-12" style="background: url('{{ MEDIA_URL }}{{game.image}}'); display: none;">
                        <div class="row">
                            <div class="kids-content-text col-md-5">
                                <div class="col-md-9 image-text">
                                    <div class="image-text-head">
                                        <p>CHUONG TRINH HE <span class="glyphicon glyphicon-play"></span></p>
                                    </div>
                                    <p class="img-font-size">{{game.name}}</p>
                                    <p class="img-text-description">{{game.short_description}}</p>
                                    <a class="btn btn-custom-style btn-custom-style-kids" href="#" role="button">{% trans "btn.click_now" %}<span class="glyphicon glyphicon-menu-right"></span></a>
                                </div>
                            </div>
                            <div class="kids-content-image col-md-7">
                                <div class="image-hidden-sm-up row"><img src="{{ MEDIA_URL }}{{game.image}}" width="100%"></div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="image-div content-pull-left col-md-12" style="background: url('{{ MEDIA_URL }}{{game.image}}'); display: none;">
                        <div class="row">
                            <div class="kids-content-image col-md-7">
                                
                            </div>
                            <div class="kids-content-text col-md-5">
                                <div class="col-md-9 image-text pull-right">
                                    <div class="image-text-head">
                                        <p>CHUONG TRINH HE <span class="glyphicon glyphicon-play"></span></p>
                                    </div>
                                    <p class="img-font-size">{{game.name}}</p>
                                    <p class="img-text-description">{{game.short_description}}</p>
                                    <a class="btn btn-custom-style btn-custom-style-kids" href="#" role="button">{% trans "btn.click_now" %}<span class="glyphicon glyphicon-menu-right"></span></a>
                                </div>
                            </div>

                            <div class="image-hidden-sm-up col-md-7">
                                <div class="row"><img src="{{ MEDIA_URL }}{{game.image}}" width="100%"></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="btn-read-more btn-view-more col-md-12" align="center">
                    <a class="btn-custom-style btn-custom-style-kids" role="button">{% trans "btn.view_more" %}</a>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- DOWNLOAD APP BANNER -->
    <div class="app-banner">
        <a href="#"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a>
    </div>
</div>

{% endblock %}