{% extends "layout.html" %}
{% block extrastylesheet %}
    <!-- <link href="{{ STATIC_URL }}assets/websites/css/image_section.css" rel="stylesheet" type="text/css" /> -->
{% endblock %}
{% block title %}Helio Photos{% endblock title %}
{% block extrascript %}

{% endblock %}
{% block main_content %} 

<div class="container">
    <!-- COFFEE PAGE DESCRIPTION -->
    <div class="page-top">
        <div class="page-header-img">
            <div>
                <img src="{{ STATIC_URL }}assets/websites/images/helio_coffee_header.png" width="100%">
            </div>
            <div class="page-title" align="center">
                <div class="col-md-12">
                    <p class="page-title-text">HELIO PHOTOS</p>
                </div>
            </div>
        </div>
        <div align="center" class="page-header-text">
            <div class="form-title">
                <p class="text-description page_description">Helio Photos Helio Photos Helio Photos Helio Photos Helio Photos Helio Photos Helio Photos Helio Photos Helio Photos Helio Photos Helio Photos Helio Photos </p>
            </div>
        </div>
    </div>
    <style type="text/css">
        .box {
            padding: 0px; 
            position: relative; 
            padding-top: 33.33333333333%;
        }
        .box-inner {
            position: absolute; 
            top: 0px; 
            height: 100%;
        }
        .box-inner img {
            opacity: 0.5;
        }
        .box-text {
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            text-align:center;
            padding:20px;
            /* New lines for alignment */
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <!-- CONTENT -->
    <div class="wrap">
        <div class="box col-xs-4">
            <div class="box-inner" style="">
                <img src="{{ STATIC_URL }}assets/websites/images/helio_coffee_header.png" width="100%" height="100%">
            </div>
            <div class="box-text">
                <div>
                    <p>ABCBBBB</p>

                    <p>ABCBBBB</p>
                </div>
            </div>
        </div>
        <div class="box col-xs-4">
            <div class="box-inner">
                <img src="{{ STATIC_URL }}assets/websites/images/helio_coffee_header.png" width="100%" height="100%">
            </div>
            <div class="box-text">
                <div>
                    <p>ABCBBBB</p>
                </div>
            </div>
        </div>
        <div class="box col-xs-4">
            <div class="box-inner" style="">
                <img src="{{ STATIC_URL }}assets/websites/images/helio_coffee_header.png" width="100%" height="100%">
            </div>
            <div class="box-text">
                <div>
                    <p>ABCBBBB</p>
                </div>
            </div>
        </div>
        <div class="box col-xs-4">
            <div class="box-inner" style="">
                <img src="{{ STATIC_URL }}assets/websites/images/helio_coffee_header.png" width="100%" height="100%">
            </div>
            <div class="box-text">
                <div>
                    <p>ABCBBBB</p>
                </div>
            </div>
        </div>
    </div>
    <!-- DOWNLOAD APP BANNER -->
    <div class="app-banner">
        <a href="#"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a>
    </div>
</div>

{% endblock %}