{% extends "layout.html" %}
{% block extrastylesheet %}
<link href="{{ STATIC_URL }}assets/websites/css/helio_custom.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .game-group-content {
        border: 1px solid #ddd;
    }
    .group-games {
        margin-top: 18px;
    }
    .game-thumbnail {
        padding: 0px;
    }
</style>



{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'helio_play' %}">Helio Play</a></li>
{% endblock %}

{% block main_content %}
    <div id="helio-page" class="tabs-left" style="padding-top: 150px; padding-bottom: 150px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#play" data-toggle="tab">Helio Play</a></li>
            <li><a href="#kids" data-toggle="tab">Helio Kids</a></li>
        </ul>
        <div class="tab-content">
            <div class="row tab-pane active" id="play">
                <div class="col-md-12" style="padding-bottom: 15px;">
                    <h2 class="title">Helio Plays</h2>
                    <hr class="line">
                    <fieldset>
                        <legend>Filter</legend>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <input type="checkbox" name="vehicle" value="Bike">I have a bike
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="vehicle" value="Bike">I have a bike
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="vehicle" value="Bike">I have a bike
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="vehicle" value="Bike">I have a bike
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <input type="checkbox" name="vehicle" value="Bike">I have a bike
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="vehicle" value="Bike">I have a bike
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="vehicle" value="Bike">I have a bike
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="vehicle" value="Bike">I have a bike
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Attraction Games</legend>
                        <div class="col-md-12">
                            <div class="row game-group-content">
                                <div class="group-games">
                                    <div class="col-md-2 game-thumbnail">
                                        <div class="thumbnail">
                                            <img src="{{ STATIC_URL }}assets/images/img1.jpg" class="img-responsive" style="width:100%" alt="Image">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h3 class="name"> Games Name 1 </h3>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p style="font-weight: bold;">Description: </p>
                                            </div>
                                            <div class="col-md-9">
                                                <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p style="font-weight: bold;">Appropriate for: </p>
                                            </div>
                                            <div class="col-md-9">
                                                <p>Trung tâm giải trí phức hợp Helio Center</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <hr class="line row">
                            <div class="row game-group-content">
                                <div class="group-games">
                                    <div class="col-md-2 game-thumbnail">
                                        <div class="thumbnail">
                                            <img src="{{ STATIC_URL }}assets/images/img1.jpg" class="img-responsive" style="width:100%" alt="Image">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h3 class="name"> Games Name 1 </h3>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p style="font-weight: bold;">Description: </p>
                                            </div>
                                            <div class="col-md-9">
                                                <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p style="font-weight: bold;">Appropriate for: </p>
                                            </div>
                                            <div class="col-md-9">
                                                <p>Trung tâm giải trí phức hợp Helio Center</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Attraction Games</legend>
                        <div class="col-md-12">
                            <div class="row game-group-content">
                                <div class="group-games">
                                    <div class="col-md-2 game-thumbnail">
                                        <div class="thumbnail">
                                            <img src="{{ STATIC_URL }}assets/images/img1.jpg" class="img-responsive" style="width:100%" alt="Image">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h3 class="name"> Games Name 1 </h3>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p style="font-weight: bold;">Description: </p>
                                            </div>
                                            <div class="col-md-9">
                                                <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p style="font-weight: bold;">Appropriate for: </p>
                                            </div>
                                            <div class="col-md-9">
                                                <p>Trung tâm giải trí phức hợp Helio Center</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <hr class="line row">
                            <div class="row game-group-content">
                                <div class="group-games">
                                    <div class="col-md-2 game-thumbnail">
                                        <div class="thumbnail">
                                            <img src="{{ STATIC_URL }}assets/images/img1.jpg" class="img-responsive" style="width:100%" alt="Image">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h3 class="name"> Games Name 1 </h3>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p style="font-weight: bold;">Description: </p>
                                            </div>
                                            <div class="col-md-9">
                                                <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p style="font-weight: bold;">Appropriate for: </p>
                                            </div>
                                            <div class="col-md-9">
                                                <p>Trung tâm giải trí phức hợp Helio Center</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row tab-pane" id="kids">
                <div class="col-md-12">
                    <h2>HELIO KIDS</h2>
                    <hr class="line">
                    <fieldset>
                        <legend>What's hot?</legend>
                            <div class="footer-contact"> 
                            <p>Trung tâm giải trí phức hợp Helio Center</p> 
                            <p>Khu công viên Đông Nam Đài tưởng niệm, Đường 2/9, Phường Hòa Cường Bắc, Quận Hải Châu, TP Đà Nẵng</p> 
                            <p><span>Tel</span>(0236) 3 630 888</p> 
                            <p><span>Email: </span><a href="mailto:contact@helio.vn">contact@helio.vn</a> </p> 
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>What's hot?</legend>
                            <div class="footer-contact"> 
                            <p>Trung tâm giải trí phức hợp Helio Center</p> 
                            <p>Khu công viên Đông Nam Đài tưởng niệm, Đường 2/9, Phường Hòa Cường Bắc, Quận Hải Châu, TP Đà Nẵng</p> 
                            <p><span>Tel</span>(0236) 3 630 888</p> 
                            <p><span>Email: </span><a href="mailto:contact@helio.vn">contact@helio.vn</a> </p> 
                        </div>
                    </fieldset>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}
