{% extends "layout.html" %}
{% load i18n %} 
{% block extrastylesheet %}
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/slide.css">
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/helio_play.css">

{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.carousel-1.1.min.js"></script>
<script type="text/javascript" src = "{{ STATIC_URL }}assets/websites/js/helio_play.js"></script>

{% endblock %}
{% block main_content %} 
<!-- Page Header -->
<div class="container">
    <!-- HELIO PLAY PAGE DESCRIPTION -->
    {% if result.page_info %}
    <div class="page-top">
        <div class="page-header-img">
            <div>
                <img src="{{ STATIC_URL }}assets/websites/images/helio-play-header.png" width="100%">
            </div>
            <div class="page-title" align="center">
                <div class="col-md-12">
                    <p class="page-title-text">{{result.page_info.name}}</p>
                </div>
            </div>
        </div>
        <div align="center" class="page-header-text">
            <div class="form-title">
                <p class="text-description page_description">{{result.page_info.description}}</p>
            </div>
        </div>
    </div>
    {% endif %}


    {% if result.datas %}

    <!-- BUTTON GROUP -->
    <div class="play-btn-section">
        <ul class="nav play-btn-group">
            {% for type in result.datas %}
            <li class="col-md-4">
                <a href="#{{ type.sub_url|cut:'/helio-play/#' }}" role="tab" data-toggle="tab" class="btn-custom-style {{ type.sub_url | cut:'/helio-play/#' }}">{{type.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="tab-content">
        {% for type, datas in result.datas.items %}
        <div role="tabpanel" class="tab-pane {{ type.sub_url|cut:'/helio-play/#' }}" id="{{ type.sub_url|cut:'/helio-play/#' }}">
            <!-- Games slider -->
            <div class="carousel" >
            </div>
            {% if datas.games %}
            <div class="carousel-tmp hidden">
                <div class="slides"> <!-- BEGIN CAROUSEL -->
                    {% for game in datas.games %}
                    <div class="slideItem"> <!-- SLIDE ITEM -->
                        <a href="#">
                            <img src="{{ MEDIA_URL }}{{game.image}}">
                        </a>
                        <div class="short-description">
                            <p class="title-content game-name">{{game.name}}</p>
                            <p class="short_description">{{game.short_description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <!-- line -->
            <hr>
            <div class="row view-more-div">
                <!--  PLAY GAME CONTENT -->
                <div class="kids-game-content col-md-12">
                    {% for promotion in datas.promotions %}
                    {% if forloop.counter|divisibleby:2 %} 
                    <div class="image-div content-pull-left col-md-12" style="background: url('{{ MEDIA_URL }}{{promotion.image}}'); display: none;">
                        <div class="row">
                            <div class="play-content-image col-md-7">
                                
                            </div>
                            <div class="play-content-text col-md-5">
                                <div class="col-md-9 image-text pull-right">
                                    <div class="image-text-head">
                                        <p>CHUONG TRINH HE <span class="glyphicon glyphicon-play"></span></p>
                                    </div>
                                    <p class="img-font-size">{{promotion.name}}</p>
                                    <p class="img-text-description short_description">{{promotion.short_description}}</p>
                                    <a class="btn btn-custom-style btn-custom-style-play" href="#" role="button">{% trans "btn.click_now" %}<span class="glyphicon glyphicon-menu-right"></span></a>
                                </div>
                            </div>

                            <div class="image-hidden-sm-up col-md-7">
                                <div class="row"><img src="{{ MEDIA_URL }}{{promotion.image}}" width="100%"></div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="image-div content-pull-right col-md-12" style="background: url('{{ MEDIA_URL }}{{promotion.image}}'); display: none;">
                        <div class="row">
                            <div class="play-content-text col-md-5">
                                <div class="col-md-9 image-text">
                                    <div class="image-text-head">
                                        <p>CHUONG TRINH HE <span class="glyphicon glyphicon-play"></span></p>
                                    </div>
                                    <p class="img-font-size">{{promotion.name}}</p>
                                    <p class="img-text-description short_description">{{promotion.short_description}}</p>
                                    <a class="btn btn-custom-style btn-custom-style-play" href="#" role="button">{% trans "btn.click_now" %}<span class="glyphicon glyphicon-menu-right"></span></a>
                                </div>
                            </div>
                            <div class="play-content-image col-md-7">
                                <div class="image-hidden-sm-up row"><img src="{{ MEDIA_URL }}{{promotion.image}}" width="100%"></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="btn-read-more div-view-more col-md-12" align="center">
                    <a class="btn-view-more btn-custom-style btn-custom-style-play" role="button">{% trans "btn.view_more" %}</a>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- DOWNLOAD APP BANNER -->
    <div class="app-banner">
        <a href="#"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a>
    </div>
</div>

{% endblock %}