{% extends "layout.html" %}
{% load i18n %} 
{% block extrastylesheet %}
    <link href="{{ STATIC_URL }}assets/websites/css/home.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block main_content %}  


<div class="container-fluid text-center event-new">
    <p><i class="fa fa-bell-o" aria-hidden="true"></i>CHƯƠNG TRÌNH GIẢM GIÁ BÁNH TẠI BAKERY - SẮP DIỄN RA LÚC 17:30</p>
</div>
<!-- SLIDE SECTION -->
{% if result.hots %}
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for hot in result.hots %}
            <div class="item">
                <img src="{{ MEDIA_URL }}{{hot.image}}">
            </div>
            {% endfor %}
        </div>

        <ul class="nav nav-justified home-carousel hidden-xs">
            <li data-target="#myCarousel" data-slide-to="0" class="active"><a class="title-content" href="#">CUOC THI ANH KHOANH KHAC YEU THUONG</a></li>
            <li data-target="#myCarousel" data-slide-to="1"><a class="title-content" href="#">CUOC THI ANH KHOANH KHAC YEU THUONG</a></li>
            <li data-target="#myCarousel" data-slide-to="2"><a class="title-content" href="#">CUOC THI ANH KHOANH KHAC YEU THUONG</a></li>
            <li data-target="#myCarousel" data-slide-to="3"><a class="title-content" href="#">CUOC THI ANH KHOANH KHAC YEU THUONG</a></li>
        </ul>
    </div>
</div>
{% endif %}
<!-- BANNER 1 SECTION -->
{% if result.banners and result.banners.1 %}
<div class="container">
    <a href="{{result.banners.1.sub_url}}"><img src="{{ MEDIA_URL }}{{result.banners.1.image}}" width="100%"></a>
</div>
{% endif %}

<!-- GAME SECTION -->
<div class="container block-content-50" >
    <div class="row">
        <div class="col-md-12 game-section-body">
            <div class="title-section" align="center">
                <p class="big-font-size game-title">{% trans "homepage.title.section.game" %}</p>
            </div>
            <div class="section-game">
                <div class="col-lg-3 col-md-3 game-section-menu hidden-xs">
                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            CHO DEM
                        </a>
                        <a href="#" class="list-group-item text-center">
                            PLAY
                        </a>
                        <a href="#" class="list-group-item text-center">
                            KIDS
                        </a>
                        <a href="#" class="list-group-item text-center">
                            COFFEE
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 game-section">
                    <!-- cho dem section -->
                    <div class="game-section-content active">
                        <div class="game-section-detail">
                            <div class="col-xs-12 col-md-6 game-left"> 
                                <div class="game-type-content">
                                    <p class="title-content game-type">TRÒ CHƠI VẬN ĐỘNG</p>
                                    <p>Hệ thống các trò chơi vận động mới lạ, hấp dẫn, hứa hẹn sẽ mang lại cho bạn những giây phút vui chơi tuyệt vời sảng khoái.</p> 
                                </div>
                                <hr>
                                <div>
                                    <p class="game-description ">Cùng khám phá những dòng game siêu đỉnh, được liên tục bổ sung cùng các trò chơi cảm giác mạnh độc quyền tại Helio Center.</p> 
                                    
                                    <!-- Games Type-->
                                    <ul class="nav btn-custom-group type-group">
                                        <li class="active">
                                            <a class="btn-custom-style" href="#">HELIO PLAY<span class="glyphicon glyphicon-chevron-right"></a>
                                        </li>
                                        <li>
                                            <a class="btn-custom-style" href="#">HELIO KIDS<span class="glyphicon glyphicon-chevron-right"></a>
                                        </li>
                                        <li>
                                            <a class="btn-custom-style"href="#">NIGHT LIFE<span class="glyphicon glyphicon-chevron-right"></a>
                                        </li>
                                    </ul>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="col-xs-12 col-md-6 game-section-detail">
                            <img src="{{ STATIC_URL }}assets/websites/images/game.png" alt="helio" width="100%" height="550">
                        </div>
                    </div>
                    <!-- play section -->
                    <div class="game-section-content">
                       
                    </div>
        
                    <!-- kids section -->
                    <div class="game-section-content">
                        
                    </div>
                    <!-- coffee section -->
                    <div class="game-section-content">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  



<div class="container">
    <div class="col-md-12 border-dot block-content-20">
        <div class="row content-info">
            <p class="title-content ">
                {% trans "homepage.title.section.redemption_store" %}
                <a class="btn btn-custom-style btn-link-more" href="#" role="button">{% trans "btn.click_now" %}</a>
            </p>
            
        </div>
    </div>
</div>

<!-- BANNER 2 SECTION -->
{% if result.banners and result.banners.2 %}
<div class="container block-content-20">
     <a href="{{result.banners.2.sub_url}}"><img src="{{ MEDIA_URL }}{{result.banners.2.image}}" width="100%"></a>
</div>
{% endif %}

<!-- VIDIEO SECTION -->
<div class="container block-content-20">
    <div class="vidieo-div">
        <div class="vidieo-right col-md-5">
            <div class="col-md-10 vidieo-text">
                <p class="big-font-size">{% trans "homepage.title.section.entertaiment" %}</p>
                <a class="btn btn-custom-style" href="#" role="button">{% trans "btn.click_now" %}</a>
            </div>
        </div>
        <div class="vidieo-left col-md-7">
            <div class="btn-play-div col-md-12">
                <a class="btn btn-custom-style" href="#" role="button" data-toggle="modal" data-target="#vidieo_play"><i class="fa fa-play"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- REDEMPTION STORE SECTION-->
<div class="container block-content-20">
    <div class="col-md-12 border-dot">
        <div class="row content-info">
            <p class="title-content">
                {% trans "homepage.title.section.powercard" %}
                <a class="btn btn-custom-style btn-link-more" href="#" role="button">{% trans "btn.click_now" %}</a>
            </p>
        </div>
    </div>
</div>

<!-- EVENT SECTION -->
<div class="container block-content-50">
    <div class="row">
        <div class="col-md-12 event-section-body">
            <div class="row title-section event-title-section">
                <div class="col-md-9">
                    <p class="big-font-size event-title">{% trans "homepage.title.section.event" %}</p>
                </div> 
                <div class="col-md-3" align="right">
                    <a class="btn btn-custom-style" href="#" role="button">{% trans "btn.view_all" %}</a>
                </div>
                
            </div>
            <hr>
            <div class="row">
                <div class="event-detail">
                    <div class="col-md-2">
                        <center>
                            <p >14</p>
                            <p>Thang 2</p>
                        </center>
                    </div>
                    <div class="col-md-8">
                        <div class="caption">
                            <h3>Event Name 1</h3>
                            <p>12 - 11213 123213 13213 12</p>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="event-img">
                            <img src="http://helio.vn/uploads/4_Bai%20viet%20san%20pham/Helio%20Kids/Khu%20trong%20nha/Guong%20hoa%20trang/Guong_hoa_trang_01.jpg" alt="helio" width="100%">
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="event-detail">
                    <div class="col-md-2">
                        <center>
                            <p>14</p>
                            <p>Thang 2</p>
                        </center>
                    </div>
                    <div class="col-md-8">
                        <div class="caption">
                            <h3 class="name">Event Name 1</h3>
                            <p>12 - 11213 123213 13213 12</p>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="event-img">
                            <img src="http://helio.vn/uploads/4_Bai%20viet%20san%20pham/Helio%20Kids/Khu%20trong%20nha/Guong%20hoa%20trang/Guong_hoa_trang_01.jpg" alt="helio" width="100%">
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr>
        </div> 
    </div>
</div>
    
<!-- BANNER 3 SECTION -->
{% if result.banners and result.banners.3 %}
<div class="container block-content-20 banner3">
    <a href="{{result.banners.3.sub_url}}"><img src="{{ MEDIA_URL }}{{result.banners.3.image}}" width="100%"></a>
</div>
{% endif %}

<!-- Modal -->
<div id="vidieo_play" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body">
            <iframe width="100%" height="500px" src="https://www.youtube.com/embed/tGwuUvSuKLk" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    </div>
</div>
    
{% endblock %}

{% block extrascript %}
    <script src = "{{ STATIC_URL }}assets/websites/js/home.js"></script>
{% endblock %}




    

