{% extends "layout.html" %}
{% load i18n %} 
{% block extrastylesheet %}
    <link href="{{ STATIC_URL }}assets/websites/css/home.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block main_content %}  
<!-- SLIDE SECTION -->
{% if result.hots %}
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for hot in result.hots %}
            <div class="item">
                <img src="{{ MEDIA_URL }}{{hot.image}}" width="100%">
            </div>
            {% endfor %}
        </div>

        <ul class="nav nav-justified home-carousel hidden-xs">
            {% for hot in result.hots %}
            <li data-target="#myCarousel">
                <a class="title-content" href="#">{{hot.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<!-- BANNER 1 SECTION -->
{% if result.banners and result.banners.1 %}
<div class="container">
    <a href="{{result.banners.1.sub_url}}"><img src="{{ MEDIA_URL }}{{result.banners.1.image}}" width="100%"></a>
</div>
{% endif %}

<!-- GAME SECTION -->
<div class="container block-content-50" >
    <div class="row">
        <div class="col-md-12 game-section-body">
            <div class="title-section" align="center">
                <p class="big-font-size game-title">{% trans "homepage.title.section.game" %}</p>
            </div>
            <div class="section-game">
                <div class="col-lg-3 col-md-3 game-section-menu hidden-xs">
                    <div class="list-group">
                        <a href="#" class="list-group-item text-center night-life">
                            {% trans "homepage.text.night_life" %}
                        </a>
                        <a href="#" class="list-group-item text-center play">
                            {% trans "homepage.text.play" %}
                        </a>
                        <a href="#" class="list-group-item text-center kids">
                            {% trans "homepage.text.kids" %}
                        </a>
                        <a href="#" class="list-group-item text-center coffee">
                            {% trans "homepage.text.coffee" %}
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 game-section">
                    <!-- NIGHT LIFT section -->
                    <div class="game-section-content">
                        <div class="game-section-detail">
                            <div class="col-xs-12 col-md-6 game-left">
                                <div class="game-type-slide">
                                    <div class="game-type-content">
                                        <p class="title-content game-type">{% trans "homepage.text.night_life" %}</p>
                                        <p class="short_description">Hàng ngàn món quà hấp dẫn, lý thú. Helio mang đến cho bạn trải nghiệm Chơi Game - Tích điểm - Đổi quà thực sự thú vị tại quầy đổi quà lớn nhất Việt Nam hiện nay</p> 
                                    </div>
                                    <hr>
                                    <p class="game-description short_description">Hàng ngàn món quà hấp dẫn, lý thú. Helio mang đến cho bạn trải nghiệm Chơi Game - Tích điểm - Đổi quà thực sự thú vị tại quầy đổi quà lớn nhất Việt Nam hiện nay</p> 
                                </div>
                            
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 game-section-detail">
                            <div class="game-right">
                                <img src="{{ STATIC_URL }}assets/websites/images/home_game_section_right.png" alt="helio" width="100%" height="550">
                            </div>
                        </div>
                    </div>

                    <!-- PLAY section -->
                    <div class="game-section-content">
                        {% if result.play_types %}
                        <div class="game-section-detail">
                            <div class="col-xs-12 col-md-6 game-left"> 
                                {% for type in result.play_types %}
                                <div class="game-type-slide">
                                    <div class="game-type-content">
                                        <p class="title-content game-type">{{type.name}}</p>
                                        <p class="short_description">{{type.description}}</p> 
                                    </div>
                                    <hr>
                                    <p class="game-description short_description">{{type.description_game}}</p> 
                                </div>
                                {% endfor %}
                                <div class="type-group">
                                    <!-- Games Type-->
                                    <ul class="nav btn-custom-group type-group">
                                        {% for type in result.play_types %}
                                        <li>
                                            <a class="btn-custom-style" href="{{type.sub_url}}">{{type.name}}<span class="glyphicon glyphicon-chevron-right"></a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 game-section-detail">
                            {% for type in result.play_types %}
                            <div class="game-right">
                                <img src="{{ MEDIA_URL }}{{type.image}}" alt="helio" width="100%" height="550">
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <!-- KIDS section -->
                    <div class="game-section-content">
                        {% if result.kids_types %}
                        <div class="game-section-detail">
                            <div class="col-xs-12 col-md-6 game-left"> 
                                {% for type in result.kids_types %}
                                <div class="game-type-slide">
                                    <div class="game-type-content">
                                        <p class="title-content game-type">{{type.name}}</p>
                                        <p class="short_description">{{type.description}}</p> 
                                    </div>
                                    <hr>
                                    <p class="game-description short_description">{{type.description_game}}</p> 
                                </div>
                                {% endfor %}
                                <div class="type-group">
                                    <!-- Games Type-->
                                    <ul class="nav btn-custom-group type-group">
                                        {% for type in result.kids_types %}
                                        <li>
                                            <a class="btn-custom-style" href="{{type.sub_url}}">{{type.name}}<span class="glyphicon glyphicon-chevron-right"></a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 game-section-detail">
                            {% for type in result.kids_types %}
                            <div class="game-right">
                                <img src="{{ MEDIA_URL }}{{type.image}}" alt="helio" width="100%" height="550">
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <!-- COFFEE section -->
                    <div class="game-section-content">
                        <div class="game-section-detail">
                            <div class="col-xs-12 col-md-6 game-left">
                                <div class="game-type-slide">
                                    <div class="game-type-content">
                                        <p class="title-content game-type">COFFEE</p>
                                        <p class="short_description">Hàng ngàn món quà hấp dẫn, lý thú. Helio mang đến cho bạn trải nghiệm Chơi Game - Tích điểm - Đổi quà thực sự thú vị tại quầy đổi quà lớn nhất Việt Nam hiện nay</p> 
                                    </div>
                                    <hr>
                                    <p class="game-description short_description">Hàng ngàn món quà hấp dẫn, lý thú. Helio mang đến cho bạn trải nghiệm Chơi Game - Tích điểm - Đổi quà thực sự thú vị tại quầy đổi quà lớn nhất Việt Nam hiện nay</p> 
                                </div>
                            
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 game-section-detail">
                            <div class="game-right">
                                <img src="{{ STATIC_URL }}assets/websites/images/home_game_section_right.png" alt="helio" width="100%" height="550">
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>  

<div class="container">
    <div class="col-md-12 border-dot block-content-20">
        <div class="row content-info">
            <p class="title-content ">
                {% trans "homepage.title.section.redemption_store" %}
                <a class="btn btn-custom-style btn-link-more" href="#" role="button">{% trans "btn.click_now" %}</a>
            </p>
            
        </div>
    </div>
</div>

<!-- BANNER 2 SECTION -->
{% if result.banners and result.banners.2 %}
<div class="container block-content-20">
     <a href="{{result.banners.2.sub_url}}"><img src="{{ MEDIA_URL }}{{result.banners.2.image}}" width="100%"></a>
</div>
{% endif %}

<!-- VIDIEO SECTION -->
<div class="container block-content-20">
    <div class="vidieo-div">
        <div class="vidieo-right col-md-5">
            <div class="col-md-10 vidieo-text">
                <ul class="list-line list-inline">
                    <li><i class="line" aria-hidden="true"></i></li>
                    <li><i class="line" aria-hidden="true"></i></li>
                    <li><i class="line" aria-hidden="true"></i></li>
                </ul>
                <p class="big-font-size">{% trans "homepage.title.section.entertaiment" %}</p>
                <a class="btn btn-custom-style btn-entertaiment href="#" role="button">{% trans "btn.click_now" %}</a>
            </div>
        </div>
        <div class="vidieo-left col-md-7">
            <div class="btn-play-div col-md-12">
                <a class="btn btn-custom-style" href="#" role="button" data-toggle="modal" data-target="#vidieo_play_modal"><i class="fa fa-play"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- REDEMPTION STORE SECTION-->
<div class="container block-content-20">
    <div class="col-md-12 border-dot">
        <div class="row content-info">
            <p class="title-content">
                {% trans "homepage.title.section.powercard" %}
                <a class="btn btn-custom-style btn-link-more" href="{% url 'power_card' %}" role="button">{% trans "btn.click_now" %}</a>
            </p>
        </div>
    </div>
</div>

<!-- EVENT SECTION -->
{% if result.events%}
<div class="container block-content-50">
    <div class="row">
        <div class="col-md-12 event-section-body">
            <div class="row title-section event-title-section">
                <div class="col-md-9">
                    <p class="big-font-size event-title">{% trans "homepage.title.section.event" %}</p>
                </div> 
                <div class="col-md-3" align="right">
                    <a class="btn btn-custom-style" href="{% url 'events' %}" role="button">{% trans "btn.view_all" %}</a>
                </div>
                
            </div>
            <hr>
            {% for event in result.events %}
            <div class="row">
                <div class="event-detail">
                    <div class="col-md-2">
                        <center>
                            <p class="event-date">{{ event.start_date | date:"d" }}</p>
                            <p class="event-month">{{ event.start_date | date:"M" }}</p>
                        </center>
                    </div>
                    <div class="col-md-8">
                        <div class="caption">
                            <p class="event-name">{{event.name}}</p>
                            <p class="event-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.start_time | date:"H:i" }} - {{ event.end_time | date:"H:i" }} | {{ event.start_date | date:"d.m.Y" }} - {{ event.end_date | date:"d.m.Y" }}</p>
                            <p class="short_description">{{event.short_description}}</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="event-img">
                            <img src="{{ MEDIA_URL }}{{event.image}}" alt="helio" width="100%">
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div> 
    </div>
</div>
{% endif %}
    
<!-- BANNER 3 SECTION -->
{% if result.banners and result.banners.3 %}
<div class="container block-content-20 banner3">
    <a href="{{result.banners.3.sub_url}}"><img src="{{ MEDIA_URL }}{{result.banners.3.image}}" width="100%"></a>
</div>
{% endif %}

<!-- Modal -->
<div id="vidieo_play_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body">
            <iframe id="helio_vidieo" width="100%" height="500px" src="https://www.youtube.com/embed/tGwuUvSuKLk" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    </div>
</div>
    
{% endblock %}

{% block extrascript %}
    <script src = "{{ STATIC_URL }}assets/websites/js/home.js"></script>
{% endblock %}




    

