{% extends "layout.html" %}
{% block extrastylesheet %}
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/font-awesome/css/font-awesome.min.css">
<style type="text/css">
  .style-icon {
    margin-right: 50px;
    display: inline;
    width: 250px; 
    text-align: center; 
  }
  .style-img {
    width: 100%;
    margin-top: 20px;
  }
  .content-post{
    margin:0px auto;
    width: 900px; 
  }
  .block-post-involved {
    margin-top: 20px;
    background-color: #e6e6e6; 
    padding: 25px;
  }
  .block-post-title {
    margin-bottom: 20px;
  }
  .posts-involved {
    margin:0px auto;
    width: 100%; 
  }
  .style-post {
    background-color: #fff;
  }
  h1 {
    text-align: center;
  }
  h4 {
    text-align: left;
  }
  a.all-tn {
    text-decoration: none;
    display: block;
    text-align: right;
    margin-top: 10px;
  }
</style>
{% endblock %}
{% block extrascript %}

{% endblock %}
{% block main_content %} 

<div class="container">
  <img class="style-img" src="{{ STATIC_URL }}assets/websites/images/slide1.jpg">
  <div class=" content-post">
    <div class="row">
      <div class="col-md-12">
        <h1>KHAM PHA LANG BAC CUC</h1>
        <fieldset class="style-icon"">
          EVENT <br>DATE TIME
        </fieldset>
        <a href="#" class="style-icon"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>&nbsp; HELIO PLAY</a>
        <a href="#" class="style-icon"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp; Like</a>
        <a href="#" class="style-icon"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp; Share</a>
          
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops. On mobile phones, the columns will automatically stack. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops.</p>
      </div>
      <div class="col-md-12">
        <img src="{{ STATIC_URL }}assets/images/img1.jpg" class="img-responsive" style="width:100%; padding: 20px;" alt="Image">
      </div>
      <div class="col-md-12">
        <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops. On mobile phones, the columns will automatically stack. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops.</p>
        <p>To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops.</p>
        <p> On mobile phones, the columns will automatically stack. To make your trip to Singapore as enjoyable as possible, here is some general information to take note of before you leave. The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops.</p>
      </div>
    </div>
  </div>

  <div class="block-post-involved">
    <div class="row block-post-title">
      <div class="col-md-6">
        <h4>KHUYEN MAI KHAC</h4>
      </div>
      <div class="col-md-6">
        <a class="all-tn" href="#">TAT CA KHUYEN MAI ></a>
      </div>
    </div>
    <div class="row">
      <div class="item col-md-4 col-sm-3 col-xs-6">
        <div class="style-post">
          <span><a href="#" class="thumbnail"><img src="{{ STATIC_URL }}assets/websites/images/img1.jpg"></a></span>
          <h3><a href="#">Buffet Gia đình <br>Vui đón Giáng Sinh</a></h3>
        </div>
        
      </div>
      <div class="item col-md-4 col-sm-4 col-xs-6">
        <div class="style-post">
          <span><a href="#" class="thumbnail"><img src="{{ STATIC_URL }}assets/websites/images/img1.jpg"></a></span>
          <h3><a href="#">Buffet Gia đình <br>Vui đón Giáng Sinh<br>Vui đón Giáng Sinh</a></h3>
        </div>
        
      </div>
      <div class="item col-md-4 col-sm-3 col-xs-6">
        <div class="style-post">
          <span><a href="#" class="thumbnail"><img src="{{ STATIC_URL }}assets/websites/images/img1.jpg"></a></span>
          <h3><a href="#">Buffet Gia đình <br>Vui đón Giáng Sinh</a></h3>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}