{% extends "layout.html" %}

{% block extrastylesheet %}
<style type="text/css">

	hr.style14 { 
	  border: 0; 
	  height: 3px; 
	  background-image: -webkit-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
	  background-image: -moz-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
	  background-image: -ms-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0);
	  background-image: -o-linear-gradient(left, #f0f0f0, #1d1c1c, #f0f0f0); 
	}
	.li {
		font-size: 25px;
		font-weight: : bold;
	}
	ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #fff;
    font-size: 17px;
	}
	ul.breadcrumb li {display: inline;}
	ul.breadcrumb li+li:before {
	    padding: 8px;
	    color: black;
	    content: ">";
	}
	ul.breadcrumb li a {
	    color: #0275d8;
	    text-decoration: none;
	}
	ul.breadcrumb li a:hover {
	    color: #01447e;
	    text-decoration: underline;
	}
</style>
{% endblock %}
{% block main_content %} 
<div style="padding-left: 150px;">
	<ul class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Member & Pricing</a></li>
	  <li class="active">Membership</li>
	</ul>
</div>
<div class="row">
	<div class="col-md-12" >
		<h1>Helio Membership</h1>
		<hr class="style14">
		<div style="padding-top: 50px;">
			<p>Bootstrap includes a powerful mobile-first flexbox grid system for building layouts of all shapes and sizes. It’s based on a 12 column layout and has multiple tiers, one for each media query range. You can use it with Sass mixins or our predefined classes.</p>
			<p>Bootstrap includes a powerful mobile-first flexbox grid system for building layouts of all shapes and sizes. It’s based on a 12 column layout and has multiple tiers, one for each media query range. You can use it with Sass mixins or our predefined classes.</p>
			<p>Bootstrap includes a powerful mobile-first flexbox grid system for building layouts of all shapes and sizes. It’s based on a 12 column layout and has multiple tiers, one for each media query range. You can use it with Sass mixins or our predefined classes.</p>
			<p>Bootstrap includes a powerful mobile-first flexbox grid system for building layouts of all shapes and sizes. It’s based on a 12 column layout and has multiple tiers, one for each media query range. You can use it with Sass mixins or our predefined classes.</p>
		</div>
	</ol>
	</div>
</div>





{% endblock %}