{% extends "layout.html" %}
{% load i18n %}
{% block extrastylesheet %}
<style type="text/css">
p.texxt:first-letter {
    float: left;
    padding: 0px 8px 0 0;
    display: block;
    color: #fec231;
    font-size: 127px;
    line-height: 96px;
}
</style>
{% endblock %}
{% block extrascript %}

<script>
$(document).ready(function(){

});
</script>

{% endblock %}
{% block main_content %} 

<div class="page-top">
    <div class="page-header-img">
        <div>
            <img src="{{ STATIC_URL }}assets/websites/images/night-life-header.png" width="100%">
        </div>
    </div>
</div>
<div class="section-top container">
    <!-- TEXT 1 -->
    <div class="row">
        <div class="row col-md-10">
            <div class="col-md-10 nightlife-page-title">
                <p class="big-font-size">NHỮNG TRẢI NGHIỆM TUYỆT VỜI CÙNG ẨM THỰC VÀ GIẢI TRÍ</p>
            </div>
            <div class="col-md-12 nightlife-page-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Fusce fringilla bibendum arcu sit amet viverra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Fusce fringilla bibendum arcu sit amet viverra.</p>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <p class="texxt">Corem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Fusce fringilla bibendum arcu sit amet viverra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Fusce fringilla bibendum arcu sit amet viverra.</p>
        </div>
    </div>

    <!-- TEXT 2 -->
    <div class="row">
        <div class="row col-md-10">
            <div class="col-md-10 nightlife-page-title">
                <p class="big-font-size">NHỮNG TRẢI NGHIỆM TUYỆT VỜI CÙNG ẨM THỰC VÀ GIẢI TRÍ</p>
            </div>
            <div class="col-md-12 nightlife-page-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Fusce fringilla bibendum arcu sit amet viverra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Fusce fringilla bibendum arcu sit amet viverra.</p>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <p class="texxt">Corem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Fusce fringilla bibendum arcu sit amet viverra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nunc est. Proin rutrum viverra neque eu porta. Fusce fringilla bibendum arcu sit amet viverra.</p>
        </div>
        
    </div>
</div>

<div class="container">
    <!-- DOWNLOAD APP BANNER -->
    <div class="app-banner">
        <a href="#"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a>
    </div>
</div>
{% endblock %}