{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %} xmlns:fb="http://ogp.me/ns/fb#">
<head>

</head>
<body id="">
<br>
{% get_current_language as LANGUAGE_CODE %}
Current language {{LANGUAGE_CODE}}

<h1>{{name}}</h1>


{% if posts %}
<table>
	{% for post in posts %}
	<tr>
		<td>{{post.name}}</td>
		<td>{{post.content | safe}}</td>
		
	</tr>
	{% endfor %}
{% endif %}
</table>
<button id="get-post">Get Post</button>
<button id="get-all">Get All Post</button>
</body>
</html>
