{% extends "layout.html" %}
{% load i18n %} 
{% block extrastylesheet %}
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/slide.css">
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/promotions.css">

{% endblock %}
{% block extrascript %}
<script type="text/javascript" src = "{{ STATIC_URL }}assets/websites/js/promotions.js"></script>
{% endblock %}
{% block main_content %} 
<!-- Page Header -->
<div class="container">
    <!-- CARD PAGE DESCRIPTION -->
    <div class="page-top">
        <div class="page-header-img">
            <div id="promotionCarousel" class="carousel slide carousel-custom" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators carousel-indicators-custom">
                    <li data-target="#promotionCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#promotionCarousel" data-slide-to="1"></li>
                    <li data-target="#promotionCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{{ STATIC_URL }}assets/websites/images/power_card_header.png" alt="Helio">
                    </div>
                    <div class="item">
                        <img src="{{ STATIC_URL }}assets/websites/images/power_card_header.png" alt="Helio">
                    </div>
                    <div class="item">
                        <img src="{{ STATIC_URL }}assets/websites/images/power_card_header.png" alt="Helio">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if result.datas %}
    
    <div class="btn-section-div">
        <!-- BUTTON GROUP -->
        <ul class="nav btn-custom-group promotion-btn-group">
            {% for category in result.datas %}
            <li  class="col-md-3">
                <a href="#promotion{{ category.id }}" role="tab" data-toggle="tab" class="btn-custom-style">{{category.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="tab-content">
        {% for category, promotions in result.datas.items %}
        <div role="tabpanel" class="tab-pane" id="promotion{{ category.id }}">
            <div class="row view-more-div">
                <!--  KID GAME CONTENT -->
                <div class="kids-game-content col-md-12">
                    {% for promotion in promotions %}
                    {% if forloop.counter|divisibleby:2 %} 
                    <div class="image-div content-pull-left col-md-12" style="background: url('{{ MEDIA_URL }}{{promotion.image}}'); display: none;">
                        <div class="row">
                            <div class="kids-content-image col-md-7">
                                
                            </div>
                            <div class="kids-content-text col-md-5">
                                <div class="col-md-9 image-text pull-right">
                                    <div class="image-text-head">
                                        <p>CHUONG TRINH HE <span class="glyphicon glyphicon-play"></span></p>
                                    </div>
                                    <p class="img-font-size">{{promotion.name}}</p>
                                    <p class="img-text-description">{{promotion.short_description}}</p>
                                    <a class="btn btn-custom-style btn-custom-style-promotion" href="#" role="button">{% trans "btn.click_now" %}<span class="glyphicon glyphicon-menu-right"></span></a>
                                </div>
                            </div>

                            <div class="image-hidden-sm-up col-md-7">
                                <div class="row"><img src="{{ MEDIA_URL }}{{promotion.image}}" width="100%"></div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="image-div content-pull-right col-md-12" style="background: url('{{ MEDIA_URL }}{{promotion.image}}'); display: none;">
                        <div class="row">
                            <div class="kids-content-text col-md-5">
                                <div class="col-md-9 image-text">
                                    <div class="image-text-head">
                                        <p>CHUONG TRINH HE <span class="glyphicon glyphicon-play"></span></p>
                                    </div>
                                    <p class="img-font-size">{{promotion.name}}</p>
                                    <p class="img-text-description">{{promotion.short_description}}</p>
                                    <a class="btn btn-custom-style btn-custom-style-promotion" href="#" role="button">{% trans "btn.click_now" %}<span class="glyphicon glyphicon-menu-right"></span></a>
                                </div>
                            </div>
                            <div class="kids-content-image col-md-7">
                                <div class="image-hidden-sm-up row"><img src="{{ MEDIA_URL }}{{promotion.image}}" width="100%"></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="btn-read-more div-view-more col-md-12" align="center">
                    <a class="btn-view-more btn-custom-style btn-custom-style-promotion-view-more" role="button">{% trans "btn.view_more" %}</a>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- DOWNLOAD APP BANNER -->
    <div class="app-banner">
        <a href="#"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a>
    </div>
</div>

{% endblock %}