{% extends "layout.html" %}

{% block title %}carrer detail{% endblock %}
{% block extrastylesheet %}
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/promotion_detail.css">
{% endblock %}
{% block main_content %} 
{% if promotion %}
<div class="page-top">
    <div class="page-header-img-full">
        <img src="{{ MEDIA_URL }}{{ promotion.image }}" width="100%">
        <div class="container">
            <div class="page-title-detail row">
                <div class="col-md-12" align="center">
                    <p class="big-font-size">{{promotion.name}}</p>
                </div>
                <div class="col-md-12">
                    <div class="custom-icons" align="center">
                        <a href="#" class="style-icon"><span class="glyphicon glyphicon-heart circle-icon" aria-hidden="true"></span> Like</a>
                        <a href="#" class="style-icon"><span class="fa fa-share-alt circle-icon" aria-hidden="true"></span> Share</a>   
                        <!-- <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>      
    
<div class="container carrer-content">
    <div class="carrer-content" align="center">
        {{promotion.content | safe}}
    </div>
    <hr class="hr-custom">
</div>
{% endif %}

{% if other_promotions %}
<div class="container">
    <div class="block-post-involved">
        <div class="row block-post-title">
            <div class="col-md-6 col-md-6-custom">
                <h4>TUYỂN DỤNG KHÁC</h4>
            </div>
            <div class="col-md-6 col-md-6-custom">
                <a class="btn button-all btn-custom-style btn-custom-style-kids" href="{% url 'careers' %}" role="button">TẤT CẢ TUYỂN DỤNG<span class="glyphicon glyphicon-menu-right"></span></a>
            </div>
        </div>
        <div class="row custom-other-exp">
            {% for promotions in other_promotions %}
            <div class="item col-md-4 col-xs-12 custom-carrer">
                <div class="style-post">
                    <span><a href="#" class="thumbnail thumbnail-custom"><img src="{{ MEDIA_URL }}{{ promotions.image }}" width="100%"></a></span>
                    <a class="title-post" href="/careers/{{promotions.id}}/detail/">{{promotions.name}}</a>
                    <p class="text-limit-rows">{{promotions.short_description}}</p> <a class="view-detail" href="/careers/{{promotions.id}}/detail/">Xem chi tiết</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}