<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/promotion-label/list">Nhãn Khuyến Mãi</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chỉnh Sửa Nhãn Khuyến Mãi</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row mt-30 mb-30">
    <h3>Chỉnh Sửa Nhãn Khuyến Mãi</h3>
    <hr/>
</div>
<h4>{{ errorMessage }}</h4>
<form [formGroup]="formPromotionLabel" novalidate>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Tên</label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="name"/>
            <show-error-valid [control]="formPromotionLabel.get('name')"></show-error-valid>
        </div>
    </div>
    <hr/>
    <button class="btn btn-primary pull-right" (click)="onSubmit()" [disabled]="formPromotionLabel.invalid">
        LƯU LẠI
    </button>
</form>