<form [formGroup]="promotionForm" novalidate>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Tên Khuyến Mãi (*)</label>
        </div>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="name"/>
            <show-error-valid [control]="promotionForm.get('name')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Hình Ảnh (*)</label>
        </div>
        <div class="col-sm-10">
            <p *ngIf="promotion.image">
                <span>Currently: <a href="{{api_domain}}{{promotion.image}}" target="_blank">{{promotion.image}}</a></span>
            </p>
            <input type="file" class="form-control-file" id="image" accept="image/*" (change)="onFileChange($event)">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Thumbnail Cho App (*)</label>
        </div>
        <div class="col-sm-10">
            <p *ngIf="promotion.image_thumbnail">
                <span>Currently: <a href="{{api_domain}}{{promotion.image_thumbnail}}" target="_blank">{{promotion.image_thumbnail}}</a></span>
            </p>
            <input type="file" class="form-control-file" accept="image/*" id="image_thumbnail" (change)="onFileChange($event)">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Mô Tả (*)</label>
        </div>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="short_description"/>
            <show-error-valid [control]="promotionForm.get('short_description')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Nội Dung (*)</label>
        </div>
        <div class="col-sm-10">
        	<ckeditor formControlName="content" [config] ="ckEditorConfig"></ckeditor>
            <show-error-valid [control]="promotionForm.get('content')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Danh Mục Khuyến Mãi</label>
        </div>
        <div class="col-sm-4">
            <select class="form-control" formControlName="promotion_category">
                <option value="">--SELECT--</option>
                <option *ngFor="let category of categorys" value="{{ category.id }}">{{ category.name }}</option>
            </select>
            <show-error-valid [control]="promotionForm.get('promotion_category')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Nhãn Khuyến Mãi</label>
        </div>
        <div class="col-sm-4">
            <select class="form-control" formControlName="promotion_label" *ngIf="promotionLabels">
                <option value="">--SELECT--</option>
                <option *ngFor="let label of promotionLabels" value="{{ label.id }}">{{ label.name }}</option>
            </select>
            <show-error-valid [control]="promotionForm.get('promotion_label')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Loại Khuyến Mãi</label>
        </div>
        <div class="col-sm-4">
            <select  [compareWith]="equalsObject" class="form-control" formControlName="promotion_type" *ngIf="promotionTypes">
                <option value="">--SELECT--</option>
                <option *ngFor="let type of promotionTypes" [value] ="type.id">{{ type.name }}</option>
            </select>
            <show-error-valid [control]="promotionForm.get('promotion_type')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Ngày Áp Dụng</label>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon" [owlDateTimeTrigger]="dtApplyDate">
                    <i class="fa fa-calendar"></i>
                </span>
                <input type="text" class="form-control event-date" formControlName="apply_date" [owlDateTime]="dtApplyDate"/>         
                <owl-date-time [pickerType]="'calendar'" #dtApplyDate></owl-date-time>
                <show-error-valid [control]="promotionForm.get('apply_date')"></show-error-valid>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Ngày Kết Thúc</label>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon" [owlDateTimeTrigger]="dtEndDate">
                    <i class="fa fa-calendar"></i>
                </span>
                <input type="text" class="form-control event-date" formControlName="end_date" [owlDateTime]="dtEndDate"/>         
                <owl-date-time [pickerType]="'calendar'" #dtEndDate></owl-date-time>
                <show-error-valid [control]="promotionForm.get('end_date')"></show-error-valid>
            </div>
        </div>
    </div>

    <div class="form-group row">
    	<div class="col-sm-12">
		    <button class="btn btn-primary" (click)="deletePromotionEvent()" *ngIf="promotion.id">
		        XÓA
		    </button>
		    <button class="btn btn-primary pull-right" (click)="saveEvent()" [disabled]="promotionForm.invalid">
		        LƯU LẠI
		    </button>
		</div>
	</div>

</form>