<ng-container *ngIf="errorMessage">
    <h4 *ngFor="let error of errorMessage | mapToIterable" class="error_msg">
        {{error.val}}
    </h4>
</ng-container>
<form [formGroup]="formNotification" novalidate>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Chủ Đề</label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="subject"/>
            <show-error-valid [control]="formNotification.get('subject')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Tin nhắn</label>
        </div>
        <div class="col-sm-6">
            <textarea rows="5" class="form-control" formControlName="message"></textarea>
            <show-error-valid [control]="formNotification.get('message')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row noti-image">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Hình Ảnh</label>
        </div>
        <div class="col-sm-8">
            <p *ngIf="noti.image">
                <span>Hiện tại: <a href="{{api_domain}}{{noti.image}}" target="_blank">{{noti.image}}</a></span>
            </p>
            <p *ngIf="noti.image" class="clear_image">
                <input type="checkbox" formControlName="is_clear_image"/> Xóa
            </p>
            <p *ngIf="msg_clear_image" class="msg_error">{{msg_clear_image}}</p>
            <input type="file" accept="image/*"
            (change)="onFileChange($event)" #inputImage/>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Sub_url</label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="sub_url"/>
            <show-error-valid [control]="formNotification.get('sub_url')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Danh Mục</label>
        </div>
        <div class="col-sm-8" *ngIf="categories">
            <select class="form-control" formControlName="category" (change)="changeCategory($event)">
                <option value="">--SELECT--</option>
                <option *ngFor="let cate of categories" 
                    value="{{ cate.id }}"
                >
                {{ cate.name }}</option>
            </select>
            <show-error-valid [control]="formNotification.get('category')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Scan QR Code Để Nhận</label>
        </div>
        <div class="col-sm-8">
            <select class="form-control" formControlName="is_QR_code" 
                (change)="isQRCode($event.target.value)" [attr.disabled]="check_QR ? 'disabled' : null"
            >
                <option value="false">Không</option>
                <option value="true">Có</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Nhận Tại</label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="location" [attr.disabled]="check_Location ? 'disabled' : null"/>
        </div>
    </div>

    <hr/>
    <button class="btn btn-danger" (click)="deleteNotificationEvent()" 
        *ngIf="noti.id && type_http == 'put' && (!noti.sent_date || (noti.sent_date && user_current?.role === 1))"
    >
        XÓA
    </button>
    <button class="btn btn-primary pull-right" (click)="onSubmit()">
        LƯU LẠI
    </button>
</form>