<a class="pull-left" routerLink="/hot-advs-add">Thêm Hot Advs</a>
<br>
<hr>
<div class="col-md-8 col-md-offset-2">
	<form [formGroup]="formHotAds" (ngSubmit)="onSubmit()">
		<div class="form-group row">
			<div class="col-sm-3">
				<label class="center-block"> Tên:</label>
			</div>
        	<div class="col-sm-8">	
				<input class='form-control' name="name" 
				formControlName="name"
				>
				<show-error-valid [control]="formHotAds.get('name')"></show-error-valid>	
        	</div>
        </div>
        <div class="form-group row">
	        <div class="col-sm-3">
	            <label class="center-block">Hình Ảnh:</label>
	        </div>
	        <div class="col-sm-8">
            	<input type="file" formControlName="image" class="form-control" accept="image/*"
            (change)="onFileChange($event)" #inputImage/>
            	<show-error-valid [control]="formHotAds.get('image')"></show-error-valid>
            	<button type="button" class=" clear-file btn btn-danger" (click)="clearFile()">Clear file</button>
        	</div>
        	
    	</div>
        <div class="form-group row">
			<div class="col-sm-3">
				<label class="center-block"> Nội Dung:</label>
			</div>
        	<div class="col-sm-8">	
				<textarea row="5" class='form-control' name="content" 
				formControlName="content"
				></textarea>
				<show-error-valid [control]="formHotAds.get('content')"></show-error-valid>
        	</div>
        </div>
        <div class="form-group row">
			<div class="col-sm-3">
				<label class="center-block">Button:</label>
			</div>
        	<div class="col-sm-8">	
				<div class="row">
					<div class="col-md-3">
						<button type="button" class="btn btn-info">Đăng kí</button>
					</div>
					<div class="form-check col-md-3">
					    <input type="checkbox" class="form-check-input" id="hot-check-res" formControlName="check_res">
					    <label class="form-check-label" for="hot-check-res">Hiển thị</label>
					</div>
					<div class="col-md-3">
						<button type="button" class='btn btn-success'>Xem chi tiết</button>
					</div>
					<div class="form-check col-md-3">
					    <input type="checkbox" class="form-check-input" id="hot-check-detail" formControlName="check_detail">
					    <label class="form-check-label" for="hot-check-detail">Hiển thị</label>
					</div>
				</div>
        	</div>
        </div>
        <div class="form-group row">
			<div class="col-sm-3">
				<label class="center-block"> Sub_url button Đăng kí:</label>
			</div>
        	<div class="col-sm-8">	
				<input class='form-control' name="sub_url_res" 
				formControlName="sub_url_res"
				>	
        	</div>
        </div>
        <div class="form-group row">
			<div class="col-sm-3">
				<label class="center-block"> Sub_url button Xem chi tiết:</label>
			</div>
        	<div class="col-sm-8">	
				<input class='form-control' name="sub_url_detail" 
				formControlName="sub_url_detail"
				>	
        	</div>
        </div>
        <div class="form-group row">
        	<div class="col-sm-3">
				<label class="center-block"> Trạng thái:</label>
			</div>
        	<div class="form-check col-sm-8">
			    <input  formControlName="is_draft" type="checkbox" class="form-check-input" id="is_draft">
			    <label class="form-check-label" for="is_draft">Is Draf</label>
			</div>
        </div>
        <hr>
        <div class="form-group row">
        	<button [disabled]="formHotAds.invalid" type="submit" class="pull-right btn btn-info">Lưu lại</button>
        </div>
	</form>
</div>