<div class="row">
    <div class="col-md-12" *ngIf="promotion_list">
        <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Tên Khuyến Mãi</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let promotion of promotion_list">
                    <td></td>
                    <td>{{ promotion.id }}</td>
                    <td><a href="promotion-detail/{{ promotion.id }}">{{ promotion.name }}</a></td>
                    <td><a class = "btn" href="promotion-users-detail/{{ promotion.id }}">Danh sách user</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>