<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản Lý Khuyến Mãi</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row">
    <div class="col-md-12" *ngIf="promotion_list">
        <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Tên Khuyến Mãi</th>
                    <th>Tình Trạng</th>
                    <th>Ngày Tạo</th>
                    <th>Người Triển Khai</th>
                    <th>Loại Khuyến Mãi</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let promotion of promotion_list">
                    <td></td>
                    <td>{{ promotion.id }}</td>
                    <td><a href="promotions/{{ promotion.id }}">{{ promotion.name }}</a></td>
                    <td>{{ promotion.id }}</td>
                    <td>{{ promotion.id }}</td>
                    <td>{{ promotion.id }}</td>
                    <td>{{ promotion.id }}</td>
                    <td>{{ promotion.id }}</td>
                    <td><a class = "btn btn-primary" routerLink="/users-promotions/{{ promotion.id }}">Danh sách user</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>