<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản Lý Thông Báo</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center">
    <h1>QUẢN LÝ THÔNG BÁO</h1>
</div>
<div class="row mt-50 mb-30 custom-title">
    <div class="col-xs-6 col-sm-6">
        <a class="btn custom-button" routerLink="/">
            <i class="fa fas fa-arrow-left icon-button"></i>
            TRỞ VỀ TRANG QUẢN TRỊ
        </a>
    </div>
    <div class="col-xs-6 col-sm-6">
        <a class="btn custom-button pull-right" routerLink="/notification/add">
            <i class="fa fas fa-plus icon-button"></i>
            TẠO THÔNG BÁO MỚI
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 mt-15 messsage_error" *ngIf="errorMessage">
        <h4>{{errorMessage}}</h4>
    </div>
    <div class="col-xs-12 col-sm-12 mt-15 messsage" *ngIf="message_result">
        <h4>{{message_result}}</h4>
    </div>
</div>
<div>
    <table datatable class="row-border hover" [dtOptions]='dtOptions' *ngIf="notifications">
        <thead>
            <tr>
                <th><input type="checkbox" (change)="onSelectAll($event)"/></th>
                <th>ID</th>
                <th>Tên thông báo</th>
                <th>Tình trạng</th>
                <th>Ngày gửi</th>
                <th>Người gửi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let noti of notifications" id="del-{{noti.id}}">
                <td><input type="checkbox" (change)="onSelectCKB($event, noti)" [checked]="select_checked"/></td>
                <td>{{ noti.id }}</td>
                <td><a routerLink="/notification/edit/{{ noti.id }}">{{ noti.subject }}</a></td>
                <td *ngIf="noti.is_draft">Đã gửi</td>
                <td *ngIf="!noti.is_draft">Chưa gửi</td>
                <td>{{ noti.sent_date }}</td>
                <td>{{ noti.sent_user }}</td>
                <td><a class="btn btn-primary" routerLink="/notification/detail/{{ noti.id }}">Chọn danh sách user</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row dels-noti" *ngIf="notifications">
    <div class="col-md-3">
        <select name="" class="form-control">
            <option value="1">Xóa các phản hồi được chọn</option>
        </select>
    </div>
    <div class="col-md-3">
        {{ notifications_del.length }} của {{ length_notification }} được chọn
        <button class="btn btn-danger" (click)="deleteNotificationEvent()">Thực hiện</button>
    </div>
</div>