<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Phần Quyền Cho Role</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center mb-30">
    <p class="title">Phần Quyền Cho Role</p>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Quyền Trên Modle</th>
                    <th colspan="5" class="text-center">Phân Quyền</th>
                </tr>
            </thead>
            <tbody>
                <tr class="style_font_top">
                    <td></td>
                    <td class="text-center">System Admin</td>
                    <td class="text-center">Manager</td>
                    <td class="text-center">Author</td>
                    <td class="text-center">Customer Care</td>
                    <td class="text-center">Teller</td>
                </tr>
                <tr>
                    <td colspan="6">Auth Token</td>
                </tr>
                <tr>
                    <td>Token</td>
                </tr>
                <tr class="style_border_top">
                    <td>Full</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Change</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Read</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td colspan="6" class="pd-30"></td>
                </tr>
                <tr>
                    <td colspan="6">Core</td>
                </tr>
                <tr>
                    <td>Quảng Cáo</td>
                </tr>
                <tr class="style_border_top">
                    <td>Full</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Change</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Read</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td colspan="6">Banner</td>
                </tr>
                <tr class="style_border_top">
                    <td>Full</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Change</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Read</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td colspan="6">Danh Mục</td>
                </tr>
                <tr class="style_border_top">
                    <td>Full</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Change</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Read</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td colspan="6">Danh Mục Thông Báo</td>
                </tr>
                <tr class="style_border_top">
                    <td>Full</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Change</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Read</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td colspan="6">Phản Hồi</td>
                </tr>
                <tr class="style_border_top">
                    <td>Full</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Change</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Read</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td colspan="6">Sự Kiện</td>
                </tr>
                <tr class="style_border_top">
                    <td>Full</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Change</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Read</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td colspan="6">Câu Hỏi Thường Gặp</td>
                </tr>
                <tr class="style_border_top">
                    <td>Full</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Change</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
                <tr class="style_border_top">
                    <td>Read</td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                    <td class="text-center"><input type="checkbox" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-4">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Ghi Chú</div>
                <div class="panel-body">
                    <p>Full: Được quyền xem, thêm, sửa, xóa.</p>
                    <p>Change: Được quyền xem, thêm, sửa.</p>
                    <p>Read: Được quyền xem.</p>
                </div>
            </div>
        </div>
    </div>
</div>