.mt-50{
    margin-top: 50px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-15{
    margin-top: 15px;
}
.messsage{
    color: green;
}
.row-border tr td:first-child input{
    margin-left: 6px;
}
.dels-hot{
    margin-bottom: 50px;
}
.messsage_error{
    color: red;
}