.content-user {
	padding: 8px 15px;
}
.input-password {
	padding: 5px 50px 5px 10px;
}
.file-icon {
	float: right;
	position: absolute;
	top: 0%;
	right: 15px;
	cursor: pointer;
}
p.errors {
	color: red;
}
p.info-users {
	/*padding: 15px 0;*/
	font-size: 16px;
}
.info-user-content {
	margin: 10px 0;
}
label.center-block {
	text-transform: capitalize;
}
.msg_error{
    color: red;
}