.content-user {
	padding: 8px 15px;
}
.input-password {
	padding: 5px 50px 5px 10px;
}
.file-icon {
	float: right;
	position: absolute;
	top: 0%;
	right: 15px;
	cursor: pointer;
}
p.errors {
	color: red;
}
p.title-user-edit {
	border-bottom: 2px solid black;
	padding: 10px 0;
}
p.info-users {
	padding: 15px 0;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}
.info-user-content {
	border-bottom: 2px solid black;
	margin: 10px 0;
}