<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/user-list">User</a></li>
            <li class="breadcrumb-item"><a routerLink="/user-detail">Sửa Thông tin User</a></li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<!-- <div *ngIf="user"> -->
	<form [formGroup]="formUser" novalidate>
		<div class="row content-user">
			<p class=title-user-edit>Sửa Thông tin User</p>
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block"> Email:</label>
					</div>
					<div class="col-sm-8">	
						<input class='form-control' name="email"
						formControlName="email" 
						>	
						<show-error-valid [control]="formUser.get('email')"></show-error-valid>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block">Loại User:</label>
					</div>
					<div class="col-sm-8">	
						
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block">Trạng thái:</label>
					</div>
					<div class="col-sm-8">	
						<input type="checkbox" name="is_active" value=""
				      		formControlName="is_active"
				      	>
				      	<label>Active</label>
				      	<p>Chỉ định xem người dùng này phải được coi là đang hoạt động.  Bạn nên bỏ chọn này thay vì xóa tài khoản</p>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block">Push thông báo:</label>
					</div>
					<div class="col-sm-8">	
						<span><i class="fa fa-check-square" aria-hidden="true"></i></span>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block">Ngày tạo:</label>
					</div>
					<div class="col-sm-3">	
						
					</div>
					<div class="col-sm-3">
						<label class="center-block">Ngày cập nhật:</label>
					</div>
					<div class="col-sm-3">	
						
					</div>
				</div>
			</div>
		</div>
		<div class="row info-user-content ">
			<p class="info-users">Thông tin cá nhân</p>
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block"> Họ và Tên:</label>
					</div>
					<div class="col-sm-8">	
						<input class='form-control' name="full_name" 
						formControlName="full_name" type="text"
						
						>
						<show-error-valid [control]="formUser.get('full_name')"></show-error-valid>	
	        		</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block">Ngày sinh:</label>
					</div>
		        	<div class="col-sm-8">	
						<div class="input-group">
			                <input type="text" class="form-control event-date" formControlName="birth_date" name="birth_date" [owlDateTime]="dtBirtday"/>         
			                <owl-date-time [pickerType]="'calendar'"  #dtBirtday></owl-date-time>
			                <span class="input-group-addon" [owlDateTimeTrigger]="dtBirtday">
			                    <i class="fa fa-calendar"></i>
			                </span>
							<show-error-valid [control]="formUser.get('birth_date')"></show-error-valid>	
	        			</div>
		        	</div>
	        	</div>
	        	<div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block">Số điện thoại:</label>
					</div>
		        	<div class="col-sm-8">	
						<input class='form-control' name="phone" 
						formControlName="phone"
						>
						<show-error-valid [control]="formUser.get('phone')"></show-error-valid>	
		        	</div>
	        	</div>
	        	<div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block">Chứng minh nhân dân:</label>
					</div>
		        	<div class="col-sm-8">	
						<input class='form-control' name="personal_id" 
						formControlName="personal_id"
						>
						<show-error-valid [control]="formUser.get('personal_id')"></show-error-valid>	
		        	</div>
	        	</div>
		        <div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block">Quốc gia :</label>
					</div>
		        	<div class="col-sm-8">	
						<input class='form-control' name="country" 
						formControlName="country"
						>
						<show-error-valid [control]="formUser.get('country')"></show-error-valid>	
		        	</div>
		        </div>
		        <div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block">Địa chỉ:</label>
					</div>
		        	<div class="col-sm-8">	
						<input class='form-control' name="address" 
						formControlName="address"
						>
						<show-error-valid [control]="formUser.get('address')"></show-error-valid>	
		        	</div>
		        </div>
		        <div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block">Thành phố:</label>
					</div>
		        	<div class="col-sm-8">	
						<input class='form-control' name="city" 
						formControlName="city"
						>
						<show-error-valid [control]="formUser.get('city')"></show-error-valid>	
		        	</div>
		        </div>
		        <div class="form-group row">
			        <div class="col-sm-3">
			            <label class="center-block">Hình Ảnh:</label>
			        </div>
			        <div class="col-sm-8">
		            	<input type="file" id="avatar" class="form-control" accept="image/*"
		            	(change)="onFileChange($event)"/>
		            	<show-error-valid [control]="formUser.get('image')"></show-error-valid>
		        	</div>
		    	</div>
		    	<div class="form-group row">
					<div class="col-sm-3">
						<label class="center-block"> Mật khẩu mới:</label>
					</div>
		        	<div class="col-sm-8">	
						<input class='input-password form-control' type="password" name="password" 
						formControlName="password"
						#input
						[readonly]="readonly_value"
						>
						<button (click)="showPassword(input)" type="button" class="file-icon btn btn-default"><span class="fa fa-eye"></span></button>
						<br>
						<input type="checkbox" (change)="ChangeReadonly($event)">  Thay đổi mật khẩu(Chức năng này chì dành cho System Admin)
						<show-error-valid [control]="formUser.get('password')"></show-error-valid>	
		        	</div>
	        	</div>
			</div>
		</div>
		<div class='col-md-8 col-md-offset-2'>
			<button type="button" class="pull-left btn btn-danger">Xóa</button>
			<button [disabled]="formUser.pristine" type="button" class="pull-right btn btn-info">Lưu lại</button>
		</div>
	</form>
<!-- </div> -->




