.multiselect_footer{
    margin-top: 10px;
    margin-bottom: 30px;
}
.button-selectall{
    color: black;
    background-color: #fff;
    border-color: black;
    margin-bottom: 10px;
    margin-right: 20px;
}