<!DOCTYPE html> 
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}"> 

    <link href="{{ STATIC_URL }}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}assets/websites/css/global.css" rel="stylesheet" type="text/css" />
    

    {% block metacontent %}{% endblock %}
    {% block meta_title_home %}
      <title>{% block meta_title %}{% endblock %}</title>
    {% endblock %}
    {% block extrastylesheet %}{% endblock %}

    <script type="text/javascript">
        var STATIC_URL = '{{ STATIC_URL }}';
    </script>

</head>

<body id="{% block body_id %}body{% endblock %}">
<div class="layout cd-main-content">
    <!-- Start Header -->
    <div class="header">
        <div class="container">
            <div class="col-md-2 col-xs-4">
                <img src="{{ STATIC_URL }}assets/images/logo.png" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-md-10 col-xs-8">
                <div class="row hidden-xs hidden-sm">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Select Language</a></li>
                    </ul>
                </div>
                <nav class="row navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar-brand" href="#">Project name</a> -->
                    </div>
                    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px; padding: 0px;">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="row">
                    <ol class="breadcrumb">
                        {% block breadcrumb %}{% endblock %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->

    <!-- Start Body -->
    <div class="body-wrap">
        <div class="container">  
            {% block main_content %} {% endblock %}
        </div>
    </div>
    <!-- End Body -->

    <!-- Start Footer -->
    {% include 'footer.html' %}
    <!-- End Footer -->
</div>
</body>
<footer>
    <script src = "{{ STATIC_URL }}assets/js/jquery.min.js"></script>
    <script src = "{{ STATIC_URL }}assets/js/bootstrap.min.js"></script>
    <script src = "{{ STATIC_URL }}assets/js/jquery.parallax.min.js"></script> 
    <script src = "{{ STATIC_URL }}assets/js/parallax.min.js"></script> 
    {% block extrascript %}{% endblock %}
</footer>
</html>
