<div class="row text-center">
    <h1>CHI TIẾT KHUYÊN MÃI</h1>
</div>
<div class="row mt-50 mb-30">
    <div class="col-xs-7 col-sm-7">
        <a class="btn btn-primary" routerLink="/promotions">TRỞ VỀ QUẢN LÝ KHUYẾN MÃI</a>
    </div>
    <div class="col-xs-5 col-sm-5 ">
        <a class="btn btn-primary btn-block pull-right" routerLink="/notification/add">CẬP NHẬT THÔNG BÁO CHO KHUYẾN MÃI</a>
        <a class="btn btn-primary btn-block pull-right" routerLink="/notification/add">TỔNG HỢP TRIỂN KHAI KHUYẾN MÃI</a>
    </div>
</div>
<app-user-multiselect 
	[user_list_left]="user_list_left" 
	[user_list_right]="user_list_right" 
	(save)="countChange($event)">	
</app-user-multiselect>