	<div class="row head-content">
		<div class="pull-left child-head">
			Phí Giao Dịch
		</div>
		<div class="pull-right child-head">
			<a routerLink="/fee/add"><span class="glyphicon glyphicon-plus"></span>
			Thêm Phí Giao Dịch
			</a>
		</div>
	</div>
	<div class="row">
		<div *ngIf="errorText else noneError" class="alert-danger">
			<div class="alert alert-danger" role="alert">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  {{errorText}}
			</div>
		</div>
	</div>
<ng-template #noneError>
	<div class="wrapper-table">
		<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
		<thead>
			<tr class="">
				<th><input type="checkbox" name=""></th>
				<th>Phí</th>
				<th>Vị trí</th>
				<th></th>
			</tr>
		</thead>
		<tbody *ngIf="fees">
			<tr *ngFor="let fee of fees.message">
				<td class="checkbox-tb"><input type="checkbox" name=""></td>
				<td class="fee-tb">{{fee.fee}} {{fee.fee_type}}</td>
				<td class="position-tb">{{fee.position}}</td>
				<td *ngIf="fee.is_apply"><div class="apply-fee text-center">Đang Áp dụng phí</div></td>
				<td *ngIf="!fee.is_apply"><div class="apply-fee text-center">Áp dụng phí</div></td>
			</tr>
			<hr>
		</tbody>
	</table>
	</div>
</ng-template>
