
/* custom data table */
.head-content{
	margin: 15px 0px;
	font-size: 15px;
	padding: 5px 0;
}
.pull-right.child-head a{
	color: #ffffff;
}
.pull-right.child-head a:hover{
    text-decoration: none;

}
.wrapper-table{
	padding: 10px;
	border: 1px solid #000;
	margin-bottom: 30px;
}
.fee-tb{
	width: 120px;
	
}
.checkbox-tb{
	width: 70px;
	
}
table.dataTable thead .sorting_asc{
	width: 70px;
    padding-left: 10px;
}
table.dataTable thead .sorting_desc{
	width: 70px;
    padding-left: 10px;
}
.under-table{
	margin-bottom: 50px;
}
