/*Begin content banner*/
.content-banner {
	margin: 15px 0px;
	border-bottom: 2px solid black;
	padding: 0 0 10px 0px;
}
.card-list {
	margin-top: -10px;
}
a.pull-left {
	color: #333333;
}
a.pull-left:hover {
	text-decoration: none;
}
.checkbox-banner {
	padding: 10px;
}
.button-banner {
	margin-left: 15px;
}
.mb-30{
    margin-bottom: 30px;
}