<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/banner-list">Banner</a></li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class='row content-banner'>
	<a class="pull-left" routerLink="/banner-list">Banner</a>
	<a class="pull-right" routerLink="/banner-add">Thêm banner</a>
</div>
<br>
<div class="table card-list">
	<div *ngIf="message_success" class="alert alert-success">
		{{ message_success }}
	</div>
	<div *ngIf="message_error" class="alert alert-danger">
		{{ message_error }}
	</div>
	<div class="alert alert-success" *ngIf="message_result">
        {{message_result}}
    </div>
	<table id="table-user" datatable [dtOptions]='dtOptions' [dtTrigger]="dtTrigger" class='row-border hover'>
		<thead>
	      	<tr>
	      		<th class='checkbox-banner'><input type="checkbox" name="allCheckBanner" value="allCheckBanner"(change)="checkAllBanner($event)"/>  Banner</th>
	      	</tr>
    	</thead>
    	<tbody>
   			<tr *ngFor ="let banner of banners" id="delete{{banner.id}}">
   				<td><input type="checkbox"
   					value={{banner.id}} name="banner[]" [checked]="isChecked"
   					(change)="checkItemChange($event, banner)"/> {{ banner.sub_url }}</td>
   			</tr>
    	</tbody>
	</table>
	<hr>
	<div class='row'>
		<div class="col-md-3">
			<select name="" class="form-control">
				<option value="">Xóa các banner được chọn</option>
			</select>
		</div>
		<div class="col-md-3">
			{{banner_del.length}} của {{banners.length}} được chọn
			<button (click)="deleteBannersCheckbox()" type="button" class="button-banner btn btn-danger">Thực hiện</button>
		</div>
	</div>
</div>

