<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/feedback-list">Phản hồi</a></li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->

<div class='row title-feedback'>
	<a class="pull-left" routerLink="/feedback-list">Phản hồi</a>
	<a class="pull-right" routerLink="/feedback/statistics">Thống kê tình trạng phản hồi</a>
</div>
<div *ngIf="message_result" class="alert alert-success">
    {{ message_result }}
</div>
<table id="table_feedback" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
	<thead>
		<tr class="tr-feedbacks">
            <th class="checkbox-feedback"><input type="checkbox" 
                name="allFeedbacks" id="allCheck" value="allFeedbacks" (change)="selectAllCheckbox($event);"/>
            </th>
            <th>Phản hồi </th>
            <th>Người gửi</th>
            <th>Ngày nhận</th>
            <th>Rating</th>
            <th>Trạng thái xử lý</th>
            <th>Ngày xử lý </th>
        </tr>
	</thead>
	<tbody>
        <tr *ngFor="let feedback of feedbacks" id="delete{{feedback.id}}">
            <td class="tr-feedbacks">
                <label class="checkboxSelect">
                <input type="checkbox" 
                name="{{ feedback.id }}"
                value="{{ feedback.id }}"
                id="{{ feedback.id }}"
                [checked]="checkbox"
                (change)="changeCheckboxFeedback($event, feedback)"
                />
                </label>
            </td>
            <td><a routerLink="/feedback-detail/{{ feedback.id }}">{{ feedback.subject }}</a></td>
            <td><a routerLink="/feedback-detail/{{ feedback.id }}">{{ feedback.name }}</a></td>
            <td>{{ feedback.sent_date |date: 'dd/MM/yyyy'}}</td>
            <td>{{ feedback.rate }}</td>
            <td>{{ feedback.status }}</td>
            <td>{{ feedback.sent_date|date: 'dd/MM/yyyy' }}</td>
        </tr>
    </tbody>
</table>
<div class='row area-feedback-footer'>
	<div class="col-md-3">
		<select name="" class="form-control">
			<option value="">Xóa các phản hồi được chọn</option>
		</select>
	</div>
	<div class="col-md-3" *ngIf="feedbacks">
		{{feedback_del.length}} của {{feedbacks.length}} được chọn
		<button (click)="confirmDelete()" type="button" class="button-feedback btn btn-danger">Thực hiện</button>
	</div>
</div>
