/*Begin content feedback*/

/*=== Customize table feedback ==*/
.checkbox-feedback {
	padding: 10px;
}
#table_feedback_wrapper {
	overflow: scroll;
}
/*=== End customize table feedback ==*/
.title-feedback {
	margin: 15px 0px;
	border-bottom: 2px solid black;
}
.title-feedback a {
	font-size: 15px;
	padding: 5px 0;
	text-decoration: none;
	color: #333333;
}
.title-feedback a:hover {
	text-decoration: none;
}
/*css for feedback list footer*/
.area-feedback-footer {
	margin:10px 0px 15px -15px;
}
.button-feedback {
	margin-left: 15px;
}
/*End content feedback*/