<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản Lý Khuyến Mãi</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row mt-50 mb-15 custom-title">
    <div class="col-xs-12 col-sm-6">
        <a class="btn custom-button" routerLink="/">
            <i class="fa fas fa-arrow-left icon-button"></i>
            TRỞ VỀ TRANG QUẢN TRỊ
        </a>
    </div>
    <div class="col-xs-12 col-sm-6">
        <a class="btn custom-button pull-right" [routerLink]="['/promotions/add/', {lang: lang}]">
            <i class="fa fas fa-plus icon-button"></i>
            TẠO KHUYẾN MÃI MỚI
        </a>
    </div>
</div>
<div *ngIf="message_result" class="row">
    <div class="col-md-12">
        <div *ngIf="message_result" class="alert alert-success">
            {{ message_result }}
        </div>
    </div>
</div>
<div class="row mb-30 language">
    <div class="col-xs-12 col-sm-12">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary {{ lang === 'vi' ? 'active' : '' }}"
                (click)="changeLangVI()"
            >VI</button>
            <button type="button" class="btn btn-primary {{ lang === 'vi' ? '' : 'active' }}"
                (click)="changeLangEN()"
            >EN</button>
        </div> 
    </div>
</div>
<div class="row custom_table">
    <div class="col-md-12">
        <div class="datatable-content">
            <table id="promotion_table_id" datatable [dtOptions]="dtOptions"  dt-instance="dtInstanceCallback" class="row-border hover"  *ngIf="promotion_list">
                <thead>
                    <tr>
                        <th class="text-center"><input type="checkbox" name="select_all" id="select-all" (change)="selectAllEvent($event);"></th>
                        <th>ID</th>
                        <th>Tên Khuyến Mãi</th>
                        <th>Tình Trạng</th>
                        <th>Ngày Tạo</th>
                        <th>Người Triển Khai</th>
                        <th>Loại Khuyến Mãi</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-data" *ngFor="let promotion of promotion_list">
                        <td class="text-center"><input type="checkbox" (change)="selectCheckbox($event);"/></td>
                        <td>{{ promotion.id }}</td>
                        <td><a [routerLink]="['/promotions/', promotion.id, 'change', {lang: lang}]">{{ promotion.name }}</a></td>
                        <td>{{ promotion.is_draft ? "Draft" : "Đã Triển Khai" }}</td>
                        <td>{{ promotion.created | date : 'dd/MM/yyyy'}}</td>
                        <td>{{ promotion.user_implementer?.email }}</td>
                        <td>{{ promotion.promotion_type?.name }}</td>
                        <td class="text-center">
                            <img src="{{api_domain}}{{promotion.QR_code}}" *ngIf="promotion.QR_code; else create_qrcode_btn" height="50px" width="50px" />
                            <ng-template #create_qrcode_btn>
                                <button  class="btn btn-primary text-center" (click)="generator_QR_code($event, promotion.id)"
                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i>Tạo QR Code">Tạo QR Code</button>
                            </ng-template>
                            
                        </td>
                        <td class="text-center">
                            <a class = "btn btn-primary" [routerLink]="['/users-promotions/', promotion.id, {lang: lang}]">Danh sách user</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class='row'>
    <div class="col-md-3">
        <select name="" class="form-control">
            <option value="">Xóa các khuyến mãi được chọn</option>
        </select>
    </div>
    <div class="col-md-3">
        {{length_selected}} của {{length_all}} được chọn
        <button (click)="deletePromotionListEvent()" type="button" class="btn btn-danger">Thực hiện</button>
    </div>
</div>
