<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản Lý Khuyến Mãi</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row mt-50 mb-30">
    <div class="col-xs-6 col-sm-6">
        <a class="btn btn-primary" routerLink="/">TRỞ VỀ TRANG QUẢN TRỊ</a>
    </div>
    <div class="col-xs-6 col-sm-6">
        <a class="btn btn-primary pull-right" routerLink="/promotions/add"><span _ngcontent-c1="" class="glyphicon glyphicon-plus"></span>&nbsp;TẠO KHUYẾN MÃI MỚI</a>
    </div>
</div>
<div *ngIf="message_result" class="row">
    <div class="col-md-12">
        <div *ngIf="message_result" class="alert alert-success">
            {{ message_result }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="datatable-content">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"  *ngIf="promotion_list">
                <thead>
                    <tr>
                        <th><input type="checkbox" name="select_all" id="select-all" (change)="selectAllEvent($event);"></th>
                        <th>ID</th>
                        <th>Tên Khuyến Mãi</th>
                        <th>Tình Trạng</th>
                        <th>Ngày Tạo</th>
                        <th>Người Triển Khai</th>
                        <th>Loại Khuyến Mãi</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let promotion of promotion_list">
                        <td><input type="checkbox" (change)="selectCheckbox($event);"/></td>
                        <td>{{ promotion.id }}</td>
                        <td><a routerLink="/promotions/{{ promotion.id }}/change">{{ promotion.name }}</a></td>
                        <td *ngIf="promotion.is_draft; else public">Draft</td>
                        <ng-template #public>
                           <td>Đã Triển Khai</td>
                        </ng-template>
                        <td>{{ promotion.created | date : 'dd/MM/yyyy'}}</td>
                        <td></td>
                        <td><span *ngIf="promotion.promotion_type">{{ promotion.promotion_type.name }}</span></td>
                        <td><button class="btn btn-primary text-center" (click)="generator_QR_code()">)">Tạo QR Code</button></td>
                        <td><a class = "btn btn-primary" routerLink="/users-promotions/{{ promotion.id }}">Danh sách user</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class='row'>
    <div class="col-md-3">
        <select name="" class="form-control">
            <option value="">Xóa các khuyến mãi được chọn</option>
        </select>
    </div>
    <div class="col-md-3">
        {{length_selected}} của {{length_all}} được chọn
        <button (click)="deletePromotionListEvent()" type="button" class="btn btn-danger">Thực hiện</button>
    </div>
</div>
