<ol class="breadcrumb">
    <li><a routerLink='/'>Trang Chủ</a></li>
    <li class="active"><a routerLink="/user-permission">Quản Lý Phân quyền User</a></li>
 </ol>
<div class="row text-center">
    <h1>PHÂN QUYỀN USER</h1>
</div>
<div class="row">
	<div class="wrap-head">
		<p>Các Quyền</p>
		<ul class="list-role" >
			<li><input class="role_checkbox" type="radio" name="">System Admin</li>
			<li><input class="role_checkbox" type="radio" name="">Manager</li>
			<li><input class="role_checkbox" type="radio" name="">Customer Care</li>
			<li><input class="role_checkbox" type="radio" name="">Author</li>
			<li><input class="role_checkbox" type="radio" name="">Teller</li>
		</ul>
	</div>
</div>


