<ol class="breadcrumb">
    <li><a routerLink='/'>Trang Chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Quản Lý Phân quyền User</li>
 </ol>
<div class="row text-center">
    <p class="title">PHÂN QUYỀN USER</p>
</div>
<div class="row">
    <div *ngIf="roles" class="wrap-head">
        <p>Các Quyền:</p>
        <ul *ngFor="let role of roles; let i = index;"  class="list-role" >
            <li>
                <input class="role_checkbox" type="radio" name="role" id='role_{{role.id}}' value='{{role.id}}'  [checked]="i == 0" (change)='getUserRight( role.id )'>
                <label for="role_{{role.id}}">{{role.name}}</label>
            </li>
        </ul>
    </div>
    <div *ngIf="!roles" class="wrap-head">
        <p>Chưa có Quyền nào.</p>
    </div>
</div>
<div class="row head-table">
    <div class="col-md-6 text-center">
        DANH SÁCH TẤT CẢ USER
        
    </div>
    <div class="col-md-6 text-center">
        DANH SÁCH TẤT CẢ USER ĐƯỢC CHỌN
    </div>
</div>
<div class="row multiselect_user">
    <div class="col-md-5 datatable-content">
        <table datatable  [dtOptions]="dtOptions_left"  [dtTrigger]="dtTrigger_left" class="row-border hover" id="table_id_1">
            <thead>
                <tr class="title-row">
                    <th><input type="checkbox" name="select_all_left" id="select-all-left" (change)="selectAllPageLeft($event);"/></th>
                    <th>Username</th>
                    <th>Họ Và Tên</th>
                    <th>Ngày Sinh</th>
                    <th>Email</th>
                    <th>Số Điện Thoại</th>
                    <th>Trạng Thái Thẻ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of user_list_left">
                    <td><input type="checkbox"/></td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.birth_date }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.barcode }}</td>
                </tr>
            </tbody>
        </table>
        <button *ngIf="!check_all_left" class="btn btn-primary pull-right" (click)="selectAllEventLeft(true);" >CHỌN TẤT CẢ</button>
        <button *ngIf="check_all_left" class="btn btn-primary pull-right" (click)="selectAllEventLeft(false);" >XOÁ TẤT CẢ</button>
    </div>
    <div class="col-md-2 button-move">
        <button class="btn btn-danger move_item" (click)="move_right()"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </button>
        <button class="btn btn-danger move_item" (click)="move_left()"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> </button>
    </div>
    <div class="col-md-5 datatable-content">
        <table id='table_id_2' datatable [dtOptions]="dtOptions_right" [dtTrigger]="dtTrigger_right"  class="row-border hover">
            <thead>
                <tr class="title-row">
                    <th><input type="checkbox" name="select_all_right" id="select-all-right" (change)="selectAllPageRight($event);"/></th>
                    <th>Username</th>
                    <th>Họ Và Tên</th>
                    <th>Ngày Sinh</th>
                    <th>Email</th>
                    <th>Số Điện Thoại</th>
                    <th>Trạng Thái Thẻ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of user_list_right">
                    <td><input type="checkbox"/></td>
                    <td>{{ user.id }}</td>
                    <td> {{ user.full_name }}</td>
                    <td>{{ user.birth_date | date : 'dd/MM/yyyy'}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.barcode }}</td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <button *ngIf="!check_all_right" class="btn btn-primary " (click)="selectAllEventRight(true);" >CHỌN TẤT CẢ</button>
            <button *ngIf="check_all_right" class="btn btn-primary" (click)="selectAllEventRight(false);" >XOÁ TẤT CẢ</button>
            <button class="btn btn-success btn-save pull-right" (click)="setRoleUser()" >LƯU</button>
        </div>
    </div>
</div>