<ol class="breadcrumb">
    <li><a routerLink='/'>Trang Chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Phân quyền User</li>
 </ol>
<div class="row text-center">
    <p class="title">PHÂN QUYỀN USER</p>
</div>
<div class="row">
    <div *ngIf="roles" class="wrap-head">
        <p>Các Quyền:</p>
        <ul *ngFor="let role of roles; let i = index;"  class="list-role" >
            <li>
                <input class="role_checkbox" type="radio" name="role" id='role_{{role.id}}' value='{{role.id}}'  [checked]="i == 0" (change)='getUserListByRole( role.id )'>
                <label for="role_{{role.id}}">{{role.name}}</label>
            </li>
        </ul>
    </div>
    <div *ngIf="!roles" class="wrap-head">
        <p>Chưa có Quyền nào.</p>
    </div>
</div>

<app-user-multiselect 
    [user_list_left]="user_list_left" 
    [user_list_right]="user_list_right" 
    (save)="setRoleForUser($event)"
    >
</app-user-multiselect>
